<div>
  <div class="text-center">
    <h2>
      <localize key="io.locationProblem.title"></localize>
    </h2>
    <p class="lead">
      <localize key="io.locationProblem.description"></localize>
    </p>
  </div>
  <div class="col-md-12 order-md-1">
    <div *ngIf="hasProblems()" class="row">
      <div class="alert alert-danger">
        <localize key="dataUploader.existingProblems"></localize>
      </div>
    </div>
    <div *ngIf="message != null" class="row">
      <div class="alert alert-danger">{{message}}</div>
    </div>
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-4">
          <label>
            <localize key="dataUploader.locationContext"></localize>
          </label>
        </div>
        <div class="col-sm-2">
          <label>
            <localize key="dataUploader.unknownLocation"></localize>
          </label>
        </div>
        <div class="col-sm-4">
          <label>
            <localize key="dataUploader.synonymn"></localize>
          </label>
        </div>
        <div class="col-sm-2">
          <label>
            <localize key="dataUploader.actions"></localize>
          </label>
        </div>
      </div>
      <div *ngFor="let problem of problems; let i = index;">
        <location-problem [problem]="problem" [configuration]="configuration" [index]="i" (onError)="handleError(e)"></location-problem>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" (click)="onCancel()" class="btn" role="button">
            <span class="ui-button-text">
              <localize key="io.cancel"></localize>
            </span>
          </button>
          <button type="submit" (click)="onNext()" class="btn btn-primary" role="button" [disabled]="hasProblems()">
            <span class="ui-button-text">
              <localize *ngIf="configuration.termProblems != null" key="io.next"></localize>
              <localize *ngIf="configuration.termProblems == null" key="io.ok"></localize>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>