<div class="row">
  <form #problemForm="ngForm">
    <div class="col-sm-4">
      <ol *ngIf="problem.context.length > 0">
        <li *ngFor="let context of problem.context">{{context.label}} ({{context.type}})</li>
      </ol>
    </div>
    <div class="col-sm-2 error-message">{{problem.label}} ({{problem.typeLabel}})</div>
    <div *ngIf="!problem.resolved">
      <div class="col-sm-4">
        <input [name]="index + '-name'" [(ngModel)]="entityLabel" [typeaheadAsync]="true" [typeahead]="dataSource" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadOptionsLimit]="7" typeaheadOptionField="name" class="form-control">
      </div>
      <div class="col-sm-2">
        <i [ngClass]="{disabled: !hasSynonym}" class="fa fa-2x fa-compress" (click)="createSynonym()" [title]="'dataUploader.createSynonymFromLocationTooltip' | localize"></i>
        <i class="fa fa-2x fa-times-circle" (click)="ignoreDataAtLocation()" [title]="'dataUploader.ignoreAtLocationTooltip' | localize"></i>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="problem.resolved">
      <div *ngIf="problem.action.name == 'SYNONYM'">
        <a (click)="toggle()"> <i class="fa fa-caret-right" aria-hidden="true"></i> <i class="fa fa-caret-down" style="display: none;" aria-hidden="true"></i> <localize key="dataUploader.resolvedSynonym"></localize> [{{problem.action.label}}]
        </a>
        <span *ngIf="show">
          <ul>
            <localize key="dataUploader.locatedWithin"></localize>
            <li *ngFor="let ancestor of problem.action.ancestors">{{ancestor.label}}</li>
          </ul>
        </span>
      </div>
      <div *ngIf="problem.action.name == 'IGNOREATLOCATION'">
        <localize key="dataUploader.resolvedIgnoreAtLocation"></localize>
        [{{problem.action.label}}]
      </div>
      <div class="inline-actions">
        <i class="fa fa-undo" (click)="undoAction()" [title]="'dataUploader.undoFixedLocationTooltip' | localize"></i>
      </div>
    </div>
  </form>
</div>