<div class="row-holder">    
  <div>
    <form #problemForm="ngForm">
      <div class="inline-value">{{problem.attributeLabel}}</div>    
      <div class="inline-value error-message">{{problem.label}}</div>
      <div *ngIf="!problem.resolved">      
        <div class="inline-combo">
          <select class="select-area" [(ngModel)]="problem.synonym" (change)="setSynonym()" name="synonym">
            <option value=""></option>          
            <option *ngFor="let opt of options" [value]="opt.id">{{opt.label}}</option>
          </select>
        </div>
        <div class="inline-actions">
          <i aria-hidden="true" data-icon="&#xe900;" class="icon-synonym_icon" (ngClass)="{disabled: !hasSynonym}" (click)="createSynonym()" [title]="'dataUploader.createSynonymCategoryTooltip' | localize" ></i>
          <i *ngIf="format != 1" aria-hidden="true" data-icon="&#xe901;" class="icon-new_location_icon" (click)="createOption()" [title]="'dataUploader.createNewOptionTooltip' | localize" ></i>          
          <span class="fa-stack fa-lg" [title]="'dataUploader.ignoreCategoryTooltip' | localize" (click)="ignoreValue()">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x"></i>
          </span>
        </div>
      </div>
      <div *ngIf="problem.resolved">
        <div class="inline-combo" *ngIf="problem.action.name == 'OPTION'">
          <localize key="dataUploader.resolvedCategoryOption"></localize>
        </div>            
        <div class="inline-combo" *ngIf="problem.action.name == 'SYNONYM'">
          <localize key="dataUploader.resolvedSynonym"></localize> [{{problem.action.label}}]
        </div> 
        <div class="inline-combo" *ngIf="problem.action.name == 'IGNORE'">
          <localize key="dataUploader.resolvedIgnoreCategory"></localize> [{{problem.label}}]
        </div> 
        <div class="inline-actions">    
          <i class="fa fa-undo" (click)="undoAction()" [title]="'dataUploader.undoFixedCategoryTooltip' | localize" ></i> 
        </div>
      </div>
    </form>
  </div>
</div>