<div class="new-admin-design-main">
  <cgr-header></cgr-header>
  <loading-bar></loading-bar>

  <div id="app-container" class="container">
    <form #form="ngForm">
      <div class="form-group row" *ngIf="types">
        <label for="code">Geo Object Type</label>
        <div class="col-10">
          <select id="code" name="code" class="form-control" [(ngModel)]="code" required>
            <option></option>
            <option *ngFor="let type of types" value={{type.code}}>{{type.label}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="code">Shapefile</label>
        <div class="col-10">
          <input name="file" type="file" ng2FileSelect [uploader]="uploader" required />
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="onClick()" >Submit</button>
      </div>
    </form>
  </div>
</div>
