<div class="modal-body">
  
  <message></message>
  <loading-bar></loading-bar>

  <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && onSubmit()">    
        <fieldset>            
          <div class="heading text-center">
            <h1><localize key="account.invite.user.header"></localize></h1>
          </div>      
          
          <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>
          
          <div class="row">
            <div class="col-md-12">
              <label><localize key="account.email"></localize></label>
              <input type="text" [(ngModel)]="invite.email" name="email" required #aemail="ngModel" email>
              <div *ngIf="aemail.errors?.email && invite.email && invite.email.length > 0" style="float:none;" class="inline-error-message">
                <localize key="account.email.validation"></localize>
              </div>                                          
            </div>
          </div>   
          
          <div style="margin-top:30px;">
            <role-management *ngIf="invite.roles" [newInstance]="true" [roles]="invite.roles" (onRoleIdsUpdate)="onRoleIdsUpdate($event)"></role-management>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="button-holder">
                <input type="button" [value]="'io.cancel' | localize" class="btn btn-default" (click)="cancel()" />              
                <input type="submit" [value]="'io.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid && roleIds.length > 0)" />
              </div>
            </div>
          </div>
        </fieldset>
  </form>
</div>
