.modal-section-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-form .label-holder {
	width: 20%;
	margin: 0;
}

.modal-form .holder {
	width: 80%;
	border-left: none;
}

.inline-radio-input {
	height: auto;
}






.radio {
	margin: 16px 0;
	cursor: pointer;
}

.radio input {
	display: none;
}

.radio input+span {
	line-height: 20px;
	height: 20px;
	padding-left: 20px;
	display: block;
	position: relative;
}

.radio input+span:not(:empty) {
	padding-left: 30px;
}

.radio input+span:before,
.radio input+span:after {
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
}

.radio input+span:before {
	background: #D1D7E3;
	/* -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
	transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); */
	/* transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
	transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2); */
}

.radio input+span:after {
	background: #fff;
	-webkit-transform: scale(0.78);
	transform: scale(0.78);
	/* -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
	transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); */
	/* transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4); */
}

.radio input:checked+span:before {
	-webkit-transform: scale(1.04);
	transform: scale(1.04);
	background: #6BA542;
}

.radio input:checked+span:after {
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	/* -webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease; */
}

/* .radio:hover input+span:before {
	-webkit-transform: scale(0.92);
	transform: scale(0.92);
}

.radio:hover input+span:after {
	-webkit-transform: scale(0.74);
	transform: scale(0.74);
}

.radio:hover input:checked+span:after {
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
} */

