<div>

  <message></message>

  <loading-bar></loading-bar>
  <form>
    <fieldset>
      
      <div *ngIf="_roles">

        <!-- SRA -->
        <div *ngIf="_roles.SRA" class="row" style="padding: 20px;">
          <div class="col-sm-12">
            <boolean-field [(value)]="_roles.SRA.assigned" (change)="onToggleSRA($event, _roles.SRA)"
              [label]="_roles.SRA.label.localizedValue" [disable]="!isSRA"></boolean-field>
          </div>
        </div>

        <div *ngFor="let org of _roles.ORGANIZATIONS" class="row-holder">

          <div class="heading">
            <h4>{{org.ORGANIZATIONLABEL}}</h4>
          </div>


          <!-- Organization administrator -->
          <div *ngIf="org.RA" class="row" style="padding: 20px;">
            <div class="col-sm-12">
              <boolean-field [(value)]="org.RA.assigned" (change)="onToggleOrgRA($event, org)"
                [label]="org.RA.label.localizedValue" [disable]="_roles.SRA && _roles.SRA.assigned"></boolean-field>
            </div>
          </div>

          <!-- Organization GeoObjectTypes -->
          <div class="row">
            <div class="col-sm-12 org-container" style="padding-left:50px;padding-right:50px;">

              <fieldset [disabled]="(org.RA && org.RA.assigned) || (_roles.SRA && _roles.SRA.assigned)">
                <div *ngFor="let roleGroup of org.GEOOBJECTTYPEROLES; let i = index">
              
                  <div class="heading">
                    <h4>{{roleGroup.GEOOBJECTTYPELABEL}}</h4>
                  </div>
              
                  <label class="radio" *ngFor="let role of roleGroup.GEOOBJECTTYPEROLESGROUP">
                    <input type="checkbox" [value]="role.name" [checked]="roleGroup.ENABLEDROLE === role.name" (change)="setGroupRole(roleGroup, role, $event)"
                      [name]="role.orgCode + role.geoObjectTypeCode" >
                    <span style="font-weight: 400;">{{role.label.localizedValue}}</span>
                  </label>
              
                </div>
              </fieldset>

            </div>
          </div>

        </div> <!-- End organizations row -->

      </div>

    </fieldset>
  </form>
</div>