
<div class="crtable-detail-container">
	<h3 class="action-detail-header">{{action.actionLabel}}</h3>
	<div class="detail-content">
	  <label class="detail-label">Label : </label><input class="detail-value" type="text" [(ngModel)]="action.geoObjectJson.properties.localizedDisplayLabel">
	  
	  <label class="detail-label">Code : </label><input class="detail-value" type="text" [(ngModel)]="action.geoObjectJson.properties.code">
	  
	  <label class="detail-label">Geometry : </label><label class="detail-value">{{action.geoObjectJson.geometry.type}}</label>
	  
	  <label class="detail-label">GeoObjectType : </label><label class="detail-value">{{action.geoObjectJson.properties.type}}</label>
	  
	  <label class="detail-label"><localize key="change.request.status"></localize> : </label>
	  <select [(ngModel)]="action.approvalStatus" >
		  <option value="REJECTED"><localize key="change.request.status.rejected"></localize></option>
		  <option value="ACCEPTED"><localize key="change.request.status.accepted"></localize></option>
		  <option value="PENDING"><localize key="change.request.status.pending"></localize></option>
		</select>
	  
	  <label class="detail-label"><localize key="change.request.action.detail.contributorNotes"></localize> : </label><textarea class="detail-value" [(ngModel)]="action.contributorNotes" ></textarea>
    
    <label class="detail-label"><localize key="change.request.action.detail.maintainerNotes"></localize> : </label><textarea class="detail-value" [(ngModel)]="action.maintainerNotes" ></textarea>
	  
	  <button (click)="applyAction()" class="btn btn-primary detail-accept"><localize key="modal.button.submit"></localize></button><button (click)="unlockAction()" class="btn detail-reject"><localize key="modal.button.cancel"></localize></button>
	</div>
</div>