<div class="modal-body text-center">
    <div>
      Showing for date: {{forDate}}
    </div>
    
    <form class="modal-form" style="overflow: visible;">
        <div class="row-holder">
            <div class="label-holder"></div>
            <div class="holder">
                <div class="btn-group geobject-editor-tab-holder">
                    <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 0}" (click)="this.changePage(0);">
                        <localize key="geoobject.editor.tabZero"></localize>
                    </label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 1}" (click)="this.changePage(1);">
                        <localize key="geoobject.editor.tabOne"></localize>
                    </label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 2}" (click)="this.changePage(2);">
                        <localize key="geoobject.editor.tabTwo"></localize>
                    </label>
                </div>
            </div>
        </div>

        <!-- Attributes tab -->
        <geoobject-shared-attribute-editor 
            *ngIf="this.tabIndex === 0 && this.geoObjectType && this.goPropertiesPre && this.goPropertiesPost"
            #attributeEditor 
            [isValid]="this.isValid" (valid)="this.onValidChange()" 
            [allowCodeEdit]="this.isNewGeoObject" 
            [geoObjectType]="this.geoObjectType"
            [preGeoObject]="this.goPropertiesPre" 
            [postGeoObject]="this.goPropertiesPost" 
            [forDate]="this.forDate" 
            [isNew]="this.isNewGeoObject">
        </geoobject-shared-attribute-editor>


        <!-- Parents tab -->
        <div *ngIf="this.tabIndex === 1 && this.hierarchies != null">
          <cascading-geo-selector #parentSelector [isValid]="this.isValid" (valid)="this.onValidChange()" [hierarchies]="this.hierarchies"></cascading-geo-selector>
        </div>

         <!-- Geometry tab -->
        <geoobject-editor-map #geometryEditor *ngIf="this.tabIndex === 2" [postGeoObject]="this.goGeometries" [geoObjectType]="this.geoObjectType" [readOnly]="!geoObjectType.isGeometryEditable"  (valid)="this.onValidChange()" [isNew]="this.isNewGeoObject"></geoobject-editor-map>

        <div class="row-holder">
            <div class="label-holder"></div>
            <div class="holder">
                <div class="button-holder text-left">
                    <button type="button" class="btn btn-default" (click)="cancel()">
                        <localize key="modal.button.cancel"></localize>
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!this.isValid">
                        <localize key="modal.button.submit"></localize>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>