<div class="new-admin-design-main">
  <cgr-header></cgr-header>
  <loading-bar></loading-bar>


  <div id="app-container" class="container-fluid">
    <div class="heading">
      <h2>
        Events
      </h2>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr style="height: 50px;color: grey;">
              <th style="vertical-align: middle;"> Description </th>
              <th style="vertical-align: middle;"> Date </th>
              <th style="vertical-align: middle;"> Type </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-event
              [ngForOf]="page.resultSet | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">

              <tr class="clickable" style="height: 50px;" (click)="onView(event)">
                <td class="col-md-2">
                  <h5><strong>{{event.description.localizedValue}}</strong></h5>
                </td>
                <td class="col-md-2">
                  <h5><strong>{{formatDate(event.eventDate)}}</strong></h5>
                </td>
                <td class="col-md-1">
                  <h5><strong>{{event.typeLabel}}</strong></h5>
                </td>
                <td class="col-md-1" style="vertical-align:middle;text-align:right;padding-right:25px;">
                  <i class="arrow arrow-right" aria-hidden="true"></i>
                </td>
              </tr>

            </ng-template>
          </tbody>
        </table>
        <div style="margin-top: 30px; margin-bottom: 30px;" class="row">
          <div class="col-md-6">
            <button type="submit" (click)="onCreate()" class="btn btn-primary" role="button">
              <localize key="hierarchy.management.button.create"></localize>
            </button>
          </div>
        </div>
        <div class="solid-table-footer">
          <div *ngIf="page.resultSet.length > 0" class="solid-table-footer">
            <pagination-controls (pageChange)="refresh($event)"></pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>