.timeline {
	  height: 50px;
	  width: 100%;
	  position:relative;
	  display: inline-block;
	  z-index: 99;
}
.timeline a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.timeline a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.timeline-entry {
	  height: 50px;
	  border:1px solid lightgrey;
	  position: absolute;
	  display: inline-block;
}

.timeline-entry.not-clickable {
	  cursor: default;
}

.active-timeline-entry {
	  background-color:#EDF4E8;
	  border-color: #6ba542;
}

.timeline-nav-btn {

}

.timeline-nav-btn-wrapper {
    top: 36px;
    width: 100%;
    position: absolute;
    height: 20px;
    right: 0;
    left: 0;
    padding: 0 15px;
    z-index:0;
}
.timeline-nav-btn-wrapper a:last-child {
    float: right;
}

.navigation-controls {
	  width: 100%;
	  text-align:center;
}

.navigation-controls a {
/* 	  margin-right: 40px; */
/* 	  margin-left: 40px; */

	  
	  /* Disable selection of text */
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.view-all {
	  margin-left: 5px;
}

#time-hint {
    width: fit-content;
    background: lightgrey;
    padding: 5px;
    margin-left: 70px;
    position: absolute;
    margin-top: 9px;
    z-index: 999;
    border-radius: 3px;
}
#time-hint:before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: -10px;
    border-bottom: 10px solid lightgrey;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}