<div class="modal-body">
    
    <form class="modal-form" style="overflow: visible;">

        <!-- Attributes tab -->
        <geoobject-shared-attribute-editor 
            *ngIf="this.geoObjectType && geoObject && hierarchies"
            #attributeEditor 
            [geoObjectType]="this.geoObjectType"
            [postGeoObject]="this.geoObject" 
            [isNew]="this.isNewGeoObject"
            [isGeometryInlined]="true"
            [hierarchies]="hierarchies"
            [readOnly]="false">
        </geoobject-shared-attribute-editor>

        <!--
        <div *ngIf="!isMaintainer" class="row-holder" style="padding-top: 10px;">
            <div class="label-holder"><label><localize key="change.request.action.detail.contributorNotes"></localize></label></div>
            <div class="holder text-left">
              <textarea style="width: 100%;border-radius: 8px;height: 70px; padding:5px;" class="detail-value" [(ngModel)]="notes" name="notes" required></textarea>
              <div class="form-input-validation-error-message-wrapper">
                <p *ngIf="!notes" class="error-message">Notes are required.</p>
              </div>
            </div>
        </div>
        -->

        <div class="row">
            <div class="col-md-12">
                <div class="button-holder text-left">
                    <button type="button" class="btn btn-default" (click)="cancel()">
                        <localize key="modal.button.cancel"></localize>
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!canSubmit()">
                        <localize [key]="!isMaintainer ? 'change.request.page.title' : 'modal.button.submit'"></localize>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>