<!-- <div class="gp-input-field">
    <input type="text" [disabled]="disabled" [(ngModel)]="attribute.code" name="name" [required]="required">
</div> -->

<!-- <div>
    <label *ngIf="label" [attr.for]="identifier">{{label}}</label>
    <input type="text" [placeholder]="placeholder" [(ngModel)]="value" [ngClass]="{invalid: (invalid | async)}" [id]="identifier"/>
    <validation [@fadeInOut]="'in,out'" *ngIf="invalid | async" [messages]="failures | async"></validation>
</div> -->

<div class="row-holder">
    <div class="label-holder">
        <label *ngIf="label" [attr.for]="identifier">{{label}}</label>
    </div>
    <div class="holder">
        <span class="text">
            <input type="text" [placeholder]="placeholder" [(ngModel)]="value" [ngClass]="{invalid: (invalid | async)}" [id]="identifier"/>
        </span>
    </div>
</div>