<div>
  <loading-bar></loading-bar>

<form #form="ngForm" class="modal-form" name="new-locale-form" (ngSubmit)="form.valid && submit()">
  <div class="modal-body">
  <fieldset>
    <div class="heading text-center">
      <h1>
        <localize key="new-locale.title"></localize>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>
          <localize key="new-locale.language"></localize>
        </label>
        <select [(ngModel)]="language" name="new-locale-language">
          <option *ngFor="let lang of allLocaleInfo.languages" [ngValue]="lang.key">{{lang.label}}</option>
        </select>
      </div>
    </div>

    <div>
      <label>
        <localize key="new-locale.country"></localize>
      </label>
      <select [(ngModel)]="country" name="new-locale-country">
        <option *ngFor="let count of allLocaleInfo.countries" [ngValue]="count.key">{{count.label}}</option>
      </select>
    </div>

    <div>
      <label>
        <localize key="new-locale.variant"></localize>
      </label>
      <input type="text" [(ngModel)]="variant" name="new-locale-variant" />
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="button-holder">
          <button type="button" (click)="cancel()" class="btn btn-default" role="button" aria-disabled="false">
            <span>
              <localize key="new-locale.cancel"></localize>
            </span>
          </button>
          <button type="submit" class="btn btn-primary" role="button" aria-disabled="false">
            <span>
              <localize key="new-locale.submit"></localize>
            </span>
          </button>
        </div>
      </div>
    </div>
  </fieldset>
  </div>
</form>

</div>
