<div class="modal-body" tabindex="-1" role="dialog">
    <!-- <div class="heading">
        <h2>
            <localize key="export-modal.title"></localize>
        </h2>
	</div> -->
	
	<!-- <form class="modal-form" name="export-form"> -->
        <!-- <fieldset> -->
			<div class="row">
				<div class="col-md-12">
					<crtable-detail-create-geo-object #cuDetail *ngIf="action && (action.actionType.endsWith('CreateGeoObjectAction') || action.actionType.endsWith('UpdateGeoObjectAction'))" [(action)]="action" > </crtable-detail-create-geo-object>
					<crtable-detail-add-remove-child #arDetail *ngIf="action && (action.actionType.endsWith('AddChildAction') || action.actionType.endsWith('RemoveChildAction'))" [(action)]="action" > </crtable-detail-add-remove-child >
				</div>
			</div>
		<!-- </fieldset> -->
	<!-- </form> -->

	<hr>
	<div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <div class="button-holder" style="text-align: right;">
                        <button type="button" (click)="cancel();" class="btn btn-default"
                            role="button" aria-disabled="false" style="padding: 4px 18px;">
                            <span class="ui-button-text">
                                <localize key="modal.button.close"></localize>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
 
</div>
