/* 
   WARNING viewencapsulation on the detail.component.tx was set to none to set these css
   values to be globally scoped 
*/
.crtable-detail-container .modal-form .label-holder {
    display: none;
}

.crtable-detail-container .modal-form .holder {
    border-left: 0;
    width: 100%;
    padding: 0;
}

.crtable-detail-container .modal-form .holder .panel .panel-body {
    padding: 0;
}