<div>
  <message ></message>  

  <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && onSubmit()">    
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="heading">
          <h1><localize key="forgotpassword.header"></localize></h1>
        </div>
        <fieldset>
          <div class="row-holder">
            <div *ngIf="!emailIsSent" class="label-holder">
              <label><localize key="forgotpassword.username"></localize></label>
            </div>          
            <div *ngIf="!emailIsSent" class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="username" name="username" required>
              </span>
            </div>
            <div *ngIf="emailIsSent" class="forgotpassword-email-is-sent">
              <localize key="forgotpassword.emailIsSent"></localize>
            </div>
          </div>
          
          
          <div class="row-holder">
            <div class="label-holder">
            </div>                    
            <div class="holder">
              <div *ngIf="!emailIsSent" class="button-holder">
                <input type="button" [value]="'forgotpassword.cancel' | localize" class="btn btn-default" (click)="cancel()" />
                <input type="submit" [value]="'forgotpassword.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
              </div>
              
              <div *ngIf="emailIsSent" class="button-holder" style="margin-top: 10px;">
                <input type="button" style="margin-top: 10px;" [value]="'forgotpassword.ok' | localize" class="btn btn-primary" (click)="cancel()" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
