<div id="login-page" class="new-admin-design-main">
    <login-header></login-header>
    <loading-bar></loading-bar>

    <message></message>
    <div class="vertical-center">
        <div id="app-container" class="container">

            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-2"></div>
                <div class="col-md-6 col-sm-4 col-xs-8">
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="col-md-12">

                            <div class="heading text-center">
                                <h2>
                                    <!-- 
                                    <localize key="login.page.title"></localize>
                                    -->
                                </h2>
                                <!-- <p class="lead">
                                    <localize key="login.page.description"></localize>
                                </p> -->
                            </div>

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <form id="login-form" class="login" #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                                <div id="login-input-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input [(ngModel)]="username" name="username" type="text" [placeholder]="'login.username' | localize" id="login" required /> 
                                            <input [(ngModel)]="password" name="password" type="password" [placeholder]="'login.password' | localize" id="password" required /> 
                                            <a routerLink="/forgotpassword" class="forgot-password"> 
                                              <localize key="login.forgotPassword"></localize>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- <p class="login-submit"> -->
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div class="btn-holder text-right">
                                            <button type="submit" id="login-btn" class="btn btn-primary" [disabled]="!(form.valid)">
                                                <localize key="login.button"></localize>
                                            </button>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- </p> -->
                                </div>
                            </form>

                        </div>
                    </div>
                    
                    <div *ngIf="oauthServers" class="row">
                      <div class="col-md-12 text-center">
                        <h4 class="oauth-or-line-block">
                          <span class="oauth-or-text">&nbsp;<localize key="login.oauth.or.label"></localize>&nbsp;</span>
                        </h4>
                    
                        <button (click)="onClickDhis2(null)" class="dhis2-login-button">
                          <span class="dhis2-login-button-text">
                            <localize key="login.oauth.loginwith.label"></localize>
                          </span>
                          <span>
                            <img class="dhis2-login-button-image" src="../../../../images/dhis2-logo.png">
                          </span>
                        </button>
                        <div *ngIf="viewOauthServers" style="margin-top: 20px;">
                          <select (change)="onClickDhis2($event.target.value)" name=externalSystemOid>
                            <option></option>
                            <option *ngFor="let server of oauthServers" [value]="server.url">
                              {{server.label.localizedValue}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-2"></div>
            </div>
        </div>
    </div>
</div>

