    <!-- HEADER AND NAVBAR -->
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/" [title]="'userMenu.menuTooltip' | localize">
                <img [src]="context + '/logo/view?id=logo'" />
            </a>
            <!-- <a class="navbar-brand" routerLink="/admin"><localize key="admin.link"></localize></a> -->
          </div>
          
          <!-- <ul class="nav navbar-nav navbar-right">
            <li dropdown>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                <localize key="admin.title"></localize><span class="caret"></span>
              </a>            
            </li>
          </ul> -->
        </div>
      </nav>
    </header>
