<div id="login-page" class="new-admin-design-main">
    <login-header></login-header>
    <loading-bar></loading-bar>

    <message></message>
    <div class="vertical-center">
        <div id="app-container" class="container">

            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-2"></div>
                <div class="col-md-6 col-sm-4 col-xs-8">
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="col-md-12">

                            <div class="heading text-center">
                                <h2>
                                    <!-- 
                                    <localize key="login.page.title"></localize>
                                    -->
                                </h2>
                                <!-- <p class="lead">
                                    <localize key="login.page.description"></localize>
                                </p> -->
                            </div>

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">

                            <form id="login-form" class="login" #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                                <div id="login-input-container">
                                    <div class="row">
                                        <input [(ngModel)]="username" name="username" type="text" [placeholder]="'login.username' | localize" id="login" required /> <input [(ngModel)]="password" name="password" type="password" [placeholder]="'login.password' | localize" id="password" required /> <a routerLink="/forgotpassword" class="forgot-password"> <localize key="login.forgotPassword"></localize>
                                        </a>
                                    </div>
                                    <!-- <p class="login-submit"> -->
                                    <div class="row">
                                        <button type="submit" id="login-btn" class="btn btn-primary" [disabled]="!(form.valid)">
                                            <localize key="login.button"></localize>
                                        </button>
                                    </div>
                                    <!-- </p> -->
                                </div>
                            </form>

                        </div>
                    </div>
                    
                    <div *ngIf="oauthServers" class="row">
                      <div class="oauth-or-line-block"><span class="oauth-or-line"></span><span class="oauth-or-text"> or </span><span class="oauth-or-line"></span></div>
                    
                      <div class="col-md-12">
                        <a (click)="onClickDhis2()" style="background-color:#1d5288; border-radius:6px; width:312px; display:block; margin-left:16%; margin-bottom:5px;">
                          <span style="color:white; font-size:26px; vertical-align:middle; padding-left:9px;">Log in with </span>
                          <img style="margin:10px;" src="../../../../images/dhis2-logo.png">
                        </a>
                        <div *ngIf="viewOauthServers">
                          <select (change)="onClickDhis2($event.target.value)" style="float:none;" name=externalSystemOid>
                            <option></option>
                            <option *ngFor="let server of oauthServers" [value]="server.url">
                              {{server.label.localizedValue}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-2"></div>
            </div>
        </div>
    </div>
</div>

