<div class="modal-body">
  <div class="row">
    <div class="col-md-12">

      <message></message>
      <loading-bar></loading-bar>

      <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && onSubmit()">

        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

        <fieldset>
          <div>
            <!-- For display only when editing an icon-->
            <img *ngIf="!file && icon" style="max-width: 300px; max-height: 300px;"
              [src]="context + 'api/asset/view?oid=' + icon.oid" class="thumb">

            <!-- Actual uploaded file preview -->
            <img *ngIf="file" style="max-width: 300px; max-height: 300px;" [src]="file" class="thumb">
          </div>

          <div class="drop-box-container" ng2FileDrop [ngClass]="{'drop-active': dropActive}"
            (fileOver)="fileOver($event)" [uploader]="uploader" (click)=fileInput.click()>
            <div class="drop-box">
              <div class="inner-drop-box">
                <i class="fa fa-cloud-upload">
                  <p class="upload-text">
                    <localize key="system.image.uploadText"></localize>
                  </p>
                </i>
              </div>
            </div>
            <input type="file" #uploadEl ng2FileSelect #fileInput [uploader]="uploader" id="uploader-input"
              style="display: none" />
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="button-holder text-right" style="margin-top: 20px;">
                <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />
                <input type="submit" [value]="'category.icon.ok' | localize" class="btn btn-primary"
                  (disabled)="form.invalid" />
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>