<div class="new-admin-design-main" style="overflow-y:hidden;">
	<cgr-header></cgr-header>

	<loading-bar></loading-bar>

	<div id="app-container" class="container-fluid">

		<!--   <h2> <localize key="hierarchy.management.title"></localize> </h2> -->
		<div class="row">

			<nav class="col-md-3 hierarchy-sidebar">

				<div class="row" style="padding: 5px 5px;">
					<div class="col-md-12">
						<input type="text" class="form-control" #searchInput
							[placeholder]="'hierarchy.sidebar.searchAll' | localize" [(ngModel)]="filter">
					</div>
				</div>
				<accordion [isAnimated]="true" [closeOthers]="false">
					<accordion-group [panelClass]="'hierarchy-sidebar-content'" style="border-radius: 0;">
						<div accordion-heading style="padding: 10px 15px;">
							<span class="" style="color:white;">
								<i style="color:white;margin-right:10px;" class="fa fa-circle"></i>
							</span>
							<localize key="hierarchy.sidebar.geoObjectTypes"></localize>
						</div>
						<div class="sidebar-section-content">
							<ul *ngFor="let typeByOrg of filteredTypesByOrg;" class="list-group">
								<div>

									<div class="got-org-label-wrapper">
										<label>{{typeByOrg.org.label.localizedValue}}</label>
									</div>

									<div *ngIf="isSRA || typeByOrg.org.code === userOrganization" style="text-align: center;padding: 10px 0;">
										<button (click)="createGeoObjectType(null, false, typeByOrg.org)" type="button" class="btn btn-primary"
											style="margin-bottom:20px;min-width:45%;">
											<localize key="hierarchy.sidebar.newGeoObjectType"></localize>
										</button>
                                        
                                        <button (click)="createGeoObjectType(null, true, typeByOrg.org)" type="button" class="btn btn-primary"
                                            style="margin-bottom:20px;margin-left:10px;min-width:45%;">
                                            <localize key="hierarchies.add.group.button.label"></localize>
                                        </button>
									</div>

									<li class="list-group-item got-li-item"
									                  [attr.data-superTypeCode]="(type.superTypeCode && type.superTypeCode.length > 0) ? type.superTypeCode : null"
									                  *ngFor="let type of typeByOrg.types" [id]="type.code"
									                  [attr.data-canDrag]="type.canDrag"
                                    [ngClass]="{'got-group-parent' : (type.isAbstract), 'got-group-child' : type.superTypeCode && type.superTypeCode.length > 0}" >
										{{type.label.localizedValue}}

										<span *ngIf="isOrganizationRA(type.organizationCode)" style="position:absolute;right:10px;background:rgba(255,255,255,.7);top:50%;transform:translateY(-50%);">
                                            
											<i class="fa fa-times delete-btn clickable pull-right"
												*ngIf="!excludeGeoObjectTypeDeletes(type)"
												(click)="deleteGeoObjectType(type)"
												[title]="'button.delete.helptext' | localize">
                                            </i>
                                                
											<i class="fa fa-pencil clickable pull-right"
												(click)="manageGeoObjectType(type, false)"
												[title]="'button.edit.helptext' | localize">
                                            </i>
                                            
                                            <i *ngIf="(type.isAbstract)" class="fa fa-plus clickable pull-right"
                                                (click)="createGeoObjectType(type, false, typeByOrg.org)"
                                                title="add">
                                            </i>
										</span>

										<span *ngIf="!isOrganizationRA(type.organizationCode)" style="position:absolute;right:10px;background:rgba(255,255,255,.7);top:50%;transform:translateY(-50%);">
											<i class="fa fa-eye clickable pull-right"
												(click)="manageGeoObjectType(type, true)"
												[title]="'button.view.helptext' | localize"> </i>
										</span>
									</li>
								</div>
							</ul>
						</div>
					</accordion-group>
					<accordion-group [isOpen]='true' class="sidebar-section" style="border-radius: 0;" [panelClass]="'hierarchy-sidebar-content'">
						<div accordion-heading style="padding: 10px 15px;">
							<span>
								<i style="color:white;" class="fa fa-sitemap"></i>
							</span>
							<localize key="hierarchy.sidebar.hierarchies"></localize>
						</div>
						<div class="sidebar-section-content">
							<ul *ngFor="let hierarchyByOrg of filteredHierarchiesByOrg" class="list-group">
								<div>

									<div class="got-org-label-wrapper">
										<label>{{hierarchyByOrg.org.label.localizedValue}}</label>
									</div>

									<div *ngIf="isSRA || hierarchyByOrg.org.code === userOrganization" style="text-align: center;padding: 10px 0;">
										<button (click)="createHierarchy()" type="button" class="btn btn-primary"
											style="margin-bottom:20px;min-width:45%;">
											<localize key="hierarchy.sidebar.newHierarchy"></localize>
										</button>
									</div>

									<li *ngFor="let hierarchy of hierarchyByOrg.hierarchies;" [id]="hierarchy.code"
										class="list-group-item hier-li-item clickable"
										[ngClass]="{'primary': (currentHierarchy != null && hierarchy.code === currentHierarchy.code), 'active': isActive(hierarchy)}"
										(click)="hierarchyOnClick($event,hierarchy)">
										<i class="fa fa-sitemap"></i> {{hierarchy.label.localizedValue}}

										<span *ngIf="isOrganizationRA(hierarchy.organizationCode)" style="position:absolute;right:10px;background:inherit;top:50%;transform:translateY(-50%);">
											<i *ngIf="!excludeHierarchyTypeDeletes(hierarchy)"
												class="fa fa-times delete-btn clickable pull-right"
												(click)="deleteHierarchyType(hierarchy)"
												[title]="'button.delete.helptext' | localize"></i>
											<i class="fa fa-pencil pull-right clickable"
												(click)="editHierarchyType(hierarchy, false)"
												[title]="'button.edit.helptext' | localize"> </i>
										</span>

										<span *ngIf="!isOrganizationRA(hierarchy.organizationCode)" style="position:absolute;right:10px;background:inherit;top:50%;transform:translateY(-50%);">
											<i class="fa fa-eye pull-right clickable"
												(click)="editHierarchyType(hierarchy, true)"
												[title]="'button.view.helptext' | localize"> </i>
										</span>
									</li>
								</div>
							</ul>
						</div>
					</accordion-group>
				</accordion>
			</nav>

			<div class="col-md-9 hierarchy-content">
				<div id="overflow-div">

					<div *ngIf="currentHierarchy != null && isOrganizationRA(currentHierarchy.organizationCode, true) && (currentHierarchy.rootGeoObjectTypes == null || currentHierarchy.rootGeoObjectTypes.length == 0)"
						id="emptyHierarchyDropzone" class="drop-box-container">
						<div class="hierarchy-drop-box">
							<div class="inner-drop-box">
								<p class="upload-text">
									<localize key="hierarchy.content.dragGotToHierarchy"></localize>
								</p>
							</div>
						</div>
					</div>

					<div id="svgHolder">
						<!-- <svg id="graph" style="width:1200px; height:750px"></svg> -->
					</div>
					<div id="NodeTooltip" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-form">
                  <div class="row-holder">
                    <div class="label-holder">
                       <label>
                         <localize key="hierarchy.nodeTooltip.geoObjectTypeCode"></localize>
                       </label>
                     </div>
                     <div class="holder">
                       <label id="geoObjectTypeCodeLabel"></label>
                     </div>
                  </div>
                  <div class="row-holder">
                    <div class="label-holder">
                       <label>
                         <localize key="hierarchy.nodeTooltip.geoObjectTypeOrganization"></localize>
                       </label>
                     </div>
                     <div class="holder">
                       <label id="geoObjectTypeOrganizationLabel"></label>
                     </div>
                  </div>
                  <div class="row-holder">
                    <div class="label-holder">
                      <label>
                        <localize key="hierarchy.nodeTooltip.hierarchy"></localize>
                      </label>
                    </div>
                    <div class="holder">
                      <label id="hierarchyLabel"></label>
                    </div>
                  </div>
                  <div class="row-holder">
                    <div class="label-holder">
                       <label>
                         <localize key="hierarchy.nodeTooltip.hierarchyCode"></localize>
                       </label>
                     </div>
                     <div class="holder">
                       <label id="hierarchyCodeLabel"></label>
                     </div>
                  </div>
                  <div class="row-holder">
                    <div class="label-holder">
                       <label>
                         <localize key="hierarchy.nodeTooltip.hierarchyOrganization"></localize>
                       </label>
                     </div>
                     <div class="holder">
                       <label id="hierarchyOrganizationLabel"></label>
                     </div>
                  </div>
                </div>
              </div>
            </div>

					<!-- 
	      <div class="col-md-4">
	        <h3> 
	            <localize key="hierarchy.current.management.panel.title"></localize> 
	            <span *ngIf="currentHierarchy"> {{currentHierarchy.label.localizedValue}}</span>
	        </h3>
	        <hr>
	        <div *ngIf="nodes.length > 0" class="tree">
	          <tree-root [nodes]="nodes" [options]="options"></tree-root>
	        </div>
	        <div *ngIf="currentHierarchy && nodes.length === 0">
	          <div>
	            <button type="submit" class="btn btn-primary" *ngIf="isRA()" (click)="addChildAndRootToHierarchy()"><localize key="hierarchy.current.management.panel.button.add"></localize></button>
	          </div>
	        </div>
	      </div>
	      -->
				</div>
			</div>
		</div>
	</div>

</div>
