<div class="new-admin-design-main">
  <cgr-header></cgr-header>

  <loading-bar></loading-bar>
  
  <div id="app-container" class="container-fluid">
  
  <!--   <h2> <localize key="hierarchy.management.title"></localize> </h2> -->
  
    <nav class="hierarchy-sidebar">
      <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group [panelClass]="'hierarchy-sidebar-content'">
          <div accordion-heading >
            <span class="" style="color:white;">
              <i style="color:white;margin-right:10px;" class="fa fa-circle"></i>
            </span>
            <localize key="hierarchy.sidebar.geoObjectTypes"></localize>
          </div>
          <button *ngIf="isRA()" (click)="createGeoObjectType()" type="button" class="btn btn-primary" style="margin-bottom:20px;">
            <i style="color:#369c00;" class="fa fa-plus"></i>
					  <localize key="hierarchy.sidebar.newGeoObjectType"></localize>
					</button>
          <div class="sidebar-section-content">
            <ul *ngFor="let typeByOrg of typesByOrg;" class="list-group">
              <div *ngIf="typeByOrg.types.length > 0">
                <label>{{typeByOrg.org.label.localizedValue}}</label>
              
	              <li class="list-group-item" *ngFor="let type of typeByOrg.types" [id]="type.code">
		              {{type.label.localizedValue}}
		              
		              <span *ngIf="isOrganizationRA(type.organizationCode)">
		                <i class="fa fa-times delete-btn clickable pull-right" *ngIf="!excludeGeoObjectTypeDeletes(type)" (click)="deleteGeoObjectType(type)" [title]="'button.delete.helptext' | localize"></i> 
		                <i class="fa fa-pencil clickable pull-right" (click)="manageGeoObjectType(type, false)" [title]="'button.edit.helptext' | localize"></i> 
		              </span>
		              
		              <span *ngIf="!isOrganizationRA(type.organizationCode)">
		                <i class="fa fa-eye clickable pull-right" (click)="manageGeoObjectType(type, true)" [title]="'button.view.helptext' | localize"> </i> 
		              </span>
		            </li>
	            </div>
            </ul>
          </div>
        </accordion-group>
        <accordion-group [isOpen]='true' class="sidebar-section" [panelClass]="'hierarchy-sidebar-content'">
	        <div accordion-heading >
	          <span class="" >
	            <i style="color:white;" class="fa fa-sitemap"></i>
	          </span>
	          <localize key="hierarchy.sidebar.hierarchies"></localize>
	        </div>
	        <button *ngIf="isRA()" (click)="createHierarchy()" type="button" class="btn btn-primary" style="margin-bottom:20px;">
	          <i style="color:#369c00;" class="fa fa-plus"></i>
            <localize key="hierarchy.sidebar.newHierarchy"></localize>
          </button>
	        <div class="sidebar-section-content">
            <ul *ngFor="let hierarchyByOrg of hierarchiesByOrg;" class="list-group">
              <div *ngIf="hierarchyByOrg.hierarchies.length > 0">
	              <label>{{hierarchyByOrg.org.label.localizedValue}}</label>
	            
		            <li *ngFor="let hierarchy of hierarchyByOrg.hierarchies;" [id]="hierarchy.code" class="list-group-item clickable" [ngClass]="{active: isActive(hierarchy)}" (click)="hierarchyOnClick($event,hierarchy)">
		              <i class="fa fa-sitemap"></i> {{hierarchy.label.localizedValue}} 
		  
		              <span *ngIf="isOrganizationRA(hierarchy.organizationCode)">
		                <i *ngIf="!excludeHierarchyTypeDeletes(hierarchy)" class="fa fa-times delete-btn clickable pull-right" (click)="deleteHierarchyType(hierarchy)" [title]="'button.delete.helptext' | localize"></i> 
		                <i class="fa fa-pencil pull-right clickable" (click)="editHierarchyType(hierarchy, false)" [title]="'button.edit.helptext' | localize"> </i>            
		              </span>
		              
		              <span *ngIf="!isOrganizationRA(hierarchy.organizationCode)">
		                <i class="fa fa-eye pull-right clickable" (click)="editHierarchyType(hierarchy, true)" [title]="'button.view.helptext' | localize"> </i>
		              </span>
		            </li>
	            </div>
	          </ul>
          </div>
        </accordion-group>
			</accordion>
    </nav>
    
    <div class="hierarchy-content">
	    <div style="overflow:auto;">
	     
	      <div *ngIf="currentHierarchy != null && isOrganizationRA(currentHierarchy.organizationCode, true) && (nodes == null || nodes.length === 0 || nodes[0] == null)" id="emptyHierarchyDropzone" class="drop-box-container">
          <div class="hierarchy-drop-box">
            <div class="inner-drop-box">
              <p class="upload-text"><localize key="hierarchy.content.dragGotToHierarchy"></localize></p>
            </div>
          </div>
        </div>
	     
	      <div id="svgHolder">
	      <!-- <svg id="graph" style="width:1200px; height:750px"></svg> -->
	      </div>
	    
	    <!-- 
	      <div class="col-md-4">
	        <h3> 
	            <localize key="hierarchy.current.management.panel.title"></localize> 
	            <span *ngIf="currentHierarchy"> {{currentHierarchy.label.localizedValue}}</span>
	        </h3>
	        <hr>
	        <div *ngIf="nodes.length > 0" class="tree">
	          <tree-root [nodes]="nodes" [options]="options"></tree-root>
	        </div>
	        <div *ngIf="currentHierarchy && nodes.length === 0">
	          <div>
	            <button type="submit" class="btn btn-primary" *ngIf="isRA()" (click)="addChildAndRootToHierarchy()"><localize key="hierarchy.current.management.panel.button.add"></localize></button>
	          </div>
	        </div>
	      </div>
	      -->
	    </div>
    </div>
  </div>
  
  <context-menu #nodeMenu>
<!--     <ng-template contextMenuItem let-item (execute)="handleEdit($event.item)"> -->
<!--       Edit {{item?.data.name}} -->
<!--     </ng-template> -->
    <ng-template contextMenuItem let-item (execute)="addChildToHierarchy($event.item)">
        <localize key="hierarchy.management.button.addRelationship"></localize>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteTreeNode($event.item)">
      <localize key="hierarchy.management.button.removeTreeNodeFromHierarchy"></localize>
    </ng-template>
  </context-menu>
  
  <context-menu #leafMenu>
<!--     <ng-template contextMenuItem let-item (execute)="handleEdit($event.item)"> -->
<!--       Edit {{item?.data.name}} -->
<!--     </ng-template> -->
    <ng-template contextMenuItem let-item (execute)="deleteTreeNode($event.item)">
      <localize key="hierarchy.management.button.removeTreeNodeFromHierarchy"></localize>  {{item?.data.label.localizedValue}}
    </ng-template>
  </context-menu>

</div>
