<div class="new-admin-design-main">
  <cgr-header></cgr-header>

  <loading-bar></loading-bar>
  
  <div id="app-container" class="container-fluid">
  
  <!--   <h2> <localize key="hierarchy.management.title"></localize> </h2> -->
    
    <div class="row">
      <div class="col-md-4">
        <h3><localize key="hierarchy.types.management.panel.title"></localize></h3>
        <hr>
        <ul class="list-group">
          <!-- to filter out already assigned types use this pipe > geoobjecttype:nodes -->
          <li class="list-group-item" *ngFor="let type of geoObjectTypes">
            {{type.label.localizedValue}} <i *ngIf="type.isLeaf === 'true'" class="fa fa-leaf" style="font-size:15px;cursor:auto;margin-left:5px;" aria-hidden="true"></i> 
            <i class="fa fa-pencil clickable pull-right" (click)="manageGeoObjectType(type)"> </i> 
            <i class="fa fa-times delete-btn clickable pull-right" *ngIf="!excludeGeoObjectTypeDeletes(type)" (click)="deleteGeoObjectType(type)"></i> 
          </li>
        </ul>
        
        <div>
          <button type="submit" class="btn btn-primary" (click)="createGeoObjectType()"><localize key="hierarchy.management.button.create"></localize></button>
        </div>
        
      </div>
    
    
      <div class="col-md-4">
        <h3><localize key="hierarchy.management.panel.title"></localize></h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item clickable" [ngClass]="{active: isActive(hierarchy)}" *ngFor="let hierarchy of hierarchies;" (click)="hierarchyOnClick($event,hierarchy)">
            <i class="fa fa-sitemap"></i> {{hierarchy.label.localizedValue}} 
            <i class="fa fa-pencil pull-right clickable" (click)="editHierarchyType(hierarchy)"> </i>            
            <i *ngIf="!excludeHierarchyTypeDeletes(hierarchy)" class="fa fa-times delete-btn clickable pull-right" (click)="deleteHierarchyType(hierarchy)"></i> 
          </li>
        </ul>
        
        <div>
          <button type="submit" class="btn btn-primary" (click)="createHierarchy()"><localize key="hierarchy.management.button.create"></localize></button>
        </div>
      </div>
      
      <div class="col-md-4">
        <h3> 
            <localize key="hierarchy.current.management.panel.title"></localize> 
            <span *ngIf="currentHierarchy">{{currentHierarchy.label.localizedValue}}</span>
        </h3>
        <hr>
        <div *ngIf="nodes.length > 0" class="tree">
          <tree-root [nodes]="nodes" [options]="options"></tree-root>
        </div>
        <div *ngIf="currentHierarchy && nodes.length === 0">
          <div>
            <button type="submit" class="btn btn-primary" (click)="addChildAndRootToHierarchy()"><localize key="hierarchy.current.management.panel.button.add"></localize></button>
          </div>
        </div>
      </div>
            
    </div>
    
  </div>
  
  <context-menu #nodeMenu>
<!--     <ng-template contextMenuItem let-item (execute)="handleEdit($event.item)"> -->
<!--       Edit {{item?.data.name}} -->
<!--     </ng-template> -->
    <ng-template contextMenuItem let-item (execute)="addChildToHierarchy($event.item)">
        <localize key="hierarchy.management.button.addRelationship"></localize>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteTreeNode($event.item)">
      <localize key="hierarchy.management.button.removeTreeNodeFromHierarchy"></localize>
    </ng-template>
  </context-menu>
  
  <context-menu #leafMenu>
<!--     <ng-template contextMenuItem let-item (execute)="handleEdit($event.item)"> -->
<!--       Edit {{item?.data.name}} -->
<!--     </ng-template> -->
    <ng-template contextMenuItem let-item (execute)="deleteTreeNode($event.item)">
      <localize key="hierarchy.management.button.removeTreeNodeFromHierarchy"></localize>  {{item?.data.label.localizedValue}}
    </ng-template>
  </context-menu>

</div>
