li.list-group-item.active {
    background-color: #83c0ff;
}

#app-container {
    display: flex;
    width: 100%;
}

.hierarchy-sidebar button {
	width:100%;
	margin:0;
}

.hierarchy-sidebar {
    width:350px;
    position: fixed;
    top: 144px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #6e6775;
    color: #fff;
    transition: all 0.3s;
}

.hierarchy-content {
	left:350px;
	position:fixed;
	width:90%;
	top:144px;
	margin-left:10px;
}

.sidebar-section {
	background: #505050;
	text-align: left;
  color:#fff;
}

.hierarchy-sidebar-content .panel-body {
	color: #6e6775;
	background-color: #6e6775;
}

.sidebar-section-header {
	margin-left:20px;
	cursor: pointer;
}

accordion-group.panel {
	background-color: #505050;
}

li.list-group-item {
	background-color: rgba(255, 255, 255, 1.0);
	margin-bottom:5px;
}
