<!-- HEADER AND NAVBAR -->
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{context}}/prism/home#/menu"><img [src]="context + '/logo/view?id=logo'" /></a>
        <a class="navbar-brand" href="{{context}}/prism/home#/menu"><localize key="cgr.standard.title"></localize></a>
      </div>
          
       <ul class="nav navbar-nav navbar-right"> 
		 <li>
			<a (click)="account()" class="navbar-username">
			<!-- <div>Logged in as</div> -->
				<div>{{getUsername()}}</div>
			</a>
		 </li>
         <li dropdown> 
             <!-- <localize key="hierarchy-management.menu"></localize> -->
           <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle> 
             <span class="glyphicon glyphicon-menu-hamburger"></span> 
           </a>     

           
           <ul *dropdownMenu class="dropdown-menu"> 
             <li *ngIf="isAdmin" role="menuitem">
               <a class="user-command-link" routerLink="/admin"><localize key="geoprismLanding.administration"></localize></a>
             </li>
			 <li *ngIf="isMaintainer" role="menuitem"><a class="dropdown-item" routerLink="/hierarchies" routerLinkActive="active"><localize key="hierarchies.menu"></localize></a></li> 
             <li *ngIf="isMaintainer" role="menuitem"><a class="dropdown-item" routerLink="/master-lists" routerLinkActive="active"><localize key="masterlist.menu"></localize> </a></li>
			 <li role="menuitem"><a class="dropdown-item" routerLink="/data" routerLinkActive="active"><localize key="header.data.option"></localize> </a></li>
			 <li role="menuitem"><a class="dropdown-item" href="{{context}}/nav/management#/locations"><localize key=navigator.menu></localize> </a></li>
			 <li *ngIf="isContributor" role="menuitem"><a class="dropdown-item" routerLink="/change-requests" routerLinkActive="active"><localize key="header.changerequest.option"></localize> </a></li>
             <li role="menuitem"><a class="dropdown-item" href="{{context}}/session/logout"><localize key="Log_out"></localize></a></li>
           </ul> 
         </li> 
       </ul> 
       
       <!-- <div class="navbar-right">
        <a class="dropdown-item" href="{{context}}/session/logout"><localize key="Log_out"></localize></a>
      </div> -->
       <!--
       <div class="navbar-right"> 
         <p class="navbar-text"><localize key="logged-in-as"></localize><b style="color:white;">{{userName}}</b></p> 
       </div> 
       -->
    </div>
  </nav>
</header>
