<!-- HEADER AND NAVBAR -->
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{context}}/prism/home#/menu" [title]="Header"><img [src]="context + '/logo/view?id=logo'" /></a>
        <a class="navbar-brand" href="{{context}}/prism/home#/menu">UAS Site Data Management</a>
      </div>
          
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            Project<span class="caret"></span>
          </a>    
          <ul *dropdownMenu class="dropdown-menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="/projects" routerLinkActive="active">Projects</a></li>
<!--             <li role="menuitem"><a class="dropdown-item" routerLink="/" routerLinkActive="active">Help</a></li> -->
            <li role="menuitem"><a class="dropdown-item" href="{{context}}/session/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
      
<!--       <div class="navbar-right"> -->
<!--         <p class="navbar-text">Logged in as <b style="color:white;">{{userName}}</b></p> -->
<!--       </div> -->
      
    </div>
  </nav>
</header>
