<div class="new-admin-design-main">
    <master-list-header></master-list-header>
    <loading-bar></loading-bar>

    <div id="app-container" class="container">
        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>


        <div class="py-5 text-center">
            <h2>
                <localize key="masterlist.manager.title"></localize>
            </h2>
        </div>
        <div class="col-md-12 order-md-1">
            <div class="row" style="margin-bottom:20px; margin-top:50px;">
                <div class="button-holder">
                    <button type="submit" (click)="onCreate()" class="btn btn-primary" role="button">
                        <span class="ui-button-text">
                            <localize key="hierarchy.management.button.create"></localize>
                        </span>
                    </button>
                </div>
            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let list of lists">
                        <a [routerLink]="'/master-list/' + list.oid" routerLinkActive="active">{{list.label}}</a>
                        <i class="fa fa-times delete-btn pull-right" (click)="deleteMasterList(list)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>