<div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="text-center">
        <h2 *ngIf="!readonly">
            <localize key="type.publish.title"></localize>
        </h2>
        <h2 *ngIf="readonly">
            {{master.displayLabel.localizedValue}}
            <localize key="type.publish.view.title"></localize>
        </h2>
    </div>
    <!-- <div class="col-md-12 order-md-1"> -->
    <form #form="ngForm" class="modal-form">

        <fieldset>
            <div class="row-holder" *ngFor="let localeValue of master.displayLabel.localeValues">
                <div class="label-holder">
                    <label> <localize key="masterlist.label"></localize> ({{localeValue.locale}})
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="text" class="form-control" [disabled]="readonly" [required]="localeValue.locale === 'defaultLocale'" />
                </div>
            </div>
            <div class="row-holder" *ngIf="types && !(readonly || edit)">
                <div class="label-holder">
                    <label for="typeCode"> <localize key="io.geoObjectType"></localize>
                    </label>
                </div>
                <div class="holder">
                    <select id="typeCode" name="typeCode" class="select-area" [(ngModel)]="master.typeCode" (change)="onChange($event)" required>
                        <option></option>
                        <option *ngFor="let type of types" [value]="type.code">{{type.label}}</option>
                    </select>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.code"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.code" name="code" type="text" class="form-control" [disabled]="readonly || edit" required />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.representativityDate"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.representativityDate" name="representativityDate" type="date" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.publishDate"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.publishDate" name="publishDate" type="date" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.listAbstract"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.listAbstract" name="listAbstract" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.process"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.process" name="process" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.progress"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.progress" name="progress" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.accessConstraints"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.accessConstraints" name="accessConstraints" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.useConstraints"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.useConstraints" name="useConstraints" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.acknowledgements"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.acknowledgements" name="acknowledgements" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.disclaimer"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.disclaimer" name="disclaimer" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <localize key="masterlist.contact"></localize>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.contactName"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.contactName" name="contactName" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.organization"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.organization" name="organization" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.telephoneNumber"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.telephoneNumber" name="telephoneNumber" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.email"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.email" name="email" type="email" class="form-control" [disabled]="readonly" />
                </div>
            </div>

            <div class="row-holder" *ngIf="master.hierarchies.length > 0">
                <div class="label-holder"></div>
                <div class="holder">
                    <localize key="masterlist.parents"></localize>
                </div>
            </div>

            <div *ngFor="let hierarchy of master.hierarchies">
                <div class="row-holder">
                    <div class="label-holder">
                        <label> {{hierarchy.label}} </label>
                    </div>
                    <div class="holder">
                        <div class="row" *ngFor="let parent of hierarchy.parents">
                            <!-- <div class="holder"> -->

                            <div class="check-block" style="margin: 10px;">

                                <!-- To enable add: (click)="parent.selected = !parent.selected" -->
                                <div (click)="getIsDisabled($event) ? null : parent.selected = !parent.selected" [ngClass]="{'chk-checked' : parent.selected, 'disabled' : readonly || edit}" style="margin: 0;" class="jcf-unselectable chk-area" name="unique">
                                    <span></span>
                                </div>

                                <label style="margin: 3px 10px;">{{parent.label}}</label>

                                <!-- <input [(ngModel)]="parent.selected" [name]="hierarchy.code + parent.code" type="checkbox" class="form-check" [disabled]="readonly || edit"/> -->
                            </div>
                            <!-- <div class="holder">{{parent.label}}</div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <div class="button-holder">
                        <button type="button" (click)="onCancel()" class="btn btn-default" role="button">
                            <localize [key]="readonly ? 'io.back' : 'io.cancel'"></localize>
                        </button>
                        <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="form.invalid">
                            <localize key="io.ok"></localize>
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <!-- </div> -->
</div>