<div [@toggleInputs]="state" (@toggleInputs.done)="onAnimationDone($event)">
    <div class="row-holder">
        <div class="label-holder">
            <label>
                <localize key="data.property.label.code"></localize>
            </label>
        </div>
        <div class="holder">
            <span class="text">
                <input autofocus type="text" [disabled]="disableCodeField" [(ngModel)]="attribute.code" name="code" required geoObjectAttributeCode>
            </span>
        </div>
    </div>
    <div class="row-holder">
        <div class="label-holder">
            <label>
                <localize key="data.property.label.label"></localize>
            </label>
        </div>
        <div class="holder">
            <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required>
            </span>
        </div>
    </div>
    <div class="row-holder" *ngIf="!excludeDescription">
        <div class="label-holder">
            <label>
                <localize key="data.property.label.description"></localize>
            </label>
        </div>
        <div class="holder">
            <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedDescription" name="description">
            </span>
        </div>
    </div>
</div>