<div class="modal-body">
   <error-message [message]="message"></error-message>

    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && handleOnSubmit()">
        <div class="">
            <div class="">
                <div class="heading">
                    <h1>
                        <localize key="hierarchy.management.edit.term.option.title"></localize>
                    </h1>
                </div>

                <fieldset>
                    <div class="row-holder">
                        <div class="label-holder">
                            <label>
                                <localize key="data.property.label.code"></localize>
                            </label>
                        </div>
                        <div class="holder">
                            <span class="text">
                                <input autofocus type="text" [disabled]="true" [(ngModel)]="termOption.code" name="code" required geoObjectAttributeCode>
                            </span>
                        </div>
                    </div>
                    <div class="row-holder">
                        <div class="label-holder">
                            <label>
                                <localize key="data.property.label.label"></localize>
                            </label>
                        </div>
                        <div class="holder">
                            <span class="text">
                                <input type="text" [(ngModel)]="termOption.localizedLabel" name="label" required>
                            </span>
                        </div>
                    </div>

                    <div class="row-holder">
                        <div class="label-holder">
                        </div>
                        <div class="holder">
                            <div class="button-holder">
                                <button type="button" class="btn btn-default" (click)="cancel()">
                                    <localize key="modal.button.cancel"></localize>
                                </button>
                                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                                    <localize key="modal.button.submit"></localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>


</div>
