<div class="modal-body">
    <div *ngIf="message != null" class="error-container">
        <div class="label-holder">
            <strong>
                <localize key="error.title"></localize>
            </strong>
        </div>
        <div class="holder">
            <div>
                <p class="error-message">{{message}}</p>
            </div>
        </div>
    </div>

    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && handleOnSubmit()">
        <div class="">
            <div class="">
                <div class="heading">
                    <h1>
                        <localize key="hierarchy.management.edit.attribute.title"></localize>: {{attribute.localizedLabel}}
                    </h1>
                </div>

                <fieldset>

                    <attribute-input [disableCodeField]="true" [excludeDescription]="attribute.type === 'term' ? true : false" [(attribute)]="attribute"></attribute-input>

                    <!-- *ngIf="attribute.type === 'term' && isFormValid()" -->
                    <term-option-widget *ngIf="attribute.type === 'term' && isFormValid()" [(attribute)]="attribute" [geoObjectType]="geoObjectType"></term-option-widget>

                    <div class="row-holder">
                        <div class="label-holder">
                        </div>
                        <div class="holder">
                            <div class="button-holder">
                                <button type="button" class="btn btn-default" (click)="cancel()">
                                    <localize key="modal.button.cancel"></localize>
                                </button>
                                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                                    <localize key="modal.button.submit"></localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    

</div>
