<!-- <form class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons"> -->
  
  <div class="modal-body" *ngIf="modalState.state === 'MANAGE-GEO-OBJECT-TYPE'">
    <error-message [message]="message"></error-message>

        <form #form="ngForm" *ngIf="editGeoObjectType" class="modal-form" (ngSubmit)="form.valid">    
            <div class="heading">
              <h1><localize key="hierarchy.management.manage.editGeoObjectType.title"></localize> {{editGeoObjectType.localizedLabel}}</h1>
            </div>      
            <fieldset>   
                 <div class="row-holder">
                    <div class="label-holder">
                    <label><localize key="data.property.label.code"></localize></label>
                    </div>          
                    <div class="holder" >
                    <span class="text">  
                       <input type="text" [(ngModel)]="editGeoObjectType.code" name="code" [disabled]="true" [required]="true">
                    </span>
                    </div>
                </div>

                <div class="row-holder">
                    <div class="label-holder">
                    <label><localize key="data.property.label.label"></localize></label>
                    </div>          
                    <div class="holder" >
                    <span class="text">  
                       <input type="text" [(ngModel)]="editGeoObjectType.localizedLabel" name="label" [required]="true">
                    </span>
                    </div>
                </div>
                
                <div class="row-holder">
                    <div class="label-holder">
                    <label><localize key="data.property.label.description"></localize></label>
                    </div>          
                    <div class="holder" >
                    <span class="text">                  
                        <textarea [(ngModel)]="editGeoObjectType.localizedDescription" name="description" [disabled]="false"></textarea>
                    </span>
                    </div>
                </div> 
                
                <div class="row-holder">
                    <div class="label-holder">
                        <label><localize key="data.property.label.geometryType"></localize></label>
                    </div>          
                    <div class="holder">                    
                      <select name="geometryType" [(ngModel)]="editGeoObjectType.geometryType" disabled>
                        <option></option>
                        <option value="POINT"><localize key="georegistry.geometry.point"></localize></option>
                        <option value="LINE"><localize key="georegistry.geometry.line"></localize></option>
                        <option value="POLYGON"><localize key="georegistry.geometry.polygon"></localize></option>
                        <option value="MULTIPOINT"><localize key="georegistry.geometry.multipoint"></localize></option>
                        <option value="MULTILINE"><localize key="georegistry.geometry.multiline"></localize></option>
                        <option value="MULTIPOLYGON"><localize key="georegistry.geometry.multipolygon"></localize></option>
                      </select>
                    </div>
                </div>


                <div class="row-holder">
                    <div class="label-holder">
                        <label><localize key="hierarchy.management.manage.attributes.label.displayAttributes"></localize></label>
                    </div>                    
                    <div class="holder">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let attr of editGeoObjectType.attributes" class="list-group-item">{{attr.localizedLabel}}</li>
                                </ul>

                                <button type="button" class="btn btn-primary full-width" (click)="manageAttributes()">
                                    <localize key="modal.button.manageAttributes"></localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- <div class="row-holder">
                    <div class="label-holder">
                    </div>                    
                    <div class="holder">
                      <div class="button-holder">
                        <button type="button" class="btn btn-primary" (click)="manageAttributes()">
                            <localize key="modal.button.manageAttributes"></localize>
                        </button>
                    </div>
                    </div>
                </div>  -->
                    
                <!-- <div>
                    <div class="label-holder">
                    <label><localize key="hierarchy.management.manage.attributes.label.displayAttributes"></localize></label>
                    </div>          
                    <div class="holder dataset-attr-holder" >
                    <table class="list-table table table-bordered table-striped">
                        <tbody>
                        <tr *ngFor="let attr of geoObjectType.attributes" class="fade-ngRepeat-item">
                            <td class="button-column">
                            <a *ngIf="!attr.isDefault && attr.code !== 'keyName'" class="fa fa-pencil ico-edit" [routerLink]="" (click)="editAttribute(attr, $event)" title="<localize key='modal.button.edit'></localize>"></a>                             
                            <a *ngIf="!attr.isDefault && attr.code !== 'keyName'" class="fa fa-trash-o ico-remove" [routerLink]="" (click)="removeAttributeType(attr, $event)" title="<localize key='modal.button.remove'></localize>"></a>
                            </td>                  
                            <td class="submit-form">
                            <dl>
                                <dd>
                                <h4 class="disabled" >{{attr.localizedLabel}}</h4>
                                </dd>
                            </dl>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>       -->
                

                <!-- <div class="row-holder">
                    <div class="label-holder">
                    </div>                    
                    <div class="holder">
                    <i class="fa fa-plus" style="font-size:20px;margin:10px 0 10px 0;" aria-hidden="true" (click)="defineAttributeModal()"><localize key="modal.button.add"></localize></i>
                    </div>
                </div>           -->
                <div class="row-holder">
                    <div class="label-holder">
                    </div>                    
                    <div class="holder">
                      <div class="button-holder">
                        <button type="button" class="btn btn-default" (click)="close()"><localize key="modal.button.cancel"></localize></button>              
                        <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="update()">
                            <localize key="modal.button.submit"></localize>
                        </button>
                    </div>
                    </div>
                </div> 
            </fieldset>
    </form>
  </div>

<!-- </form> -->
