<div class="modal-body">

    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid">
        <fieldset>

            <div *ngIf="message" class="row-holder">
                <div class="label-holder"></div>
                <div class="holder" style="border-left: solid 1px #8c0000;">
                    <error-message [message]="message"></error-message>
                </div>
            </div>
                
            <div class="heading">
                <h1>
                    <localize key="hierarchy.management.edit.term.options.title">: {{attribute.label.localizedValue}}</localize>
                </h1>
            </div>
            <div class="row-holder" [@toggleInputs]="state" (@toggleInputs.done)="onAnimationDone($event)">
                <div [@openClose]>
                    <div class="label-holder">
                        <label>
                            <localize key="term.option.input.label.existingTypes"></localize>
                        </label>
                    </div>
                    <div class="holder">
                        <span class="text">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <localize key="data.property.label.code"></localize>
                                            </th>
                                            <th>
                                                <localize key="data.property.label.label"></localize>
                                            </th>
                                            <th class="button-column-header">
                                                <localize key="data.property.label.actions"></localize>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let option of attribute.rootTerm.children">
                                            <td>{{option.code}}</td>
                                            <td>{{option.label.localizedValue}}</td>
                                            <td class="button-column">
                                                <a class="fa fa-pencil ico-edit" [routerLink]="" (click)="editTermOption(option, $event)"></a>
                                                <a class="fa fa-trash-o ico-remove" [routerLink]="" (click)="removeTermOption(option, $event)"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" [(ngModel)]="termOption.code" name="termOptionCode" [required]="termOption.label ? true : null ">
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="termOption.label.localizedValue" name="termOptionLabel" [required]="termOption.code ? true : null ">
                                            </td>
                                            <td class="button-column">
                                                <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="addTermOption()">
                                                    <localize key="modal.button.add"></localize>
                                                </button>
                                                <!-- <a class="fa fa-plus-square ico-edit" [routerLink]="" (click)="addTermOption()"></a> -->
                                                <!-- <a class="fa fa-trash ico-remove" [routerLink]="" (click)="cancelTermOption()"></a> -->
                                                <!-- <button type="button" class="btn btn-default" (click)="cancelTermOption()">
                                    <localize key="modal.button.cancel"></localize> 
                                </button> -->

                                            </td>
                                        </tr>
                                        <!-- <tr>
                          <td></td>
                          <td></td>
                          <td class="button-column"> 
                            <button type="button" class="btn btn-primary" *ngIf="enableTermOptionForm === false" (click)="openAddTermOptionForm()">
                                <localize key="modal.button.add"></localize>
                            </button>
                          </td>
                        </tr> -->
                                        <!-- <a class="fa fa-plus" [routerLink]="" (click)="openAddTermOptionForm()"></a> -->

                                    </tbody>
                                </table>
                            </div>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder">
                </div>
                <div class="holder">
                    <div class="button-holder">
                        <button type="button" class="btn btn-default" (click)="close()">
                            <localize key="modal.button.done"></localize>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
