<div class="crtable-detail-container">
    <h3 class="action-detail-header">{{action.actionLabel}}</h3>
    
    <div class="detail-content">
      <div>
        <label class="detail-label">GeoObjectType : </label>
        <label class="detail-value">{{action.geoObjectType.code}}</label>
      </div>
    
      <div>
        <localize key="masterlist.forDate"></localize>
        <input type="date" [(ngModel)]="dateStr" (change)="handleDateChange()" name="dateStr" />
      </div>    
    
        <!-- 
	  <label class="detail-label">Label : </label><input class="detail-value" type="text" [(ngModel)]="action.geoObjectJson.properties.displayLabel">
	  
	  <label class="detail-label">Code : </label><input class="detail-value" type="text" [(ngModel)]="action.geoObjectJson.properties.code">
	  -->

        <geoobject-shared-attribute-editor 
          #attributeEditor
          *ngIf="preGeoObject"
          [readOnly]="readOnly"
          [geoObjectType]="geoObjectType"
          [postGeoObject]="postGeoObject"
          [preGeoObject]="preGeoObject"
          [forDate]="forDate"
          [isGeometryInlined]="true">
        </geoobject-shared-attribute-editor>

<!-- 
	      <geoobject-editor-map #geometryEditor *ngIf="this.preGeoObject != null && this.postGeoObject != null && this.geoObjectType.isGeometryEditable" [readOnly]="readOnly || !geoObjectType.isGeometryEditable" [postGeoObject]="this.postGeoObject" [preGeoObject]="this.preGeoObject" [geoObjectType]="this.geoObjectType" [isNew]="isNew()"></geoobject-editor-map>
 -->

        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.contributorNotes"></localize> :
            </label>
            <textarea [disabled]="readOnly" style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.contributorNotes"></textarea>
        </div>

        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.maintainerNotes"></localize> :
            </label>
            <textarea [disabled]="readOnly" style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.maintainerNotes"></textarea>
        </div>

        <div class="button-holder">
          <button *ngIf="readOnly" (click)="startEdit()" class="btn btn-primary detail-accept">
            <localize key="modal.button.edit"></localize>
          </button>
          <button *ngIf="!readOnly" (click)="applyAction()" class="btn btn-primary detail-accept">
            <localize key="modal.button.submit"></localize>
          </button>
          <button *ngIf="!readOnly" (click)="endEdit()" class="btn btn-default detail-reject">
            <localize key="modal.button.cancel"></localize>
          </button>
        </div>
    </div>
</div>