<div class="crtable-detail-container">

    <div class="heading text-center">
        <h1 class="action-detail-header">{{action.actionLabel}}</h1>
	  </div>
    
    <div class="detail-content">
      <h4>
        <localize key="io.geoObjectType"></localize>: {{action.geoObjectType.code}}
      </h4>
    
      <div style="margin: 20px 0;">
        <span style="margin-right:10px;"><localize key="changeOverTime.forDate"></localize></span>
        <input type="date" [(ngModel)]="dateStr" (change)="handleDateChange()" name="dateStr" />
      </div>    
    

        <geoobject-shared-attribute-editor 
          #attributeEditor
          *ngIf="preGeoObject"
          [readOnly]="true"
          [geoObjectType]="geoObjectType"
          [postGeoObject]="postGeoObject"
          [preGeoObject]="preGeoObject"
          [forDate]="forDate"
          [isGeometryInlined]="true">
        </geoobject-shared-attribute-editor>


        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.contributorNotes"></localize> :
            </label>
            <textarea style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.contributorNotes" disabled></textarea>
        </div>

        <div class="button-holder text-right" style="margin:40px 0 20px 0;">
<!--           Removed ability to edit to meet requirements of no Sys Admin, RA, or RM to be able to edit -->
<!--           <button *ngIf="readOnly" (click)="startEdit()" class="btn btn-primary detail-accept"> -->
<!--             <localize key="modal.button.edit"></localize> -->
<!--           </button> -->
<!--           <button *ngIf="!readOnly" (click)="endEdit()" class="btn btn-default detail-reject"> -->
<!--             <localize key="modal.button.cancel"></localize> -->
<!--           </button> -->
          <button *ngIf="!readOnly" (click)="applyAction()" class="btn btn-primary detail-accept">
            <localize key="modal.button.submit"></localize>
          </button>
        </div>
    </div>
</div>