<div class="row">
  <div class="col-md-12">
    <div style="margin-top:50px;margin-bottom:50px;background:#f7f7f7;width:100%;padding:10px;">
      <h3 style="margin-bottom: 20px;"><localize key="change.request.search.for.geoobject.header"></localize></h3>
      <div class="row">

        <div class="col-md-3">
          <localize key="dropdown.select.geoobjecttype.option.label"></localize>
          <select id="geoObjectTypeSelect" name="geoObjectTypeSelect" class="select-area" [(ngModel)]="geoObjectType" required>
            <option>  </option>
            <option *ngFor="let got of geoObjectTypes" [ngValue]="got">{{got.label.localizedValue}}</option>
          </select>
        </div>
        
        <div class="col-md-3">
          <localize key="changeOverTime.forDate"></localize>
          <date-field [(value)]="dateStr" label="" [inputName]="'dateStr'" (change)="handleDateChange()" [disable]="!geoObjectType" 
            [allowInfinity]="false" [allowFutureDates]="false" [required]="false" [placement]="'right'" customStyles="width:100%"></date-field>
        </div>
        
        <div class="col-md-4">
          <localize key="change.request.search.for.geoobject.search.label"></localize>
          <input type="text" [ngClass]="{'inline-loading':loading}" [(ngModel)]="geoObjectId" [disabled]="!geoObjectType" name="geoObjectId" [typeaheadAsync]="true" [typeahead]="dataSource" (typeaheadOnSelect)="typeaheadOnSelect($event)"
            [typeaheadOptionsLimit]="7" typeaheadOptionField="name" (typeaheadLoading)="changeTypeaheadLoading($event)" [placeholder]="('masterlist.search' | localize) + '...'" class="form-control" autocomplete="off">
        
            <span *ngIf="preGeoObject" class="pull-right">
              <a (click)="clickShowDetails()">
                <localize *ngIf="!showGeoObjectDetails" key="change.request.create.request.show.details.btn"></localize>
                <localize *ngIf="showGeoObjectDetails" key="change.request.create.request.hide.details.btn"></localize>
              </a>
            </span>
            
            <div *ngIf="showGeoObjectDetails">
              <geoobject-shared-attribute-editor 
              #attributeEditor (valid)="onValidChange($event)" 
              [forDate]="this.forDate"
              [geoObjectType]="this.geoObjectType" 
              [preGeoObject]="this.preGeoObject" 
              [(postGeoObject)]="this.postGeoObject" 
              [isGeometryInlined]="false"
              [readOnly]="true"
              [animate]=false>
              </geoobject-shared-attribute-editor>
           </div>
        </div>
        
        <div class="col-md-2">
          <label></label>
           <!-- We cannot use the dataset-location-manager here because it pulls the tiles from the dataset (list) and we don't have a dataset. -->
           <!-- <a *ngIf="preGeoObject && forDate" [routerLink]="['/registry/dataset-location-manager', '123', preGeoObject.attributes.type, 'false', dateStr, preGeoObject.attributes.code, 'true']" -->
          
           <a *ngIf="preGeoObject && forDate" [routerLink]="['/registry/location-manager', preGeoObject.attributes.uid, preGeoObject.attributes.type, dateStr, 'true']"
                target="_blank">
            <button class="btn btn-primary" style="width:100%;"><localize key="change.request.open.geoobject.in.editor.link.btn"></localize></button>
          </a>
          <button *ngIf="!(preGeoObject && forDate)" disabled="true" class="btn btn-primary" style="width:100%;"><localize key="change.request.open.geoobject.in.editor.link.btn"></localize></button>
        </div>

      </div>
      
    </div>
  </div>
</div>