input[type="text"] {
    margin: 2px 0 2px 0 !important;
    float: none !important;
}

label {
    color: #999;
    font-weight: bold;
}

.sub-title {
    color: grey;
}

.btn-group.define-attribute-btns {
    /* width: 50%; */
    margin: 0 auto;
    display: block;
    /* margin-bottom: 100px; */
}
