<div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <form #form="ngForm" *ngIf="geoObjectType" class="modal-form" (ngSubmit)="form.valid">
        <div class="heading">
            <h1>
                <localize key="hierarchy.management.manage.attributes.title"></localize> {{geoObjectType.label.localizedValue}}</h1>
        </div>
        <fieldset>

            <div>
                <div class="label-holder">
                    <label>
                        <localize key="hierarchy.management.manage.attributes.label.displayAttributes"></localize>
                    </label>
                </div>
                <div class="holder dataset-attr-holder">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <localize key="data.property.label.label"></localize>
                                    </th>
                                    <th class="button-column-header">
                                        <localize key="data.property.label.actions"></localize>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attr of geoObjectType.attributes">
                                    <td>{{attr.label.localizedValue}}</td>
                                    <td class="button-column">
                                        <a *ngIf="!attr.isDefault && attr.code !== 'keyName'" class="fa fa-pencil ico-edit" [routerLink]="" (click)="editAttribute(attr, $event)"
                                            [title]="'modal.button.edit' | localize"></a>
                                        <a *ngIf="!attr.isDefault && attr.code !== 'keyName'" class="fa fa-trash-o ico-remove" [routerLink]="" (click)="removeAttributeType(attr, $event)"
                                            [title]="'modal.button.remove' | localize"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <table class="list-table table table-bordered table-striped">
                        <tbody>
                        <tr *ngFor="let attr of geoObjectType.attributes" class="fade-ngRepeat-item">
                            <td class="button-column">
                            <a *ngIf="!attr.isDefault && attr.code !== 'keyName'" class="fa fa-pencil ico-edit" [routerLink]="" (click)="editAttribute(attr, $event)" title="<localize key='modal.button.edit'></localize>"></a>                             
                            <a *ngIf="!attr.isDefault && attr.code !== 'keyName'" class="fa fa-trash-o ico-remove" [routerLink]="" (click)="removeAttributeType(attr, $event)" title="<localize key='modal.button.remove'></localize>"></a>
                            </td>                  
                            <td class="submit-form">
                            <dl>
                                <dd>
                                <h4 class="disabled" >{{attr.label}}</h4>
                                </dd>
                            </dl>
                            </td>
                        </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                </div>
                <div class="holder">
                    <i class="fa fa-plus clickable" style="font-size:20px;margin:10px 0 10px 0;" aria-hidden="true" (click)="defineAttributeModal()">
                        <localize key="modal.button.add"></localize>
                    </i>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="button-holder">
                        <button type="button" class="btn btn-default" (click)="close()">
                            <localize key="modal.button.back"></localize>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

</div>

