<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>


    <div id="app-container" class="container-fluid">

        <div class="heading">
            <h2>
                <localize key="masterlists.manager.organizations"></localize>
            </h2>
        </div>

        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

        <div class="row" *ngFor="let org of orgs;">
            <div class="col-md-12 order-md-1">
                <div style="margin-top: 30px; margin-bottom: 30px;" class="row">
                    <div class="col-md-12">
                        <div class="py-5">
                            <h3>{{org.label}}</h3>
                        </div>
                    </div>
                </div>
                <ul *ngIf="org.lists && org.lists.length > 0" class="list-group" style="border-bottom: 2px solid lightgrey;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 70%;"><localize key="masterlist.menu"></localize></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of org.lists; let i = index;" class="clickable">
                                <td style="width: 70%; vertical-align: middle;">
                                  <a [routerLink]="'/registry/master-list-view/' + list.oid" routerLinkActive="active">
                                    {{list.label}}
                                    <span *ngIf="list.isMaster"><localize key="masterlist.master"></localize></span>
                                  </a>
                                </td>
                                <td style="width: 30%; text-align: right;">
                                    <button type="submit" (click)="onView(list.oid)" class="btn btn-primary" role="button">
                                        <localize key="modal.button.view"></localize>
                                    </button>
                                    <button *ngIf="org.admin" type="submit" (click)="onEdit(list)" class="btn btn-primary" role="button">
                                        <localize key="masterlist.button.metadata"></localize>
                                    </button>
                                    <button *ngIf="org.admin" type="submit" (click)="onDelete(org, list)" class="btn btn-danger" role="button">
                                        <localize key="modal.button.delete"></localize>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ul>
                <div style="margin-top: 30px; margin-bottom: 30px;" class="row">
                    <div class="col-md-6">
                        <div *ngIf="org.admin">
                            <button type="submit" (click)="onCreate(org)" class="btn btn-primary" role="button">
                                <localize key="hierarchy.management.button.create"></localize>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>