<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>

    <div id="app-container" class="container-fluid">


        <div class="row">
            <div class="col-md-12">

                <div *ngIf="list" class="row">
                    <div class="col-md-12">
                        <h3>{{list.displayLabel.localizedValue}}</h3>
                    </div>
                </div>
                <div *ngIf="list" class="row">
                    <div class="col-md-12">
                        <h5>
                            <b> <a href="#" (click)="onViewMetadata($event)"><localize key="masterlist.view"></localize> </a></b>
                        </h5>
                    </div>
                </div>
                
                <div>
                    <a *ngIf="list && list.read" style="margin-right: 10px; font-size: 20px;" [ngClass]="{'active': content === 'EXP'}" (click)="renderContent('EXP')">Exploratory</a>
                    <a style="margin-right: 10px; font-size: 20px;" [ngClass]="{'active': content === 'PUB'}" (click)="renderContent('PUB')">Published</a>
                </div>

                <div class="inner-col-content-wrapper" style="padding-top: 30px; margin-top: 10px;">
                    <published-master-list-history *ngIf="list && content === 'PUB'" [oid]="list.oid"></published-master-list-history>
                    <master-list-history *ngIf="list && content === 'EXP'" [oid]="list.oid"></master-list-history>
                </div>

            </div>
        </div>
    </div>
</div>
