<div>
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div *ngIf="list && list.exploratory" style="margin-bottom: 10px;" class="row">

        <div class="col-md-12">
            <form #myForm="ngForm" style="margin-left: 10px;">
                <div class="form-group">
                    <label for="forDate" style="display: block; margin-bottom: 0;"><localize key="masterlist.publishingFor"></localize></label> <input id="forDate" type="date" name="forDate" [(ngModel)]="forDate" required>

                    <button type="submit" style="margin-left: 15px;" (click)="onPublish()" class="btn btn-primary" role="button" [disabled]="myForm.invalid">
                        <localize key="masterlist.publishNewVersion"></localize>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row form-group">
        <div *ngIf="list" class="col-md-12 table-responsive">
            <table class="list-table table">
                <thead>
                    <tr>
                        <th style="width: 50%" class="label-column"><localize key="masterlist.actions"></localize></th>
                        <th style="width: 15%" class="label-column"><localize key="masterlist.forDate"></localize></th>
                        <th style="width: 15%" class="label-column"><localize key="masterlist.generatedDate"></localize></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let result of page.results | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }" class="fade-ngRepeat-item"> -->
                    <tr *ngFor="let version of list.versions">
                        <td style="width: 70%">
                            <div class="button-holder">
                                <button type="submit" (click)="onView(version)" class="btn btn-primary" role="button">
                                    <localize key="modal.button.view"></localize>
                                </button>
                                <button *ngIf="list.write" type="submit" (click)="onDelete(version)" class="btn btn-danger" role="button">
                                    <localize key="modal.button.delete"></localize>
                                </button>
                            </div>
                        </td>
                        <td style="width: 15%" class="label-column">{{ version.forDate }}</td>
                        <td style="width: 15%" class="label-column">{{ version.publishDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
