<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>
    <!-- <progress-bar></progress-bar> -->

    <div id="app-container" class="container-fluid">
        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

        <div class="row">
            <div *ngIf="list" class="col-md-12">
                <h2>
                    <!-- <localize key="masterlist.title"></localize> -->
                    {{list.displayLabel}}
                </h2>
            </div>
        </div>
        <div *ngIf="list" class="row form-group">

            <div class="col-md-12">
                <h4>
                    <localize key="masterlist.publishDate"></localize>
                    : {{list.publishDate}}
                </h4>
                
                <h4>
                    <localize key="masterlist.forDate"></localize>
                    : {{list.forDate}}
                </h4>
            </div>
        </div>


        <div *ngIf="filter.length > 0" class="row form-group">
            <div class="col-md-12 table-responsive" style="">
                <localize key="masterlist.filters"></localize>
                <ol>
                    <li *ngFor="let f of filter">{{f.label}}</li>
                </ol>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <pagination-controls style="position: absolute;" (pageChange)="onPageChange($event)"></pagination-controls>
            
                <div class="button-holder pull-right">
            
                    <span class="clickable" (click)="clearFilters()" style="padding: 10px;">
                        <span class="fa-stack fa-md">
                            <i class="fa fa-filter fa-stack-2x" style="font-size: 25px;"></i>
                            <i class="fa fa-times-circle fa-stack-1x" style="font-size: 13px;top: 4px;left: 6px;"></i>
                        </span>
                        <localize key="masterlist.clearFilters"></localize>
                    </span>
                    
                    <span *ngIf="!isPublished" class="clickable" (click)="onPublish()" style="padding: 10px;">
                        <i *ngIf="!isRefreshing" class="fa fa-refresh clickable" style="font-size: 25px;vertical-align: middle;" aria-hidden="true"></i>
                        <i *ngIf="isRefreshing" class="fa fa-refresh fa-spin clickable" style="font-size: 25px;vertical-align: middle;" aria-hidden="true"></i>
                        <localize key="masterlist.publish"></localize>
                    </span>
            
            
                    <!-- <button type="submit" (click)="clearFilters()" class="btn btn-default" role="button">
                                <localize key="masterlist.clearFilters"></localize>
                            </button>
                            <button *ngIf="isMaintainer" type="submit" (click)="onPublish()" class="btn btn-primary" role="button">
                                <localize key="masterlist.publish"></localize>
                            </button> -->
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div *ngIf="list" class="col-md-12 table-responsive" style="">
                <table class="list-table table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th *ngIf="!list.leaf" style="width: 3%" class="label-column"><localize key="masterlist.view.column"></localize></th>
                            <th style="width: 3%" class="label-column"><localize key="masterlist.edit.column"></localize></th>
                            <th *ngFor="let attribute of list.attributes" class="label-column">

                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;" *ngIf="isFilterable(attribute)">
                                    <a class="" (click)="toggleFilter(attribute)" [attr.aria-expanded]="!attribute.isCollapsed" aria-controls="collapseBasic"> 
										<i style="font-size: 20px;" class="fa fa-filter"></i>
                                    </a>
								</div> 
								<a (click)="onSort(attribute)" style="display: table-cell; word-break: keep-all; word-wrap: normal;">{{attribute.label}} </a> 
								<a (click)="onSort(attribute)" style="display: table-cell; vertical-align: middle; padding-left: 5px;"> 
									<i *ngIf="sort.order === 'ASC' && sort.attribute === attribute.name" class="fa fa-arrow-down" style="font-size: inherit;"></i> 
									<i *ngIf="sort.order === 'DESC' && sort.attribute === attribute.name" class="fa fa-arrow-up" style="font-size: inherit;"></i>
                            	</a>

                                <div *ngIf="isFilterable(attribute)">
                                    <!-- <a class="" (click)="toggleFilter(attribute)" [attr.aria-expanded]="!attribute.isCollapsed" aria-controls="collapseBasic">
								<i class="fa fa-filter"></i>
								</a> -->
                                    <div id="collapseBasic" [collapse]="attribute.isCollapsed">
                                        <input *ngIf="attribute.type === 'input'" [name]="attribute.name" [(ngModel)]="attribute.value" (keyup.enter)="handleInputChange(attribute)" type="text" class="form-control search-input" />
                                        <div *ngIf="attribute.type === 'date'">
                                            <input [name]="attribute.name + 'Start'" [(ngModel)]="attribute.value.start" (change)="handleDateChange(attribute)" type="date" class="form-control search-input" /> <input [name]="attribute.name + 'End'" [(ngModel)]="attribute.value.end" (change)="handleDateChange(attribute)" type="date" class="form-control search-input" />
                                        </div>
                                        <input *ngIf="attribute.type === 'list'" type="text" [name]="attribute.name" [(ngModel)]="attribute.search" [typeaheadAsync]="true" [typeahead]="getValues(attribute)" (typeaheadOnSelect)="handleListChange($event, attribute)" [typeaheadOptionsLimit]="100" [typeaheadMinLength]="0" [typeaheadWaitMs]="300" typeaheadOptionField="label" class="form-control" autocomplete="off">

                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of page.results | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }" class="fade-ngRepeat-item">
                            <td *ngIf="!list.leaf" style="width: 3%; text-align: center;" class="label-column"><a class="fa fa-map-marker" (click)="onGoto(result)"></a></td>
                            <td style="width: 3%" class="label-column"><a class="fa fa-pencil ico-edit" (click)="onEdit(result)"></a></td>
                            <td *ngFor="let attribute of list.attributes" class="label-column">{{ result[attribute.name] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="row form-group">
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <pagination-controls style="position: absolute;" (pageChange)="onPageChange($event)"></pagination-controls>

                <div class="button-holder pull-right">
                    <button type="submit" (click)="onNewGeoObject()" class="btn btn-primary" role="button">
                        <localize key="masterlist.newGeoObject"></localize>
                    </button>
                    <button type="submit" (click)="onExport()" class="btn btn-primary" role="button">
                        <localize *ngIf="filter.length === 0" key="io.export.allrows"></localize>
                        <localize *ngIf="filter.length > 0" key="io.export.filteredrows"></localize>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
