<div>
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

     <div *ngIf="list && ((list.write))" style="margin-bottom: 10px;" class="row">
        <div class="col-md-12">
            <form #myForm="ngForm">
                <div class="form-group">
                    <button type="submit" style="margin-left: 15px;" (click)="onPublish()" class="btn btn-primary" role="button" [disabled]="myForm.invalid" 
                    [title]="'masterList.publish.help.text' | localize">
                        <localize key="masterlist.publish.versions"></localize>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row form-group">
        <div *ngIf="list" class="col-md-12 table-responsive">
            <table class="list-table table" style="border-bottom: solid lightgrey 3px;">
                <thead>
                    <tr>
                        <th style="width: 50%" class="label-column"><localize key="masterlist.actions"></localize></th>
                        <th style="width: 15%" class="label-column"><localize key="masterlist.forDate"></localize></th>
                        <th style="width: 15%" class="label-column"><localize key="masterlist.publishDate"></localize></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let version of list.versions">
                        <td style="width: 70%">
                            <div class="button-holder">
                                <button type="submit" (click)="onView(version)" class="btn btn-primary" role="button">
                                    <localize key="modal.button.view"></localize>
                                </button>
                                <button *ngIf="list && (list.write)" type="submit" (click)="onExportToFhir(version)" class="btn btn-default" role="button">
                                    <localize key="masterlist.export-to-fhir"></localize>                                    
                                </button>                                
                                <button *ngIf="list && (list.write)" type="submit" (click)="onPublishShapefile(version)" class="btn btn-default" role="button">
                                    <localize key="masterlist.publish-shapefile"></localize>
                                </button>                                
                                <button *ngIf="version.shapefile" type="submit" (click)="onDownloadShapefile(version)" class="btn btn-primary" role="button">
                                    <localize key="masterlist.download"></localize>
                                </button>   
                                <button *ngIf="list && (list.write)" type="submit" (click)="onDeleteMasterListVersion( version )" class="btn btn-danger" role="button">
                                    <localize key="modal.button.delete"></localize>
                                </button>  
                            </div>
                        </td>
                        <td style="width: 15%" class="label-column">
                          <span class="date-string-display">
                              {{formatDate(version.forDate)}}
                          </span>
                        </td>
                        <td style="width: 15%" class="label-column">
                          <span class="date-string-display">
                              {{formatDate(version.publishDate)}}
                          </span>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 order-md-1">
            <ul class="list-group">
                <div class="solid-table-wrapper">
                    <table class="table table-striped">
                        <thead>
                            <tr style="height: 56px;">
                                <th style="vertical-align: middle;"><localize key="masterlist.jobs"></localize></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job of page.results | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">
                                <td style="vertical-align: middle;">
                                    <div class="wrapper">
                                        <i style="position: absolute; font-size: 40px;" class="fa fa-file" aria-hidden="true"></i>
                                        <p style="padding-left: 60px;">
                                            <span style="display: block;"> {{job.createDate}} </span>
                                            <span style="display: block;"> {{job.author}} </span>
                                            <span style="display: block;"> {{job.type}} </span>
                                            <span style="display: block;"> {{job.status}} </span>
                                            <span *ngIf="job.exception" style="display: block;"> {{job.exception.message}} </span>
                                            <span *ngIf="job.message" style="display: block;"> {{job.message}} </span>                                            
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="page.results.length > 0" class="solid-table-footer">
                        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
