<div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="heading text-center">
        <h1 *ngIf="isNew">
            <localize key="type.publish.title"></localize>
        </h1>
        <h1 *ngIf="!isNew">
            {{master.displayLabel.localizedValue}}
            <localize key="type.publish.view.title"></localize>
        </h1>
    </div>
    <!-- <div class="col-md-12 order-md-1"> -->
    <form #form="ngForm" class="modal-form" autocomplete="off">

        <fieldset>
            <div class="row-holder" *ngFor="let localeValue of master.displayLabel.localeValues">
                <div class="label-holder">
                    <label> <localize key="masterlist.label"></localize> 
                    <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale"></convert-key-label>)</span>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="text" class="form-control" [disabled]="readonly" [required]="localeValue.locale === 'defaultLocale'" />
                </div>
            </div>
            <div class="row-holder" *ngIf="types && !(readonly || edit)">
                <div class="label-holder">
                    <label for="typeCode"> <localize key="io.geoObjectType"></localize>
                    </label>
                </div>
                <div class="holder">
                    <select id="typeCode" name="typeCode" class="select-area" [(ngModel)]="master.typeCode" (change)="onChange()" required>
                        <option></option>
                        <option *ngFor="let type of types" [value]="type.code">{{type.label}}</option>
                    </select>
                </div>
            </div>
            <div class="row-holder" *ngIf="types && (readonly || edit)">
                <div class="label-holder">
                    <label for="typeCode"> <localize key="io.geoObjectType"></localize>
                    </label>
                </div>
                <div class="holder">
                  <input [(ngModel)]="master.typeLabel.localizedValue" name="typeCode" type="text" class="form-control" disabled />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.code"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.code" name="code" type="text" class="form-control" [disabled]="readonly || edit" required />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="data.property.label.frequency"></localize></label>
                </div>
                <div class="holder">
                    <select class="select-area" name="frequency" [(ngModel)]="master.frequency" [disabled]="readonly" required #frequency="ngModel">
                        <option></option>
                        <option value="ANNUAL"><localize key="georegistry.frequency.annual"></localize></option>
                        <option value="BIANNUAL"><localize key="georegistry.frequency.biannual"></localize></option>
                        <option value="QUARTER"><localize key="georegistry.frequency.quarter"></localize></option>
                        <option value="MONTHLY"><localize key="georegistry.frequency.monthly"></localize></option>
                    </select>                    
                    <small *ngIf="(edit && frequency.dirty)" class="form-text text-danger"><localize key="masterlist.change.frequency"></localize></small>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="data.property.label.publishingStartDate"></localize>
                    </label>
                </div>
                <div class="holder">
                    <span *ngIf="readonly" style="line-height: 40px;" class="date-string-display">
                              {{formatDate(master.publishingStartDate)}}
                    </span>
                    <date-field *ngIf="!readonly" [(value)]="master.publishingStartDate" [classNames]="['form-control']" label="" [inputName]="'publishingStartDate'" 
                        [allowFutureDates]="false" name="masterPublishingStartDate" [required]="false" [disable]="readonly"></date-field>
                    <small *ngIf="(edit && !isNew && originalPublishStartDate != master.publishingStartDate)" class="form-text text-danger"><localize key="masterlist.change.frequency"></localize></small>
                </div>
            </div>
            
            <div class="row-holder">
                <div class="label-holder">
                    <label><localize key="masterlist.visibility"></localize></label>
                </div>
                <div class="holder">
                    <select class="select-area" name="visibility" [(ngModel)]="master.visibility" [disabled]="readonly" required>
                        <option></option>
                        <option value="PUBLIC"><localize key="masterlist.public"></localize></option>                        
                        <option value="PRIVATE"><localize key="masterlist.private"></localize></option>
                    </select>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.ismaster"></localize> </label>
                </div>
                <div class="holder">
                    <div class="row">
                        <div class="check-block" style="margin: 10px;">

                            <div (click)="getIsDisabled($event) ? null : master.isMaster = !master.isMaster" name="isMaster" [ngClass]="{'chk-checked' : master.isMaster, 'disabled' : readonly || edit}" style="margin: 0;" class="jcf-unselectable chk-area">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- RepresentativityDate adn publishDate are being removed from the form but not 
            the backend at this point because there's some discussion around the need for these
            in the future.  - Justin Lewis Feb 27, 2020 -->
            <!-- <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.representativityDate"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.representativityDate" name="representativityDate" type="date" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.publishDate"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.publishDate" name="publishDate" type="date" class="form-control" [disabled]="readonly" />
                </div>
            </div> -->

            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.listAbstract"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.listAbstract" name="listAbstract" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.process"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.process" name="process" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.progress"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.progress" name="progress" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.accessConstraints"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.accessConstraints" name="accessConstraints" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.useConstraints"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.useConstraints" name="useConstraints" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.acknowledgements"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.acknowledgements" name="acknowledgements" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.disclaimer"></localize>
                    </label>
                </div>
                <div class="holder">
                    <textarea [(ngModel)]="master.disclaimer" name="disclaimer" class="form-control" [disabled]="readonly"></textarea>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <localize key="masterlist.contact"></localize>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.contactName"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.contactName" name="contactName" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.telephoneNumber"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.telephoneNumber" name="telephoneNumber" type="text" class="form-control" [disabled]="readonly" />
                </div>
            </div>
            <div class="row-holder">
                <div class="label-holder">
                    <label> <localize key="masterlist.email"></localize>
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="master.email" name="email" type="email" class="form-control" [disabled]="readonly" />
                </div>
            </div>

            <div class="row-holder" *ngIf="master.hierarchies.length > 0">
                <div class="label-holder"></div>
                <div class="holder">
                    <localize key="masterlist.parents"></localize>
                </div>
            </div>

            <div *ngFor="let hierarchy of master.hierarchies">
                <div class="row-holder">
                    <div class="label-holder">
                        <label> {{hierarchy.label}} </label>
                    </div>
                    <div class="holder">
                        <div class="row" *ngFor="let parent of hierarchy.parents">
                            <!-- <div class="holder"> -->

                            <div class="check-block" style="margin: 10px;">

                                <!-- To enable add: (click)="parent.selected = !parent.selected" -->
                                <div (click)="getIsDisabled($event) ? null : parent.selected = !parent.selected" [ngClass]="{'chk-checked' : parent.selected, 'disabled' : readonly || edit}" style="margin: 0;" class="jcf-unselectable chk-area" name="unique">
                                    <span></span>
                                </div>

                                <label style="margin: 3px 10px;">{{parent.label}}</label>

                                <!-- <input [(ngModel)]="parent.selected" [name]="hierarchy.code + parent.code" type="checkbox" class="form-check" [disabled]="readonly || edit"/> -->
                            </div>
                            <!-- <div class="holder">{{parent.label}}</div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            
            <div *ngIf="master.subtypeHierarchies.length > 0">
                <div class="row-holder">
                    <div class="label-holder">
                        <label> <localize key="masterlist.subtypeHierarchies"></localize> </label>
                    </div>
                    <div class="holder">
                        <div class="row" *ngFor="let hierarchy of master.subtypeHierarchies">
                            <!-- <div class="holder"> -->

                            <div class="check-block" style="margin: 10px;">

                                <!-- To enable add: (click)="parent.selected = !parent.selected" -->
                                <div (click)="getIsDisabled($event) ? null : hierarchy.selected = !hierarchy.selected" [ngClass]="{'chk-checked' : hierarchy.selected, 'disabled' : readonly || edit}" style="margin: 0;" class="jcf-unselectable chk-area" name="unique">
                                    <span></span>
                                </div>

                                <label style="margin: 3px 10px;">{{hierarchy.label}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <div class="button-holder">
                        <button type="button" (click)="onCancel()" class="btn btn-default" role="button">
                            <localize [key]="readonly ? 'io.back' : 'io.cancel'"></localize>
                        </button>
                        <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="form.invalid">
                            <localize key="io.submit"></localize>
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <!-- </div> -->
</div>