<form class="modal-form">
  <div class="text-center">
    <h2>
      <localize key="io.location.title"></localize>
    </h2>
    <p class="lead">
      <localize key="io.location.description"></localize>
    </p>
  </div>
  <div class="col-md-12 order-md-1">
    <form #form="ngForm">
      
      <div class="form-group" *ngFor="let location of configuration.locations; let i = index;">
        <div class="row-holder">
          <div class="label-holder">
            <label> {{location.label}} </label>
          </div>
          <div class="holder">
            <select class="select-area" [(ngModel)]="location.target" [name]="i + '-location'">
              <option value=""></option>
              <option *ngFor="let attr of configuration.sheet.attributes.text" [value]="attr">{{attr}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="row-holder">
          <div class="button-holder">
            <button type="submit" (click)="onBack()" class="btn btn-default" role="button">
                <localize key="io.back"></localize>
            </button>
            <button type="btn" (click)="onCancel()" class="btn btn-default" role="button">
                <localize key="io.cancel"></localize>
            </button>
            <button type="submit" (click)="onNext()" class="btn btn-primary" role="button" [disabled]="form.invalid">
                <localize key="io.submit"></localize>
            </button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</form>