<div class="modal-body">
  <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

  <div *ngIf="configuration != null && configuration">
    <div *ngIf="state === 'MAP'">
      <attributes-page [(configuration)]="configuration" (stateChange)="onStateChange($event)"></attributes-page>
    </div>
    <div *ngIf="state === 'LOCATION'">
      <location-page [(configuration)]="configuration" property="type" (stateChange)="onStateChange($event)"></location-page>
    </div>
    <div *ngIf="state === 'LOCATION-PROBLEM'">
      <location-problem-page [(configuration)]="configuration" (stateChange)="onStateChange($event)"></location-problem-page>
    </div>
    <div *ngIf="state === 'TERM-PROBLEM'">
      <term-problem-page [(configuration)]="configuration" (stateChange)="onStateChange($event)"></term-problem-page>
    </div>
  </div>
</div>