<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>

    <div id="app-container" class="container-fluid">
        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

            <div class="py-5">
                <h2>
                    <localize key="scheduledjobs.details.title"></localize>
                </h2>
            </div>
            <div *ngIf="job" class="row" style="background: #F4F4F4;
                                border-radius: 15px;
                                margin-bottom: 20px;
                                margin-top: 20px;
                                padding: 10px;">
                <div class="col-md-4 order-md-1">
                    <div class="wrapper">

                        <i style="position: absolute;font-size: 55px;" class="fa fa-file" aria-hidden="true"></i>
                        <p style="padding-left: 60px;">
                            <span style="display: block;">
                                <strong>{{version.label}}</strong>
                            </span>
                            <span style="display: block;">
                              Job started by:
                              {{job.lastRunBy}}
                            </span>
                            <span style="display: block;">
                              <localize key="scheduledjobs.job.started.label"></localize>
                              <span class="date-string-display">
                                    {{formatDate(job.lastRun)}}
                              </span>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="col-md-3 order-md-1">
                    <div>

                        <h5><b>{{job.workProgress}} 
                          Validated out of 
                          {{job.workTotal}} 
                          <localize key="scheduledjobs.job.imported.total.label"></localize>
                        </b></h5>
                        <h5>{{job.workTotal - job.workProgress}} <localize key="scheduledjobs.job.remaining.label"></localize></h5>

                    </div>
                </div>
                <div class="col-md-5 order-md-1">
                  <!--

                  <div *ngIf="page.resultSet.length == 0 && job && job.stage === 'VALIDATION_RESOLVE'" style="display:block; margin: 10px;text-align: right;">
                    <span style="display:block; margin-bottom:10px;">
                      <localize key="scheduledjobs.validation.problems.complete.msg"></localize>
                    </span>
                    <button type="submit" (click)="onResolveScheduledJob(job.historyId)" class="btn btn-primary" role="button">
                      <localize key="scheduledjobs.reimport.button"></localize>
                    </button>
                  </div>
                  
                  <div *ngIf="page.resultSet.length == 0 && job && job.stage === 'IMPORT_RESOLVE'" style="display:block; margin:10px;text-align: right;">
                    <span style="display:block; margin-bottom:10px;">
                      <localize key="scheduledjobs.import.problems.complete.msg"></localize>
                    </span>
                    <button type="submit" (click)="onResolveScheduledJob(job.historyId)" class="btn btn-primary" role="button">
                      <localize key="scheduledjobs.complete.import.button"></localize>
                    </button>
                  </div>
      
                  <div *ngIf="page && page.resultSet != null && page.resultSet.length > 0 && !hasRowValidationProblem" class="button-holder" style="display:block; margin:10px;text-align: right;">
                      <button type="submit" (click)="onResolveScheduledJob(job.historyId)" class="btn btn-primary" role="button">
                        <localize *ngIf="job && job.stage === 'VALIDATION_RESOLVE'" key="etl.import.resume.openModal"></localize>
                        <span *ngIf="job && job.stage === 'IMPORT_RESOLVE'">
                          <localize key="scheduledjobs.complete.import.button"></localize>
                        </span>
                      </button>
                  </div>
                  
                  <div *ngIf="hasRowValidationProblem"class="button-holder" style="display:block; margin:10px;">
                    <button type="submit" (click)="onReuploadAndResume(job.historyId)" class="btn btn-primary" role="button">
                        <span>
                          <localize key="scheduledjobs.reupload.resume.button"></localize>
                        </span>
                      </button>
                  </div>
                  
                  <div *ngIf="page && page.resultSet != null && page.resultSet.length > 0 && job.stage === 'VALIDATION_RESOLVE'" class="button-holder" style="display:block; margin:10px;">
                      <button type="button" (click)="onCancelScheduledJob(job.historyId)" class="btn btn-danger" role="button"><localize key="etl.import.cancel.openModal"></localize></button>
                  </div>
                  -->
                </div>
            </div>
            <div *ngIf="page && page.resultSet.length > 0" class="row">
                <div class="col-md-12 order-md-1" *ngIf="job">
                    
                    <ul class="list-group">
            
                        <table class="list-table table table-bordered table-striped">
                            <thead>
                                <tr>
	                                <th class="label-column">
	                                    <localize key="scheduledjobs.import.table.problem.type.header"></localize>
	                                </th>
	                                <th class="label-column">
                                    Geo-Object Code
                                  </th>
	                                <th class="label-column">
	                                    
	                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of page.resultSet | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">
                                    <td class="label-column" style="vertical-align: middle;">
                                      <p>{{getFriendlyProblemType(row.type)}}</p>
                                    </td>
                                    <td class="label-column" style="vertical-align: middle;">
                                      <p>{{row.goCode}}</p>
                                    </td>
                                    <td class="label-column" *ngIf="isAdmin || isMaintainer" style="text-align: right;">
                                        <button type="submit" (click)="onEdit(row)" class="btn btn-link" role="button">
                                            <localize key="scheduledjobs.fix.problem.button"></localize>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="solid-table-footer">
                            <div *ngIf="page.resultSet.length > 0" class="solid-table-footer">
                                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
    </div>
</div>