<div>
  <div class="row">
    <div class="col-md-12">
      <h3>{{type.displayLabel.localizedValue}}</h3>
    </div>
  </div>

  <form class="modal-form" name="geobject-shared-attribute-editor" #attributeForm="ngForm">
    <fieldset>
      <div class="row">
        <div class="col-md-12">
          <span class="text"></span>
          <ul class="list-group">
            <ng-container *ngFor="let attributeType of type.attributes">
              <li *ngIf="object.data[attributeType.code] != null" class="list-group-item"
                style="text-align:left;border:none;padding:0;">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 style="margin:0;">
                      <span>
                        {{attributeType.label.localizedValue}}
                      </span>
                    </h4>
                  </div>

                  <div class="panel-body">
                    <ng-container ng-switch="attributeType.type">
                      <ng-container ng-switch-when="'date'">
                        <date-text [date]="object.data[attributeType.code]"></date-text>
                      </ng-container>
                      <ng-container ng-switch-default>
                        {{ object.data[attributeType.code] }}
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </fieldset>
  </form>
<!--

  <div class="button-holder text-right" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-default" (click)="onClose()">
      <localize key="modal.button.cancel"></localize>
    </button>
  </div>
-->  

</div>