<div class="modal-body">
    <div class="heading">
        <h2>
            <localize key="explorer.add.context.layers.modal.title"></localize>
        </h2>
    </div>

    <form class="modal-form" name="export-form">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group">
                        <div *ngFor="let cLayerGroup of contextLayerGroups;" >
                            <div *ngIf="groupHasContextLayers(cLayerGroup.oid)" class="list-group-item" style="border: none;">
                                <h4>{{ cLayerGroup.displayLabel }}</h4>
                                <div class="list-group">
                                    <div *ngFor="let cLayer of cLayerGroup.contextLayers">
                                        <input type="checkbox" [checked]="cLayer.enabled" (change)="cLayer.enabled = !cLayer.enabled" style="margin-left: 10px;"> {{ cLayer.displayLabel }}
                                        
                                        <!-- <boolean-field [(value)]="cLayer.enabled" [label]="cLayer.displayLabel"></boolean-field> -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="button-holder">
                        <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" role="button"
                            aria-disabled="false">
                            <span>
                                <localize key="modal.button.cancel"></localize>
                            </span>
                        </button>
                        <button type="button" (click)="confirm()" class="btn btn-primary" role="button">
                            <span>
                                <localize key="modal.button.submit"></localize>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
