<div style="padding-top:110px;">
  <div class="row">
    <div class="col-md-12">
      <h3>{{type.label.localizedValue}}</h3>
    </div>      
  </div>
  <div *ngIf="mode == MODE.ATTRIBUTES && postGeoObject != null">
    <!-- Attributes tab -->
    <geoobject-shared-attribute-editor  *ngIf="hierarchies && postGeoObject"
      #attributeEditor 
      [geoObjectType]="type" 
      [postGeoObject]="postGeoObject" 
      [isNew]="isNew" 
      [isGeometryInlined]="false"
      [hierarchies]="hierarchies"
      [readOnly]="!isEdit"
      (valid)="setValid($event)"
      [filterDate]="forDate"
      (filterDateChange)="editorForDateChange($event)"
      [forDate]="forDate"
      [datasetId]="datasetId"
      > 
    </geoobject-shared-attribute-editor>
    
    <div *ngIf="isEdit && !isMaintainer" class="form-group" style="z-index: 0;">
      <label> 
        <localize key="change.request.reason.label"></localize>
      </label>
      <textarea rows="4" cols="50" [(ngModel)]="reason" class="form-control" name="reason-input" required></textarea>
    </div>

    <div class="button-holder text-right" style="margin-bottom: 20px;">
    
      <button *ngIf="!readOnly && !isEdit" type="submit" (click)="onEditAttributes()" class="btn btn-primary" style="width:100%;" role="button">
        <localize key="changeovertime.manageVersions.button.label"></localize>
      </button>
      
      <button *ngIf="isEdit" type="button" class="btn btn-default" (click)="onCancelInternal()">
        <localize key="modal.button.cancel"></localize>
      </button>
      <button *ngIf="isEdit" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="!canSubmit()">
        <localize [key]="!isMaintainer ? 'change.request.page.title' : 'modal.button.submit'"></localize>
      </button>

    </div>
  </div>
</div>