<div>
  <div *ngIf="hasDuplicateDate" class="alert alert-danger" role="alert">
    <localize key="changeovertime.manageVersions.duplicateDate"></localize>
  </div>

  <!-- <div class="col-md-12 order-md-1"> -->
  <form #versionsform="ngForm" class="modal-form">

    <fieldset>
      <div class="row-holder">

        <!-- <div class="label-holder"></div> -->
        <div class="holder" style="width: 100%; border: none;">
          <div *ngIf="geoObjectOverTime">

            <div class="panel" style="box-shadow: none;">
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item" style="text-align: left;">
                      <table class="table table-striped">
                        <thead style="font-size: 14px;">
                          <th style="width: 60%;"><localize key="changeovertime.manageVersions.tableHeader.label.value"></localize></th>
                          <th style="width: 20%;"><localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize></th>
                          <th style="width: 10%;"><localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize></th>
                          <th style="width: 10%;"><localize key="changeovertime.manageVersions.tableHeader.label.actions"></localize></th>
                        </thead>
                        <tbody style="text-align: center;">
                          <tr *ngFor="let vAttribute of geoObjectOverTime.attributes['geometry'].values; let i = index;">
                            <td style="vertical-align: middle;">
                              <button class="btn" (click)="edit(vAttribute)" role="button">
                                <localize key="changeovertime.manageVersions.geometry.edit"></localize>
                              </button> 
                            </td>
                            <td style="vertical-align: middle;"><input type="date" name="startDate-{{i}}" [(ngModel)]="vAttribute.startDate" (blur)="onDateChange($event, vAttribute)" required></td>
                            <td style="vertical-align: middle;">
                              <p style="font-size: 14px;">{{vAttribute.endDate | date:'MM-dd-yyyy'}}</p>
                            </td>
                            <td style="vertical-align: middle;"><i class="fa fa-times clickable delete-btn" (click)="remove(vAttribute)"></i></td>
                          </tr>
                        </tbody>
                      </table>
                  </li>

                  <li class="list-group-item" style="text-align: left;">
                    <i class="fa fa-plus clickable" (click)="onAddNewVersion()"> <localize key="changeovertime.manageVersions.newVersion"></localize>
                    </i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row-holder">
        <!-- <div class="label-holder"></div> -->
        <div class="holder" style="border: none; width: 100%;">
          <div class="button-holder pull-right">
            <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="!versionsform.valid">
              <localize key="io.ok"></localize>
            </button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>

