<div>
  <div *ngIf="hasDuplicateDate" class="alert alert-danger" role="alert">
    <localize key="changeovertime.manageVersions.duplicateDate"></localize>
  </div>

  <!-- <div class="col-md-12 order-md-1"> -->
  <form #versionsform="ngForm" class="modal-form">

    <fieldset>
      <div class="row">

        <!-- <div class="label-holder"></div> -->
        <div class="col-md-12">
          <div class="attribute-version-wrapper" *ngIf="geoObjectOverTime">

                <ul class="list-group">
                  <li class="list-group-item" style="text-align:left;padding:0;">
                    <table class="table table-striped">

                      <tbody class="attribute-element-wrapper">
                        <p class="message" *ngIf="geoObjectOverTime.attributes['geometry'].values.length === 0">
                          <localize key="changeovertime.manageVersions.no.versions.message"></localize>
                        </p>

                        <tr *ngFor="let vAttribute of geoObjectOverTime.attributes['geometry'].values; let i = index;" [ngClass]="{'error-border': vAttribute.conflict}">
                          <td>
                            <table>
                              <tr class="attribute-value-row">
                                <td colspan="2">
                                  <button class="btn btn-primary" (click)="edit(vAttribute)" role="button">
                                    <localize key="changeovertime.manageVersions.geometry.edit"></localize>
                                  </button>
                                </td>
                              </tr>
                              <tr class="attribute-date-input-row">
                                <td>
                                  <h5>
                                    <localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize>
                                  </h5> <input type="date" name="startDate-{{i}}" [(ngModel)]="vAttribute.startDate" (blur)="onDateChange($event, vAttribute)" max="{{currentDate|date:'yyyy-MM-dd'}}" required>
                                </td>
                                <td>
                                  <div class="version-edit-date-container">
                                      <h5>
                                        <localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize>
                                      </h5>
                                      
                                      <input *ngIf="vAttribute.endDate !== '5000-12-31'" type="date" [name]="'endDate_' + i" [(ngModel)]="vAttribute.endDate" (blur)="onDateChange()" required>
                                      <p *ngIf="vAttribute.endDate === '5000-12-31'" style="font-size: 14px;margin:0;"><localize key="changeovertime.manageVersions.infinity.endDate.label"></localize></p>
                                    
                                      <p class="text-right">
                                        <a *ngIf="vAttribute.endDate === '5000-12-31'" (click)="setInfinity(vAttribute, geoObjectOverTime.attributes['geometry'].values)"><localize key="manage.versions.enddate.set.date.button"></localize></a>
                                        <a *ngIf="vAttribute.endDate !== '5000-12-31'" (click)="setInfinity(vAttribute, geoObjectOverTime.attributes['geometry'].values)"><localize key="manage.versions.enddate.set.current.button"></localize></a>
                                      </p>
                                      
                                      <div class="form-input-validation-error-message-wrapper">
                                        <p *ngIf="!vAttribute.endDate" class="error-message">
                                          <localize key="manage.versions.end.date.required.message"></localize>
                                        </p>
                                      </div>
                                    </div>
                                </td>
                              </tr>
                              <tr *ngIf="vAttribute.conflict">
<!--                                   <p class="error-message"> -->
<!--                                     <localize key="manage.versions.overlap.message"></localize> -->
<!--                                   </p> -->
                                  <p *ngFor="let msg of vAttribute.conflictMessage" class="error-message">
                                    {{msg}}
                                  </p>
                              </tr>    
                            </table>
                          </td>
                          <td style="vertical-align: middle;" class="manage-version-button clickable" [title]="'changeovertime.manageVersions.remove.version' | localize" (click)="remove(vAttribute)">
                            <i class="fa fa-times"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </li>

                  <li class="list-group-item" style="text-align: left;">
                    <i class="fa fa-plus clickable" (click)="onAddNewVersion()"> <localize key="changeovertime.manageVersions.newVersion"></localize>
                    </i>
                  </li>
                </ul>
              </div>
        </div>

      </div>

      <div class="row-holder">
        <!-- <div class="label-holder"></div> -->
        <div class="holder" style="border: none; width: 100%;">
          <div class="button-holder pull-right">
            <button *ngIf="!readonly" type="submit" (click)="onCancel()" class="btn btn-default" role="button">
              <localize key="io.cancel"></localize>
            </button>
            <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="!versionsform.valid">
              <localize key="modal.button.submit"></localize>
            </button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>

