<div class="layer-toggle">

  <i class="fa fa-bars" (click)="baselayerIconHover = !baselayerIconHover"
    style="vertical-align: middle; font-size: 18px; color: black;"></i>

  <div *ngIf="!baselayerIconHover && layers.length > 0">
    <div style="margin-bottom: 10px;">
      <h4>
        Layers
      </h4>      
      <div class="list-group">
        <div *ngFor="let layer of layers" class="list-group-item">

          <input type="checkbox" [checked]="layer.active" (change)="toggleActive(layer)" style="margin-left: 10px;">
          {{layer.label}} - {{ layer.forDate }}
          (
          <span *ngIf="layer.versionNumber !== 0">
            <localize key="list.type.version"></localize>
            {{layer.versionNumber}}
          </span>
          <localize *ngIf="layer.versionNumber === 0" key="list.type.working.version"></localize>
          )
          <div class="fa fa-square-o" [ngStyle]="{'background-color': layer.color}"> </div>
          <i class="fa fa-arrow-up" aria-hidden="true" (click)="moveLayer(layer, -1)"></i>
          <i class="fa fa-arrow-down" aria-hidden="true" (click)="moveLayer(layer, 1)"></i>
          <i class="fa fa-eye" aria-hidden="true" (click)="onGotoBounds(layer)"></i>
          <i *ngIf="layer.versionNumber === 0 && !layer.isAbstract" class="fa fa-plus" aria-hidden="true" (click)="onCreate(layer)"></i>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="baselayerIconHover">

    <div style="margin-bottom: 10px;">
      <h4>
        <localize key="explorer.base.layers.label"></localize>
      </h4>
      <div class="row-form" *ngFor="let baseLayer of baseLayers">
        <input class="layer-toggle-input" type='radio' name='baselayers' [value]='baseLayer.id'
          [checked]="baseLayer.selected" (change)="toggleBaseLayer(baseLayer)">
        <label class="layer-toggle-label">
          <localize [key]="baseLayer.label"></localize>
        </label>
      </div>
    </div>
    <hr>
    <form class="modal-form" name="export-form">
      <fieldset>
        <div class="row">
          <div class="col-md-4">
            <label>Start Date</label>
          </div>
          <div class="col-md-4">
            <label>End Date</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <date-field [(value)]="form.startDate" [classNames]="['form-control']" label="" inputName="startDate"
              [allowFutureDates]="false" name="startDate"></date-field>
          </div>
          <div class="col-md-4">
            <date-field [(value)]="form.endDate" [classNames]="['form-control']" label="" inputName="endDate"
              [allowFutureDates]="false" name="endDate"></date-field>
          </div>
          <div class="col-md-4">
            <button type="button" (click)="confirm()" class="btn btn-primary" role="button">
              <span>
                <localize key="modal.button.submit"></localize>
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="lists.length > 0" class="row">
          <div class="col-md-12">
            <p class="h.6 font-italic">Note: Searching will reset the current context layers</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="list-group">
              <div *ngFor="let list of lists">
                <div *ngIf="list.versions.length > 0" class="list-group-item" style="border: none;">
                  <h4><a (click)="list.open = !list.open">{{ list.label }}</a></h4>
                  <div *ngIf="list.open" class="list-group">
                    <div *ngFor="let version of list.versions">

                      <input type="checkbox" [checked]="version.enabled" (change)="toggleContextLayer(version, list)"
                        style="margin-left: 10px;">
                      {{ version.forDate }}
                      (
                      <span *ngIf="version.versionNumber !== 0">
                        <localize key="list.type.version"></localize>
                        {{version.versionNumber}}
                      </span>
                      <localize *ngIf="version.versionNumber === 0" key="list.type.working.version"></localize>
                      )
                      <div *ngIf="version.color != null" class="fa fa-square-o"
                        [ngStyle]="{'background-color': version.color}"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>


  </div>