
<div class="layer-toggle" (mouseenter)="baselayerIconHover = true" (mouseleave)="baselayerIconHover = false">

  <i class="fa fa-bars" *ngIf="!baselayerIconHover" style="vertical-align: middle; font-size: 18px; color: black;"></i>
  <div *ngIf="baselayerIconHover">

    <div style="margin-bottom: 10px;">
      <h4>
        <localize key="explorer.base.layers.label"></localize>
      </h4>
      <div class="row-form" *ngFor="let baseLayer of baseLayers">
        <input class="layer-toggle-input" type='radio' name='rtoggle' [value]='baseLayer.id' [checked]="baseLayer.selected">
        <label class="layer-toggle-label">{{baseLayer.label}}</label>
      </div>
    </div>
    <div>
      <div *ngIf="hasEnabledContextLayers()">
        <h4>
          <localize key="explorer.context.layers.label"></localize>
        </h4>
        <div class="list-group">
          <div *ngFor="let cLayerGroup of contextLayerGroups;">
            <div *ngIf="groupHasEnabledContextLayers(cLayerGroup.oid)" class="list-group-item" style="border: none;">
              <label>{{ cLayerGroup.displayLabel }}</label>
              <div class="list-group">
                <div *ngFor="let cLayer of cLayerGroup.contextLayers">
                  <div class="list-group-item" style="border: none;" *ngIf="cLayer.enabled">
                    <input type="checkbox" [checked]="cLayer.active" (click)="toggleContextLayer(cLayer)"> {{ cLayer.displayLabel }} <i class="fa fa-times delete-btn clickable" aria-hidden="true" (click)="removeContextLayer(cLayer)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <button class="btn btn-primary" (click)="addContextLayerModal()">+ <localize key="explorer.add.context.layer.button.label"></localize></button>
    </div>

  </div>

</div>


