<div class="modal-body" tabindex="-1" role="dialog">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="row">
        <div *ngIf="list" class="col-md-12">

            <ng-container *ngIf="cols != null && config != null">
                <generic-table [cols]="cols" [config]="config" [refresh]="refresh"
                    [pageConfig]="{oid: list.oid, showInvalid: showInvalid}" (click)="onClick($event)"
                    (onLoadEvent)="onLoadEvent($event)"
                    [initialState]="tableState"></generic-table>
            </ng-container>

        </div>
    </div>
</div>