#hierarchy-tree-container {
	height: 100%;
    overflow-y: auto;
}

.location-management-widget-section {
	margin: 5px 0;
}
.location-management-widget-section > select {
	float: none !important;
}

.list-group-item {
	border: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}
.list-group-item input {
	height: auto;
}

.breadcrumb{
	padding: 10px 0;
	background-color: white;
	margin:0;
}

.layer-toggle {
	cursor: pointer; 
	background: #fff; 
	padding: 8px; 
	border-radius: 4px;
	width: fit-content;
}

.layer-toggle input {
	height: auto;
}
.layer-toggle label {
	margin-left: 5px;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}
.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.fa.fa-arrow-left::before {
	margin-right:5px;
}

.fa.fa-share-alt {
	margin-right: 10px;
}
