<div class="modal-body" tabindex="-1" role="dialog">
    <div class="heading text-center">
        <h1>
            <localize key="dropdown.select.geoobjecttype.option.label"></localize>                        
        </h1>
    </div>

    <form #form="ngForm" class="modal-form" name="export-form">
        <fieldset *ngIf="version != null">
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <localize key="io.geoObjectType"></localize>
                    </label>

                    <select id="type" name="type" class="select-area" [(ngModel)]="type" required>
                        <option></option>
                        <option *ngFor="let subtype of version.subtypes" [value]="subtype.code">
                            {{subtype.label}}                            
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="button-holder">
                        <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" role="button"
                            aria-disabled="false">
                            <span>
                                <localize key="modal.button.cancel"></localize>
                            </span>
                        </button>
                        <button type="button" (click)="confirm()" [disabled]="form.invalid"
                            class="btn btn-primary" role="button">
                            <span>
                                <localize key="modal.button.submit"></localize>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
