<context-menu #nodeMenu>
    <ng-template contextMenuItem let-item (execute)="onEdit($event.item)">
        <localize key="modal.button.edit"></localize>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="onRemove($event.item)">
        <localize key="modal.button.delete"></localize>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="onCreate($event.item)">
        <localize key="hierarchy.content.addChild"></localize>
    </ng-template>
</context-menu>

<ng-container>

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="message != null" class="alert alert-danger" style="margin-top: 5px;" role="alert">{{message}}</div>

                <h2>
                    {{classificationType.displayLabel.localizedValue}}
                </h2>
            </div>
        </div>
    </div>

    <div *ngIf="classificationType != null && nodes != null" class="row">
        <div class="col-md-12">
            <ng-container *ngIf="nodes.length === 0">
                <button type="submit" (click)="onCreate(null)" class="btn btn-primary" role="button">
                    <localize key="classification.set.root"></localize>
                </button>
            </ng-container>
            <div>
                <tree-root *ngIf="nodes.length > 0" #tree [options]="options" [nodes]="nodes">
                </tree-root>
            </div>
        </div>
    </div>

</ng-container>