<div>
    <ng-template #customItemTemplate let-model="item" let-index="index">
      <h5>{{model.name }} : {{ model.code }}</h5>
    </ng-template>

    <div *ngIf="hasDuplicateDate" class="alert alert-danger" role="alert"><localize key="changeovertime.manageVersions.duplicateDate"></localize></div>

    <form #form="ngForm" class="modal-form" style="height: calc(100vh - 165px);display: contents;" autocomplete="off">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="hierarchy == null || hierarchy.types == null || hierarchy.types.length == 0">
                      <localize key="changeovertime.manageVersions.rootOfHierarchy.message"></localize>
                    </div>
                    <div *ngIf="hierarchy != null && hierarchy.types != null && hierarchy.types.length > 0" class="attribute-version-wrapper">
                            <ul class="list-group" *ngIf="hierarchy != null">
                                <li class="list-group-item" style="text-align:left;padding:0;">
                                    <table class="table table-striped">
                                    
                                        <tbody class="attribute-element-wrapper">

                                          <p class="message" *ngIf="hierarchy.entries.length === 0">
                                            <localize key="changeovertime.manageVersions.no.versions.message"></localize>
                                          </p>
                  
                                          <tr @fadeInOut *ngFor="let entry of hierarchy.entries; let i = index;" [ngClass]="{'error-border': entry.conflictMessage && entry.conflictMessage.length > 0 && entry.conflictMessage[0].type === 'ERROR', 'warning-border': entry.conflictMessage && entry.conflictMessage.length > 0 && entry.conflictMessage[0].type === 'WARNING'}">
                                            <td>
                                              <table>
                                                <tr class="attribute-value-row">
                                                  <td colspan="2">
                                                     <div style="float:left;width:100%;" *ngFor="let type of hierarchy.types; let j = index"> 
                                                       {{type.label}}
                                                       <div class="input-group">
                                                          <input  style="width:100%;" type="text" class="form-control" autocomplete="off"
                                                            [name]="type.code + '-' + i"
                                                            [disabled]="entry.startDate == null || entry.startDate === ''"
                                                            [(ngModel)]="entry.parents[type.code].text" 
                                                            [typeaheadAsync]="true"
                                                            [typeahead]="getTypeAheadObservable(entry.startDate, type, entry, j)"
                                                            (typeaheadOnSelect)="typeaheadOnSelect($event, type, entry, entry.startDate)" 
                                                            (typeaheadLoading)="entry.loading[type.code] = $event"
                                                            [ngClass]="{'inline-loading':entry.loading[type.code]}"                                                                
                                                            [typeaheadOptionsLimit]="7"
                                                            [typeaheadItemTemplate]="customItemTemplate" 
                                                            [typeaheadMinLength]="0"
                                                            [typeaheadWaitMs]="300">
                                                          
                                                            <span class="input-group-addon clickable addon-alert" (click)="onRemove(type, entry)"> 
                                                              <i class="fa fa-times" aria-hidden="true"></i>
                                                            </span>
                                                        </div>
                                                     </div>
                                                  </td>
                                                </tr>
                                                <tr class="attribute-date-input-row">
                                                  <td>
                                                    <h5>
                                                      <localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize>
                                                    </h5> 
                                                  
                                                    <date-field #dateFieldComponents style="width: 100%;" [(value)]="entry.startDate" label="" [inputName]="'startDate_' + i" (change)="onDateChange()" [allowFutureDates]="false" [required]="true" ></date-field>
                                                  </td>
                                                  <td>
                                                    <div class="version-edit-date-container">
                                                      <h5>
                                                        <localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize>
                                                      </h5>
                                                      
                                                      <date-field #dateFieldComponents [(value)]="entry.endDate" label="" [inputName]="'endDate_' + i" (change)="onDateChange()" [allowInfinity]="true" [allowFutureDates]="true" [required]="true" [placement]="'bottom'"></date-field>
                                                      
                                                    </div>
                                                  </td>
                                                </tr>
                                                <tr *ngIf="entry.conflictMessage && entry.conflictMessage.length > 0">
<!--                                                   <p class="error-message"> -->
<!--                                                     <localize key="manage.versions.overlap.message"></localize> -->
<!--                                                   </p> -->
                                                    <p *ngFor="let msg of entry.conflictMessage" [ngClass]="{'error-message': msg.type === 'ERROR', 'warning-message': msg.type === 'WARNING'}">
                                                      {{msg.message}}
                                                    </p>
                                                </tr>                                                
                                              </table>
                                            </td>
                                            <td style="vertical-align: middle;" class="manage-version-button clickable" [title]="'changeovertime.manageVersions.remove.version' | localize" (click)="remove(entry)">
                                              <i class="fa fa-times"></i>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li class="list-group-item" style="text-align: left;">
                                  <i class="fa fa-plus clickable" (click)="onAddNewVersion()"><localize key="changeovertime.manageVersions.newVersion"></localize></i>
                                </li>
                            </ul>
                    </div>
                </div>

            </div>

            <!--
            <div class="row-holder">
                <div class="holder" style="border: none; width: 100%;">
                    <div class="button-holder pull-right">
                        <button type="button" (click)="onCancel()" class="btn btn-default" role="button" >
                            <localize key="io.cancel"></localize>
                        </button> 
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="!isValid || form.invalid || hasDuplicateDate">
                            <localize key="modal.button.submit"></localize>
                        </button>
                    </div>
                </div>
            </div>
            -->

        </fieldset>
    </form>
</div>