<div class="row">
  <div class="col-md-12">
    <stability-period *ngIf="showStabilityPeriods" [showHint]="!readOnly" [changeRequestEditor]="changeRequestEditor" [sharedAttributeEditor]="this" [forDate]="forDate" [context]="datasetId == null ? 'EXPLORER' : 'LIST'" [filterDate]="filterDate" [latestPeriodIsActive]="filterDate == null && changeRequestEditor.changeRequest.isNew"></stability-period>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <boolean-field *ngIf="changeRequestEditor && !changeRequestEditor.changeRequest.isNew && changeRequestEditor.changeRequest.type !== 'CreateGeoObject'" [(value)]="showAllInstances" label="Show all instances" [disable]="false"></boolean-field>
  </div>
</div>

<div class="row">
  <!-- <div class="label-holder"></div> -->
  <div class="col-md-12">
    <div class="btn-group geobject-editor-tab-holder">
      <label class="btn full-width-radio-button" [ngClass]="{active: tabIndex === 0, disabled: shouldForceSetExist()}" (click)="changePage(0);"> 
        <span style="display:inline-block; width:90%;"><localize key="geoobject.editor.tabZero"></localize></span>
        <div class="errorSpan"><span *ngIf="hasErrors(0)" class="tabHasErrors"></span></div>
        <span class="changeSpan"><span *ngIf="hasChanges(0)" class="tabHasChanges"></span></span>
      </label> 
      <label class="btn full-width-radio-button" [ngClass]="{active: tabIndex === 1, disabled: shouldForceSetExist()}" (click)="changePage(1);"> 
        <span style="display:inline-block; width:90%;"><localize key="geoobject.editor.tabOne"></localize></span>
        <div class="errorSpan"><span *ngIf="hasErrors(1)" class="tabHasErrors"></span></div>
        <span class="changeSpan"><span *ngIf="hasChanges(1)" class="tabHasChanges"></span></span>
      </label> 
      <label class="btn full-width-radio-button" [ngClass]="{active: tabIndex === 2, disabled: shouldForceSetExist()}" (click)="changePage(2);"> 
        <span style="display:inline-block; width:90%;"><localize key="geoobject.editor.tabTwo"></localize></span>
        <div class="errorSpan"><span *ngIf="hasErrors(2)" class="tabHasErrors"></span></div>
        <span class="changeSpan"><span *ngIf="hasChanges(2)" class="tabHasChanges"></span></span>
      </label>
      <label class="btn full-width-radio-button settings" [ngClass]="{active: tabIndex === 3}" (click)="changePage(3);"> 
        <span style="display:inline-block; width:90%;"><i class="fa fa-cog"></i></span>
        <div class="errorSpan"><span *ngIf="hasErrors(3)" class="tabHasErrors"></span></div>
        <span class="changeSpan"><span *ngIf="hasChanges(3)" class="tabHasChanges"></span></span>
      </label>
    </div>
  </div>
</div>

<form class="modal-form" name="geobject-shared-attribute-editor" #attributeForm="ngForm">
  <fieldset>
    <!-- <div class="col-md-12"> -->
    <div *ngIf="changeRequestEditor && changeRequestEditor.geoObject">
      <div *ngIf="tabIndex === 0" class="row">
        <!-- <div class="label-holder">
                        <label>
                            <localize key="change.request.geoobject.update.form.label"></localize>
                        </label>
                    </div> -->
                    
        <div class="col-md-12">

          <span class="text"></span>
          <ul class="list-group">
            <li *ngFor="let attr of geoObjectType.attributes | geoObjectAttributeExcludesFilter:geoObjectAttributeExcludes; let i = index" class="list-group-item" style="text-align:left;border:none;padding:0;">
              <div *ngIf="showAllInstances || changeRequestEditor.getEditorForAttribute(attr).hasChanges()" class="panel panel-default">
                <div class="panel-heading">
                  <h4 style="margin:0;">
                    <span *ngIf="attr.code === 'code'"> 
                      <localize key="geoobject.code.alternate.label"></localize>
                    </span> 
                    <span *ngIf="attr.code === 'displayLabel'"> 
                      <localize key="geoobject.displayLabel.alternate.label"></localize>
                    </span>
                    <span *ngIf="attr.code !== 'code' && attr.code !== 'displayLabel'"> {{attr.label.localizedValue}} </span> 
                  </h4>
                </div>

                <div class="panel-body">
                  <div *ngIf="attr.code !== 'code' && attr.isChangeOverTime">
                    <manage-versions
                        [geoObjectType]="geoObjectType" [changeRequestEditor]="changeRequestEditor" [attributeType]="attr"
                        [readonly]="readOnly" [isNew]="isNew" [filterDate]="filterDate" [showAllInstances]="showAllInstances" >
                    </manage-versions>
                  </div>

                  <div *ngIf="!attr.isChangeOverTime">
                    <input *ngIf="changeRequestEditor.geoObject && attr.code === 'code'" type="text" [(ngModel)]="changeRequestEditor.getEditorForAttribute(attr).value" id="mod-{{attr.code}}" 
                        name="mod-{{attr.code}}" [disabled]="readOnly || (attr.code === 'code' && !isNew)" [style]="(readOnly || (attr.code === 'code' && !isNew)) ? '' : 'color:#333'" required>

                    <div *ngIf="attr.code !== 'code'">
                        <standard-attribute-editor [changeRequestEditor]="changeRequestEditor" [geoObjectType]="geoObjectType" [changeRequest]="changeRequest" [attributeType]="attr" [geoObject]="changeRequestEditor.geoObject"
                          [readonly]="readOnly" [isNew]="isNew"></standard-attribute-editor>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="tabIndex === 1" class="row">
        <div class="col-md-12">
	        <ul class="list-group">
		        <li *ngFor="let hierarchy of hierarchies" class="list-group-item" style="text-align:left;border:none;padding:0;">
		          <div *ngIf="showAllInstances || changeRequestEditor.getEditorForAttribute(parentAttributeType, hierarchy).hasChanges()" class="panel panel-default">
	              <div class="panel-heading">
	                <h4 style="margin:0;">
	                  <span> {{hierarchy.label}} </span> 
	                </h4>
	              </div>
				      
				        <div class="panel-body">
				          <manage-versions [geoObjectType]="geoObjectType" [changeRequestEditor]="changeRequestEditor" [attributeType]="parentAttributeType"
	                        [readonly]="readOnly" [isNew]="isNew" [filterDate]="filterDate" [hierarchy]="hierarchy" [showAllInstances]="showAllInstances"></manage-versions>
				        </div>
			        </div>
		        </li>
	        </ul>
        </div>
      </div>
      
      <div *ngIf="tabIndex === 2">
        <div *ngIf="showAllInstances || changeRequestEditor.getEditorForAttribute(geometryAttributeType).hasChanges()" class="panel panel-default">
          <div class="panel-heading">
            <h4 style="margin:0;">
              <span> <localize key="shared.attributes.attribute.geometry.label"></localize> </span> 
            </h4>
          </div>
            
          <div class="panel-body">
            <manage-versions [geoObjectType]="geoObjectType" [changeRequestEditor]="changeRequestEditor" [attributeType]="geometryAttributeType"
              [readonly]="readOnly" [isNew]="isNew" [isGeometryInlined]="isGeometryInlined" [filterDate]="filterDate" [showAllInstances]="showAllInstances"></manage-versions>
          </div>
        </div>
      </div>
      
      <div *ngIf="tabIndex === 3">
        <div *ngIf="showAllInstances || changeRequestEditor.getEditorForAttribute(getAttribute('exists')).hasChanges()" class="panel panel-default">
          <div class="panel-heading">
            <h4 style="margin:0;">
              <span>{{getAttribute('exists').label.localizedValue}}</span> 
            </h4>
          </div>
            
          <div class="panel-body">
            <manage-versions [geoObjectType]="geoObjectType" [changeRequestEditor]="changeRequestEditor" [attributeType]="getAttribute('exists')"
              [readonly]="readOnly" [isNew]="isNew" [isGeometryInlined]="isGeometryInlined" [filterDate]="filterDate" [showAllInstances]="showAllInstances"></manage-versions>
          </div>
        </div>
        <div *ngIf="showAllInstances || changeRequestEditor.getEditorForAttribute(getAttribute('invalid')).hasChanges()" class="panel panel-default">
          <div class="panel-heading">
            <h4 style="margin:0;">
              <!-- <span>{{getAttribute('invalid').label.localizedValue}}</span>  -->
                <localize key="geoobject.invalid.alternate.label"></localize>
              
            </h4>
          </div>
            
          <div class="panel-body">
            <standard-attribute-editor [changeRequestEditor]="changeRequestEditor" [geoObjectType]="geoObjectType" [changeRequest]="changeRequest" [attributeType]="getAttribute('invalid')" [geoObject]="changeRequestEditor.geoObject"
              [readonly]="readOnly" [isNew]="isNew"></standard-attribute-editor>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </fieldset>
</form>
