<!-- <div class="geoobject-panel-header"> -->
<!--   {{preGeoObject.attributes.displayLabel.values[0].value.localizedValue}} -->
<!--   {{preGeoObject.attributes.code}} -->
<!-- </div> -->

<div class="row">
  <!-- <div class="label-holder"></div> -->
  <div class="col-md-12">
    <div class="btn-group geobject-editor-tab-holder">
      <label class="btn full-width-radio-button" [ngClass]="{active: tabIndex === 0}" (click)="changePage(0);"> 
        <localize key="geoobject.editor.tabZero"></localize>
      </label> 
      <label class="btn full-width-radio-button" [ngClass]="{active: tabIndex === 1}" (click)="changePage(1);"> 
          <localize key="geoobject.editor.tabOne"></localize>
      </label> 
      <label class="btn full-width-radio-button" [ngClass]="{active: tabIndex === 2}" (click)="changePage(2);"> 
        <localize key="geoobject.editor.tabTwo"></localize>
      </label>
    </div>
  </div>
</div>

<form class="modal-form" name="geobject-shared-attribute-editor" #attributeForm="ngForm">
  <fieldset>
    <!-- <div class="col-md-12"> -->
    <div *ngIf="postGeoObject">
      <div *ngIf="!this.isEditingGeometries" class="row">
        <!-- <div class="label-holder">
                        <label>
                            <localize key="change.request.geoobject.update.form.label"></localize>
                        </label>
                    </div> -->
                    
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-12">
              <boolean-field [(value)]="showAllInstances" [label]="'Show all instances'" [disable]="false"></boolean-field>
            </div>
          </div>

          <span class="text"></span>
          <ul class="list-group">
            <li *ngFor="let attr of geoObjectType.attributes | geoObjectAttributeExcludesFilter:geoObjectAttributeExcludes; let i = index" class="list-group-item" style="text-align:left;border:none;padding:0;">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 *ngIf="attr.code !== 'geometry'" style="margin:0;">
                    <span *ngIf="attr.code === 'code'"> 
                      <localize key="geoobject.code.alternate.label"></localize>
                    </span> 
                    <span *ngIf="attr.code === 'displayLabel'"> 
                      <localize key="geoobject.displayLabel.alternate.label"></localize>
                    </span> 
                    <span *ngIf="attr.code !== 'code' && attr.code !== 'displayLabel'"> {{attr.label.localizedValue}} </span> 
                  </h4>

                  <h4 *ngIf="attr.code === 'geometry'">
                    <localize key="shared.attributes.attribute.geometry.label"></localize>
                  </h4>

                </div>

                <div class="panel-body">

                  <div *ngIf="attr.code === 'code'">
                    <input *ngIf="postGeoObject" type="text" [(ngModel)]="geoObject.attributes[attr.code]" (change)="handleChangeCode($event)" id="mod-{{attr.code}}" 
                        name="mod-{{attr.code}}" [disabled]="!isNew" required>
                  </div>

                  <div *ngIf="attr.code !== 'code'">
                    <manage-versions [geoObjectType]="geoObjectType" [isNewGeoObject]="false" [attributeData]="{'attributeType':attr, 'actions':actions, 'geoObject':postGeoObject}"
                        [readonly]="readOnly" (change)="onVersionChange($event, attr)" [isNew]="isNew" [selectedTab]="tabIndex"></manage-versions>
                  </div>

                  <div *ngIf="attr.type === 'geometry' && this.isGeometryInlined">
<!--                     <geoobject-editor-map  -->
<!--                       #geometryEditor  -->
<!--                       [geometryType]="this.geoObjectType.geometryType"  -->
<!--                       [readOnly]="readOnly" -->
<!--                       [preGeometry]="calculatedPreObject['geometry'] != null ? calculatedPreObject['geometry'].value : null" -->
<!--                       [postGeometry]="calculatedPostObject['geometry'] != null ? calculatedPostObject['geometry'].value : null"  -->
<!--                       [bboxCode]="this.preGeoObject.attributes.code" -->
<!--                       [bboxType]="this.geoObjectType.code" -->
<!--                       (onClickEdit)="this.onManageGeometryVersions()"  -->
<!--                       [bboxDate]="this.forDate.toISOString().split('T')[0]">  -->
<!--                     </geoobject-editor-map> -->

<!--                       <div class="button-holder text-left" style="margin:0;"> -->
<!--                         <button type="submit" style="width:100%;" (click)="this.onManageGeometryVersions()" class="btn btn-primary" role="button"> -->
<!--                           <localize *ngIf="!readOnly" key="modal.button.edit"></localize> -->
<!--                           <localize *ngIf="readOnly" key="modal.button.view"></localize> -->
<!--                         </button> -->
<!--                       </div> -->
                  </div>

                  <!--                   <div *ngIf="attr.isChangeOverTime && !readOnly" class="button-holder" > -->
                  <!--                     <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button"> -->
                  <!--                       <localize key="changeovertime.manageVersions.button.label"></localize> -->
                  <!--                     </button> -->
                  <!--                   </div> -->

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="this.isEditingGeometries && !this.isGeometryInlined">
        TODO: enable
<!--           <geoobject-editor-map  -->
<!--             #geometryEditor -->
<!--             [geometryType]="this.geoObjectType.geometryType" -->
<!--             [readOnly]="readOnly"  -->
<!--             [preGeometry]="calculatedPreObject['geometry'] != null ? calculatedPreObject['geometry'].value : null" -->
<!--             [postGeometry]="calculatedPostObject['geometry'] != null ? calculatedPostObject['geometry'].value : null" -->
<!--             [bboxCode]="this.preGeoObject.attributes.code" -->
<!--             [bboxType]="this.geoObjectType.code" -->
<!--             (onClickEdit)="this.onManageGeometryVersions()" -->
<!--             [bboxDate]="this.forDate.toISOString().split('T')[0]" -->
<!--           > </geoobject-editor-map> -->
      </div>
    </div>
    <!-- </div> -->
  </fieldset>
</form>
