<form class="modal-form" name="geobject-shared-attribute-editor" #attributeForm="ngForm">
    <fieldset>
        <!-- <div class="col-md-12"> -->
            <div *ngIf="preGeoObject">
                <div class="row-holder"> 
                    <div class="label-holder">
                        <label>
                            <localize key="change.request.geoobject.update.form.label"></localize>
                        </label>
                    </div>
                    <div class="holder">
                        <span class="text"></span>
                            <div class="panel" style="box-shadow: none;">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" style="text-align:left;" *ngFor="let attr of geoObjectType.attributes | geoObjectAttributeExcludesFilter:geoObjectAttributeExcludes">
                                            <h5>{{attr.label.localizedValue}}</h5>


                                            <div *ngIf="attr.type === 'character'">
                                              <input *ngIf="postGeoObject" type="text" [ngModel]="calculatedPostObject[attr.code]" id="mod-{{attr.code}}" name="mod-{{attr.code}}" disabled required="attr.code === 'code'"> 

                                              <p class="warning-text" *ngIf="!isNew && isDifferentText(attr)">
                                                <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code]}}
                                              </p>

                                              <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                  <localize key="changeovertime.manageVersions.button.label"></localize>
                                                </button>
                                               </div>
                                            </div>
                                            
                                            <div *ngIf="attr.type === 'local'">
                                              <ul class="list-group" *ngIf="calculatedPostObject[attr.code] != null">
                                                <li class="list-group-item" *ngFor="let localeValue of calculatedPostObject[attr.code].localeValues; let i = index">
                                                  <h5>{{localeValue.locale}}</h5>
                                                  <input disabled [required]="localeValue.locale === 'defaultLocale'" type="text" [ngModel]="localeValue.value" [name]="'mod-' + attr.code + '-' + localeValue.locale"> 

                                                  <p class="warning-text" *ngIf="!isNew && localeValue.value && localeValue.value.trim() !== calculatedPreObject[attr.code].localeValues[i].value">
                                                    <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code].localeValues[i].value}}
                                                  </p>
                                                </li>
                                              </ul>                                            
                                              <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                  <localize key="changeovertime.manageVersions.button.label"></localize>
                                                </button>
                                              </div>                                          
                                            </div>

                                            <div *ngIf="attr.type === 'date'">
                                                <input type="date" [ngModel]="calculatedPostObject[attr.code]" id="mod-{{attr.code}}" name="mod-{{attr.code}}" disabled> 
                                                    
                                                <p class="warning-text" *ngIf="!isNew && isDifferentValue(attr)">
                                                  <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code] | date}}
                                                </p>

                                                <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                    <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                        <localize key="changeovertime.manageVersions.button.label"></localize>
                                                    </button>
                                                  </div>
                                            </div>

                                            <div *ngIf="attr.type === 'boolean'">
                                                <label>
                                                    <input type="radio" [checked]="calculatedPostObject[attr.code] === true" disabled [value]="true" id="mod-{{attr.code}}-true" name="mod-{{attr.code}}-true">
                                                    <localize key="change.request.boolean.option.true"></localize>
                                                </label>

                                                <label>
                                                    <input type="radio" [checked]="calculatedPostObject[attr.code] === false" disabled [value]="false" id="mod-{{attr.code}}-false" name="mod-{{attr.code}}-false">
                                                    <localize key="change.request.boolean.option.false"></localize>
                                                </label>
                                                
                                                <p class="warning-text" *ngIf="!isNew && isDifferentValue(attr)">
                                                  <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code]}}
                                                </p>

                                                <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                    <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                        <localize key="changeovertime.manageVersions.button.label"></localize>
                                                    </button>
                                                  </div>
                                            </div>

                                            <div *ngIf="attr.type === 'float'">
                                                <input disabled type="number" [(ngModel)]="calculatedPostObject[attr.code]"
                                                    id="mod-{{attr.code}}" name="mod-{{attr.code}}">

                                                <p class="warning-text" *ngIf="!isNew && isDifferentValue(attr)">
                                                  <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code]}}
                                                </p>

                                                <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                    <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                        <localize key="changeovertime.manageVersions.button.label"></localize>
                                                    </button>
                                                  </div>
                                            </div>

                                            <div *ngIf="attr.type === 'integer'">
                                                <input type="number" [(ngModel)]="calculatedPostObject[attr.code]" disabled id="mod-{{attr.code}}" name="mod-{{attr.code}}">

                                                <p class="warning-text" *ngIf="!isNew && isDifferentValue(attr)">
                                                  <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code]}}
                                                </p>

                                                <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                    <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                        <localize key="changeovertime.manageVersions.button.label"></localize>
                                                    </button>
                                                  </div>
                                            </div>

                                            <div *ngIf="attr.type === 'term'">
                                                <select id="mod-{{attr.code}}" name="mod-term-{{attr.code}}" class="select-area" style="float:none;" disabled [(ngModel)]="calculatedPostObject[attr.code]">
                                                    <option *ngFor="let option of getGeoObjectTypeTermAttributeOptions(attr.code)" [value]="option.code" >{{option.label.localizedValue}}</option>
                                                </select>

                                                <!-- 
                                                <p class="warning-text" *ngIf="calculatedPreObject[attr.code] && calculatedPostObject[attr.code] !== calculatedPreObject[attr.code]">
                                                -->
                                                <p class="warning-text" *ngIf="!isNew && isStatusChanged(calculatedPostObject[attr.code], calculatedPreObject[attr.code])">
                                                  <localize key="change.request.changed.value.prefix"></localize> {{calculatedPreObject[attr.code]}}
                                                </p>

                                                <div *ngIf="attr.isChangeOverTime" class="button-holder" style="padding: 20px 0 20px 0;">
                                                    <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                        <localize key="changeovertime.manageVersions.button.label"></localize>
                                                    </button>
                                                  </div>
                                            </div>
                                            
                                            <div class="button-holder" *ngIf="attr.type === 'geometry'">
                                              <button type="submit" style="" (click)="onManageAttributeVersions(attr)" class="btn btn-primary" role="button">
                                                <localize key="changeovertime.manageVersions.button.label"></localize>
                                              </button>
                                            </div>
                                        </li>
                                        <!-- 
                                        <div>
                                            <h5><localize key="geoobject.editor.tabTwo"></localize></h5>
	                                        <div>
	                                          <button type="submit" style="" (click)="onManageGeometryVersions()" class="btn btn-primary" role="button">
	                                          	<localize key="changeovertime.manageVersions.button.label"></localize>
	                                          </button>
	                                        </div>
                                        </div>
                                        -->
                                    </ul>
                                </div>
                            </div>
                    </div>
                 </div>
           </div>
        <!-- </div> -->
    </fieldset>
</form>
