<div>
  <ng-template #customItemTemplate let-model="item" let-index="index">
    <h5>{{model.name }} : {{ model.code }}</h5>
  </ng-template>

  <!-- <div class="col-md-12 order-md-1"> -->
  <form name="manage-versions-form" autocomplete="off">

    <fieldset>
      <div class="row">

        <!-- <div class="label-holder"></div> -->
        <div [ngStyle]="{'width' : (isGeometryInlined && geomService.getRenderedLayers().length > 0) ? '45%' : '100%'}" style="display:inline-block;" class="col">
          <div *ngIf="changeRequestEditor.geoObject" class="attribute-version-wrapper">
            <ul class="list-group">
              <li class="list-group-item" style="text-align:left;padding:0;">
                <div *ngIf="attributeType">
                  <table class="table table-striped">
                    <tbody class="attribute-element-wrapper" >
                      <p class="message" *ngIf="!isRootOfHierarchy && viewModels.length === 0">
                        <localize key="changeovertime.manageVersions.no.versions.message"></localize> 
                      </p>
                      <div *ngIf="isRootOfHierarchy">
                        <localize key="changeovertime.manageVersions.rootOfHierarchy.message"></localize>
                      </div>
                      
                      <ng-container *ngIf="!isRootOfHierarchy">
                        <!-- TODO : Fade in out disabled because it doesn't work all that well with stability periods   @fadeInOut -->
	                      <tr  *ngFor="let viewModel of viewModels; let i = index;" class="version-row"
	                          [ngClass]="{ 'geometry-edit-active' : (viewModel.newLayer && viewModel.newLayer.isEditing) }">
                            <td class="version-column-wrapper" [ngClass]="{'error-border': viewModel.hasError(),
                            'warning-border': viewModel.hasWarning(),
                            'warning' : viewModel.summaryKey && viewModel.summaryKey !== 'UNMODIFIED'}" >
	                          <div *ngIf="viewModel.summaryKey && viewModel.summaryKey !== 'UNMODIFIED'" class="version-column-indicator">
                                {{viewModel.summaryKeyLocalized}}
                              </div>
	                          
	                          <table>
	                          
	                            <!-- 
	                              Local Type 
	                            -->
	                            <ng-container *ngIf="attributeType.type === 'local' && viewModel.value">
		                           <tr *ngFor="let loc of viewModel.value.localeValues; let idx = index;" class="attribute-value-row">
		                             <td colspan="2">
		                               <h5><convert-key-label [key]="loc.locale"></convert-key-label></h5>
		                               
		                               <input [ngClass]="{'has-changed': (hasLocalizationChanged(viewModel, loc.locale) && !isNew)}" [disabled]="readonly || viewModel.summaryKey === 'DELETE'" type="text" class="form-control" [name]="'loc-val-' + i + '-' + idx" [(ngModel)]="loc.value" (ngModelChange)="viewModel.editor.setLocalizedValue(viewModel.value)" [required]="loc.locale === 'defaultLocale'">
		                               
		                               <div class="form-input-validation-error-message-wrapper">
		                                 <p *ngIf="loc.locale === 'defaultLocale' && !loc.value" class="error-message">
		                                   <localize key="manage.versions.value.required.message"></localize>
		                                 </p>
		                               </div>
		                               
		                               <div *ngIf="hasLocalizationChanged(viewModel, loc.locale) && !isNew">
		                                 <p class="warning-text display-current-value" style="padding: 5px 0;margin-bottom:0;">
		                                   <localize key="change.request.changed.value.prefix"></localize>
		                                   {{ getValueAtLocale(viewModel.oldValue, loc.locale) }}
		                                 </p>
		                               </div>
		                             </td>
		                           </tr>
	                            </ng-container>
	                            <tr *ngIf="attributeType.type === 'geometry' || attributeType.type === '_PARENT_' || attributeType.type === 'term' || attributeType.type === 'character' || attributeType.type === 'date' || attributeType.type === 'integer' || attributeType.type === 'float' || attributeType.type === 'boolean'" class="attribute-value-row">
	                             <td colspan="2">
                               
	                               <div *ngIf="attributeType.type === 'term'">
	                                 <select [ngClass]="{'has-changed': (viewModel.oldValue && !isNew)}" id="mod-{{attributeType.code}}" [name]="'mod-term-' + i + '-' + attributeType.code" class="select-area" [(ngModel)]="viewModel.value" [disabled]="readonly || viewModel.summaryKey === 'DELETE'">
	                                     <option value=""></option>
	                                     <option *ngFor="let option of getGeoObjectTypeTermAttributeOptions(attributeType.code)" [value]="option.code">{{option.label.localizedValue}}</option>
	                                 </select>
	                               </div>
	                               <div *ngIf="attributeType.type === 'character'">
	                                 <input [ngClass]="{'has-changed': (viewModel.oldValue && !isNew)}" type="text" class="form-control" [name]="'char-val-' + i" [(ngModel)]="viewModel.value" [disabled]="readonly || viewModel.summaryKey === 'DELETE'" required>
	                               </div>
	                               
	                               <div *ngIf="attributeType.type === 'date'">
	                                 <date-field [customStyles]="(viewModel.oldValue && !isNew) ? 'color: orange;' : ''" [(value)]="viewModel.value" label="" [inputName]="'date-val-' + i" [allowInfinity]="false" [allowFutureDates]="true" 
	                                     [required]="true" [placement]="'right'" [(valid)]="isValid" [disable]="readonly" ></date-field>
	                               </div>
	                               
	                               <div *ngIf="attributeType.type === 'integer' || attributeType.type === 'float'">
	                                 <input [ngClass]="{'has-changed': (viewModel.oldValue && !isNew)}" type="number" class="form-control" [name]="'int-val-' + i" [(ngModel)]="viewModel.value" [disabled]="readonly || viewModel.summaryKey === 'DELETE'" required>
	                               </div>
	                               
	                               <div *ngIf="attributeType.type === 'boolean'">
	                                   <label class="radio radio-inline" style="padding-left:0;"> 
	                                     <input class="inline-radio-input" type="radio" [checked]="viewModel.value === true" [value]="true" [(ngModel)]="viewModel.value" id="mod-{{i}}-true" name="mod-{{i}}-true" [disabled]="readonly || viewModel.summaryKey === 'DELETE'"> 
	                                     <span [ngClass]="{'has-changed': (viewModel.oldValue && !isNew)}"><localize key="change.request.boolean.option.true"></localize></span>
	                                   </label> 
	                                   <label class="radio radio-inline"> 
	                                     <input [ngClass]="{'has-changed': (viewModel.oldValue && !isNew)}" class="inline-radio-input" type="radio" [checked]="viewModel.value === false" [value]="false" [(ngModel)]="viewModel.value" id="mod-{{i}}-false" name="mod-{{i}}-false" [disabled]="readonly || viewModel.summaryKey === 'DELETE'"> 
	                                     <span [ngClass]="{'has-changed': (viewModel.oldValue && !isNew)}"><localize key="change.request.boolean.option.false"></localize></span>
	                                   </label>
	                               </div>
	                               
	                               <div *ngIf="attributeType.type === '_PARENT_'">
                                   <ng-container *ngIf="hierarchy != null && hierarchy.types != null && hierarchy.types.length > 0">
		                                 <div style="float:left;width:100%;" *ngFor="let type of hierarchy.types; let j = index"> 
			                                 {{type.label}}
			                                 <div class="input-group">
			                                    <input style="width:100%;" type="text" class="form-control" autocomplete="off"
			                                      [name]="type.code + '-' + i"
			                                      [disabled]="readonly || viewModel.summaryKey === 'DELETE' || viewModel.startDate == null || viewModel.startDate === ''"
			                                      [(ngModel)]="viewModel.value.parents[type.code].text" 
			                                      [typeaheadAsync]="true"
			                                      [typeahead]="getTypeAheadObservable(viewModel.editor, viewModel.startDate, type, viewModel.value, j)"
			                                      (typeaheadOnSelect)="typeaheadOnSelect(viewModel.editor, $event, type, viewModel.value, viewModel.startDate)" 
			                                      (typeaheadLoading)="viewModel.value.loading[type.code] = $event"
			                                      [ngClass]="{'inline-loading':viewModel.value.loading[type.code], 'has-changed': (viewModel.oldValue && !isNew)}"                                                                
			                                      [typeaheadOptionsLimit]="7"
			                                      [typeaheadItemTemplate]="customItemTemplate" 
			                                      [typeaheadMinLength]="0"
			                                      [typeaheadWaitMs]="300">
			                                    
			                                      <span *ngIf="!readonly" class="input-group-addon clickable addon-alert" (click)="viewModel.editor.removeType(type)"> 
			                                        <i class="fa fa-times" aria-hidden="true"></i>
			                                      </span>
                                                  
                                            <!-- Hack: This is needed for formatting  -->
			                                      <span *ngIf="readonly" class="input-group-addon addon-alert"> 
			                                      </span>
			                                  </div>
			                               </div>
                                   </ng-container>
	                               </div> 
                                 <div *ngIf="viewModel.oldValue && !isNew && attributeType.type !== 'geometry'">
                                  <p class="warning-text display-current-value">
                                    <localize key="change.request.changed.value.prefix"></localize>
                                    {{ viewModel.oldValue }}
                                  </p>
                                </div>
                                 
                                 <table *ngIf="attributeType.type === 'geometry'" style="padding:0;">
                                 <!-- 
                                    Geometry 
                                 -->
<!--                                   <div *ngIf="attributeType.type === 'geometry'"> -->
  
<!--                                     <td style="vertical-align: middle;padding-left:0;"> -->
                                      <tr>
                                        <td colspan="2" style="padding-left:0;">
                                        
                                          <button *ngIf="viewModel.oldValue && viewModel.newLayer" class="btn btn-primary" (click)="toggleOldGeometryView(viewModel)" role="button" [disabled]="viewModel.coordinate && ( (viewModel.coordinate.longValid != null && !viewModel.coordinate.longValid) || (viewModel.coordinate.latValid != null && !viewModel.coordinate.latValid) )">
                                           <localize *ngIf="!viewModel.oldLayer || !viewModel.oldLayer.isRendering" key="changeovertime.manageVersions.geometry.viewOld"></localize>
                                           <localize *ngIf="viewModel.oldLayer && viewModel.oldLayer.isRendering" key="changeovertime.manageVersions.geometry.hideOld"></localize>
                                          </button>
                                          <button class="btn btn-primary" style="margin-left:0;" (click)="toggleGeometryView(viewModel)" role="button"
                                            [disabled]="viewModel.coordinate && ( (viewModel.coordinate.longValid != null && !viewModel.coordinate.longValid) || (viewModel.coordinate.latValid != null && !viewModel.coordinate.latValid) )">
                                            <localize *ngIf="!viewModel.newLayer || !viewModel.newLayer.isRendering" key="changeovertime.manageVersions.geometry.view"></localize>
                                            <localize *ngIf="viewModel.newLayer && viewModel.newLayer.isRendering" key="changeovertime.manageVersions.geometry.hide"></localize>
                                          </button>
                                          <button *ngIf="viewModel.newLayer && viewModel.newLayer.isRendering" class="btn btn-primary" (click)="toggleGeometryEditing(viewModel)" role="button"
                                            [disabled]="readonly || viewModel.coordinate && ( (viewModel.coordinate.longValid != null && !viewModel.coordinate.longValid) || (viewModel.coordinate.latValid != null && !viewModel.coordinate.latValid) )">
                                            <localize *ngIf="viewModel.newLayer && !viewModel.newLayer.isEditing" key="changeovertime.manageVersions.geometry.edit"></localize>
                                            <localize *ngIf="viewModel.newLayer && viewModel.newLayer.isEditing" key="changeovertime.manageVersions.geometry.save"></localize>
                                          </button>
                                        </td>
                                      </tr>
  
                                      <tr *ngIf="(viewModel.newLayer && viewModel.newLayer.isRendering) && (geoObjectType.geometryType === 'POINT' || geoObjectType.geometryType === 'MULTIPOINT') && viewModel.value && viewModel.value.coordinates && (viewModel.value.coordinates.length == 1 || viewModel.value.coordinates.length == 0)">
                                        
                                        <td style="width:50%;padding-left:0;padding-right:5px;" >
                                          <h5>
                                            <localize key="geoobject.editor.geometry.latitude.label"></localize>
                                          </h5>
                                          <div class="text-left">
                                              <input *ngIf="viewModel.value.coordinates && viewModel.value.coordinates[0]" [readonly]="readonly || !(viewModel.newLayer && viewModel.newLayer.isEditing) || viewModel.summaryKey === 'DELETE'" [name]="'latitude-' + i" type="number" class="form-control" [(ngModel)]="viewModel.value.coordinates[0][1]"
                                                (change)="manualCoordinateChange(viewModel)" required />
                                              <input *ngIf="viewModel.value.coordinates == null || viewModel.value.coordinates[0] == null" [readonly]="readonly || !(viewModel.newLayer && viewModel.newLayer.isEditing) || viewModel.summaryKey === 'DELETE'" [name]="'latitude-' + i" type="number" class="form-control" [(ngModel)]="viewModel.newCoordinateY"
                                                (change)="manualCoordinateChange(viewModel)" required />
                                          </div>
                                          <div *ngIf="viewModel.coordinate && viewModel.coordinate.latValid != null && !viewModel.coordinate.latValid">
                                              <p class="error-message">
                                                <localize key="change.request.geometry.invalidLatitude"></localize>
                                              </p>
                                          </div>
                                        </td>
                                        <td style="width:50%;">
                                          <h5>
                                            <localize key="geoobject.editor.geometry.longitude.label"></localize>
                                          </h5>
                                          <div class="text-left">
                                              <input *ngIf="viewModel.value.coordinates && viewModel.value.coordinates[0]" [readonly]="readonly || !(viewModel.newLayer && viewModel.newLayer.isEditing) || viewModel.summaryKey === 'DELETE'" [name]="'longitude-' + i" type="number" class="form-control" [(ngModel)]="viewModel.value.coordinates[0][0]"
                                                (change)="manualCoordinateChange(viewModel)" required />
                                              <input *ngIf="viewModel.value.coordinates == null || viewModel.value.coordinates[0] == null" [readonly]="readonly || !(viewModel.newLayer && viewModel.newLayer.isEditing) || viewModel.summaryKey === 'DELETE'" [name]="'longitude-' + i" type="number" class="form-control" [(ngModel)]="viewModel.newCoordinateX"
                                                (change)="manualCoordinateChange(viewModel)" required />
                                          </div>
                                          <div *ngIf="viewModel.coordinate && viewModel.coordinate.longValid != null && !viewModel.coordinate.longValid">
                                              <p class="error-message">
                                                <localize key="change.request.geometry.invalidLongitude"></localize>
                                              </p>
                                          </div>
                                        </td>
  
                                      </tr>
<!--                                     </td> -->
<!--                                   </div> -->
                                  </table>
                              </td>

	                            </tr>
	                            <tr class="attribute-date-input-row">
	                              <td>
	                                <h5>
	                                  <localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize>
	                                </h5>
	                            
	                                <date-field #dateFieldComponents [customStyles]="(viewModel.oldStartDate && !isNew) ? 'color: orange;' : ''" [(value)]="viewModel.startDate" label="" [inputName]="'startDate_' + i" (change)="onDateChange()" [allowFutureDates]="false" [required]="true" [disable]="readonly || viewModel.summaryKey === 'DELETE' || filterDate != null" ></date-field>
	                                
	                                <div *ngIf="viewModel.oldStartDate && !isNew">
	                                  <p class="warning-text display-current-value">
	                                    <localize key="change.request.changed.value.prefix"></localize>
	                                    {{ viewModel.oldStartDate }}
	                                  </p>
	                                </div>
	                              </td>
	                              <td>
	                                <div class="version-edit-date-container">
	                                  <h5>
	                                    <localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize>
	                                  </h5>
	                                  <date-field #dateFieldComponents [customStyles]="(viewModel.oldEndDate && !isNew) ? 'color: orange;' : ''" [(value)]="viewModel.endDate" label="" [inputName]="'endDate_' + i" (change)="onDateChange()" [allowInfinity]="viewModel.summaryKey !== 'DELETE' && !readonly" [allowFutureDates]="true" 
	                                      [required]="true" [placement]="'bottom'" [oldDate]="(viewModel.oldEndDate && !isNew) ? viewModel.oldEndDate : null" [disable]="readonly || viewModel.summaryKey === 'DELETE' || filterDate != null" ></date-field>
	                    
	                                  <!--
	                                  <div *ngIf="viewModel.oldEndDate && !isNew">
	                                    <p class="warning-text">
	                                      <localize key="change.request.changed.value.prefix"></localize>
	                                      {{ viewModel.oldEndDate }}
	                                    </p>
	                                  </div>
	                                  -->
	                                </div>
	                              </td>
	                            </tr>
	                            <tr *ngIf="viewModel.editor.conflictMessages && viewModel.editor.conflictMessages.size > 0">
	                              <p *ngFor="let msg of viewModel.editor.conflictMessages" [ngClass]="{'error-message': msg.severity === 'ERROR', 'warning-message': msg.severity === 'WARNING'}" >
	                                {{msg.message}}
	                              </p>
	                            </tr>
	                          </table>
	                          
	                        </td>
	                        
	                        <td *ngIf="!readonly && (!this.isNew || attributeType.code !== 'exists') && (filterDate == null || (viewModel.summaryKey !== 'UNMODIFIED' && viewModel.summaryKey !== 'NEW'))" (click)="remove(viewModel)" class="manage-version-button clickable" [title]="(viewModel.summaryKey === 'UNMODIFIED' ? 'changeovertime.manageVersions.remove.version' : 'changeovertime.manageVersions.revert.version') | localize">
	                          <i class="fa" [class]="{'fa-times' : viewModel.summaryKey === 'UNMODIFIED', 'fa-undo' : viewModel.summaryKey !== 'UNMODIFIED'}" ></i>
	                        </td>
	                      </tr>
	                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </li>
              
              <li *ngIf="!readonly && !isRootOfHierarchy && (!this.isNew || attributeType.code !== 'exists') && filterDate == null" class="list-group-item" style="text-align: left;">
                <i class="fa fa-plus clickable" (click)="onAddNewVersion()"> 
                  <localize key="changeovertime.manageVersions.newVersion"></localize>
                </i>
              </li>
              
            </ul>
            
            <!-- TODO : This code copy/pasted into standard-attribute-editor.component.html -->
            <div *ngIf="!changeRequestEditor.changeRequest.isNew && changeRequestEditor.changeRequest.approvalStatus === 'PENDING' && changeRequestEditor.changeRequest.permissions.includes('WRITE_APPROVAL_STATUS') && changeRequestAttributeEditor.hasChanges()" style="margin-left: 15px;">
              <button [disabled]="changeRequestAttributeEditor.editAction.approvalStatus === 'ACCEPTED'" type="submit" (click)="onApprove()" class="btn btn-primary" role="button" [title]="'change.request.action.accept.btn.hover' | localize">
                <localize key="change.request.accept.btn"></localize>
              </button>
              <button [disabled]="changeRequestAttributeEditor.editAction.approvalStatus === 'REJECTED'" type="submit" (click)="onReject()" class="btn btn-danger" role="button" [title]="'change.request.action.reject.btn.hover' | localize">
                <localize key="change.request.reject.btn"></localize>
              </button>
              <button [disabled]="changeRequestAttributeEditor.editAction.approvalStatus === 'PENDING'" type="submit" (click)="onPending()" class="btn btn-warning" role="button" [title]="'change.request.action.pending.btn.hover' | localize">
                <localize key="change.request.pending.btn"></localize>
              </button>
            </div>              
            <div *ngIf="!changeRequestEditor.changeRequest.isNew && changeRequestEditor.changeRequest.approvalStatus !== 'PENDING'" style="margin-left:15px;">
              <strong style="color:#6BA542;" *ngIf="changeRequestAttributeEditor.editAction.approvalStatus === 'ACCEPTED'">
                  <localize key="change.request.status.accepted"></localize>
              </strong>
              <strong style="color:#6d0400;" *ngIf="changeRequestAttributeEditor.editAction.approvalStatus === 'REJECTED'">
                  <localize key="change.request.status.rejected"></localize>
              </strong>
            </div>
            
          </div>
        </div>
	      <geoobject-editor-map style="width:55%;display:inline-block;vertical-align:top;margin-top:15px;" *ngIf="isGeometryInlined && geomService.getRenderedLayers().length > 0" #geometryEditor [geometryType]="this.geoObjectType.geometryType" 
	        [mapHeight]="mapRowHeight" [readOnly]="!geoObjectType.isGeometryEditable && readonly"
	        [bboxCode]="this.changeRequestEditor.geoObject.attributes.code" [bboxType]="this.geoObjectType.code" [bboxDate]="geomService.getRenderedLayers()[0].startDate">
	      </geoobject-editor-map>
      </div>

    </fieldset>
  </form>
</div>

