.version-column-wrapper {
	border-left: solid 5px;
	padding-top: 0px;
}
.version-column-wrapper .version-column-indicator {
	background: grey;
    color: white;
    position: relative;
    left: -8px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 6px;
    width: fit-content;
    top: -1px;
}

.list-group {
 margin-bottom: 0;
}