<div>
  <div *ngIf="hasDuplicateDate" class="alert alert-danger" role="alert">
    <localize key="changeovertime.manageVersions.duplicateDate"></localize>
  </div>

  <!-- <div class="col-md-12 order-md-1"> -->
  <form #versionsform="ngForm" class="modal-form">

    <fieldset>
      <div class="row">

        <!-- <div class="label-holder"></div> -->
        <div class="col-md-12">
          <div class="attribute-version-wrapper" *ngIf="geoObjectOverTime">
            <h3>{{attribute.label.localizedValue}}</h3>

            <div>
              <div>
                <ul class="list-group">
                  <!-- <li class="list-group-item" style="text-align:left;" *ngFor="let vAttribute of geoObjectOverTime.attributes[attribute.code].values; let i = index;"> -->
                  <li class="list-group-item" style="text-align:left;padding:0;">

                    <div *ngIf="attribute.type !== 'geometry'">
                    
                      <table class="table table-striped">
                      
                        <tbody class="attribute-element-wrapper" *ngIf="attribute.type === 'local'" >
                          <p class="message" *ngIf="geoObjectOverTime.attributes[attribute.code].values.length === 0"><localize key="changeovertime.manageVersions.no.versions.message"></localize> </p>
                          
                          <tr @fadeInOut *ngFor="let vAttribute of geoObjectOverTime.attributes[attribute.code].values; let i = index;" [ngClass]="{'error-border': vAttribute.conflict}">
                            <td>
                              <table>
                                <tr class="attribute-value-row" *ngFor="let loc of vAttribute.value.localeValues; let idx = index;">
                                  <td colspan="2">
                                    <h5><convert-key-label [key]="loc.locale"></convert-key-label></h5>
                                    
                                    <input type="text" class="form-control" [name]="'loc-val-' + i + '-' + idx" [(ngModel)]="loc.value" (ngModelChange)="loc.value = $event" [required]="loc.locale === 'defaultLocale'">
                                    
                                    <div class="form-input-validation-error-message-wrapper">
                                      <p *ngIf="loc.locale === 'defaultLocale' && !loc.value" class="error-message">
                                        <localize key="manage.versions.value.required.message"></localize>
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr class="attribute-date-input-row">
                                  <td>
                                    <h5>
                                      <localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize>
                                    </h5>
                                    <input type="date" [name]="'startDate_' + i" [(ngModel)]="vAttribute.startDate" (blur)="onDateChange()" max="{{currentDate|date:'yyyy-MM-dd'}}" required>
                                    
                                    <div style="width:100%;" class="form-input-validation-error-message-wrapper">
                                      <p *ngIf="!vAttribute.startDate" class="error-message">
                                        <localize key="manage.versions.start.date.required.message"></localize>
                                      </p>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="version-edit-date-container">
                                      <h5>
                                        <localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize>
                                      </h5>
                                      
                                      <input *ngIf="vAttribute.endDate !== '5000-12-31'" type="date" [name]="'endDate_' + i" [(ngModel)]="vAttribute.endDate" (blur)="onDateChange()" required>
                                      <p *ngIf="vAttribute.endDate === '5000-12-31'" style="font-size: 14px;margin:0;"><localize key="changeovertime.manageVersions.infinity.endDate.label"></localize></p>
                                    
                                      <p class="text-right">
                                        <a *ngIf="vAttribute.endDate === '5000-12-31'" (click)="setInfinity(vAttribute, geoObjectOverTime.attributes[attribute.code].values)"><localize key="manage.versions.enddate.set.date.button"></localize></a>
                                        <a *ngIf="vAttribute.endDate !== '5000-12-31'" (click)="setInfinity(vAttribute, geoObjectOverTime.attributes[attribute.code].values)"><localize key="manage.versions.enddate.set.current.button"></localize></a>
                                      </p>
                                      
                                      <div class="form-input-validation-error-message-wrapper">
                                        <p *ngIf="!vAttribute.endDate" class="error-message">
                                          <localize key="manage.versions.end.date.required.message"></localize>
                                        </p>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr *ngIf="vAttribute.conflict">
<!--                                   <p class="error-message"> -->
<!--                                     <localize key="manage.versions.overlap.message"></localize> -->
<!--                                   </p> -->
                                  <p *ngFor="let msg of vAttribute.conflictMessage" class="error-message">
                                    {{msg}}
                                  </p>
                                </tr>
                              </table>
                            </td>
                            
                            <td (click)="remove(vAttribute)" class="manage-version-button clickable" [title]="'changeovertime.manageVersions.remove.version' | localize">
                              <i class="fa fa-times" ></i>
                            </td>
                          </tr>
                        </tbody>


                        <tbody class="attribute-element-wrapper" *ngIf="attribute.type !== 'local'">
                          <p class="message" *ngIf="geoObjectOverTime.attributes[attribute.code].values.length === 0"><localize key="changeovertime.manageVersions.no.versions.message"></localize> </p>

                          <tr @fadeInOut *ngFor="let vAttribute of geoObjectOverTime.attributes[attribute.code].values; let i = index;" [ngClass]="{'error-border': vAttribute.conflict}">
                            <td>
                              <table>
                                <tr class="attribute-value-row">
                                  <td colspan="2">
                                    <div *ngIf="attribute.type === 'term'">
                                      <select id="mod-{{attribute.code}}" [name]="'mod-term-' + i + '-' + attribute.code" class="select-area" [(ngModel)]="vAttribute.value">
                                          <option value=""></option>
                                          <option *ngFor="let option of getGeoObjectTypeTermAttributeOptions(attribute.code)" [value]="option.code">{{option.label.localizedValue}}</option>
                                      </select>
                                    </div>
                                    <div *ngIf="attribute.type === 'character'">
                                      <input type="text" class="form-control" [name]="'char-val-' + i" [(ngModel)]="vAttribute.value" (ngModelChange)="vAttribute.value = $event" required>
                                    </div>
                                    
                                    <div *ngIf="attribute.type === 'date'">
                                      <input type="date" class="form-control" [name]="'date-val-' + i" [ngModel]="vAttribute.value | date:'yyyy-MM-dd'" (ngModelChange)="setDateAttribute(vAttribute, $event)" required>
                                    </div>
                                    
                                    <div *ngIf="attribute.type === 'integer' || attribute.type === 'float'">
                                      <input type="number" class="form-control" [name]="'int-val-' + i" [(ngModel)]="vAttribute.value" (ngModelChange)="vAttribute.value = $event" required>
                                    </div>
                                    
                                    <div *ngIf="attribute.type === 'boolean'">
                                        <label class="radio radio-inline" style="padding-left:0;"> 
                                          <input class="inline-radio-input" type="radio" [checked]="vAttribute.value === true" [value]="true" [(ngModel)]="vAttribute.value" id="mod-{{i}}-true" name="mod-{{i}}-true"> 
                                          <span><localize key="change.request.boolean.option.true"></localize></span>
                                        </label> 
                                        <label class="radio radio-inline"> 
                                          <input class="inline-radio-input" type="radio" [checked]="vAttribute.value === false" [value]="false" [(ngModel)]="vAttribute.value" id="mod-{{i}}-false" name="mod-{{i}}-false"> 
                                          <span><localize key="change.request.boolean.option.false"></localize></span>
                                        </label>
                                    </div>
                                  </td>
                                </tr>
                                <tr class="attribute-date-input-row">
                                  <td>
                                    <h5>
                                      <localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize>
                                    </h5>
                                    <input style="width: 100%;" type="date" [name]="'startDate-' + i" [(ngModel)]="vAttribute.startDate" (blur)="onDateChange()" max="{{currentDate|date:'yyyy-MM-dd'}}" required>
                                  </td>
                                  <td>
                                    <div class="version-edit-date-container">
                                      <h5>
                                        <localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize>
                                      </h5>
                                      
                                      <input *ngIf="vAttribute.endDate !== '5000-12-31'" type="date" [name]="'endDate_' + i" [(ngModel)]="vAttribute.endDate" (blur)="onDateChange()" required>
                                      <p *ngIf="vAttribute.endDate === '5000-12-31'" style="font-size: 14px;margin:0;"><localize key="changeovertime.manageVersions.infinity.endDate.label"></localize></p>
                                    
                                      <p class="text-right">
                                        <a *ngIf="vAttribute.endDate === '5000-12-31'" (click)="setInfinity(vAttribute, geoObjectOverTime.attributes[attribute.code].values)"><localize key="manage.versions.enddate.set.date.button"></localize></a>
                                        <a *ngIf="vAttribute.endDate !== '5000-12-31'" (click)="setInfinity(vAttribute, geoObjectOverTime.attributes[attribute.code].values)"><localize key="manage.versions.enddate.set.current.button"></localize></a>
                                      </p>
                                      
                                      <div class="form-input-validation-error-message-wrapper">
                                        <p *ngIf="!vAttribute.endDate" class="error-message">
                                          <localize key="manage.versions.end.date.required.message"></localize>
                                        </p>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr *ngIf="vAttribute.conflict">
<!--                                   <p class="error-message"> -->
<!--                                     <localize key="manage.versions.overlap.message"></localize> -->
<!--                                   </p> -->
                                  <p *ngFor="let msg of vAttribute.conflictMessage" class="error-message">
                                    {{msg}}
                                  </p>
                                </tr>                                
                              </table>
                            </td>
                            <td style="vertical-align: middle;" class="manage-version-button clickable" [title]="'changeovertime.manageVersions.remove.version' | localize" (click)="remove(vAttribute)">
                              <i class="fa fa-times"></i>
                            </td>
                          </tr>
                        </tbody>
                        
                      </table>
                    </div>

                    <div *ngIf="attribute.type === 'geometry'">
                    
                      <p class="message" *ngIf="geoObjectOverTime.attributes['geometry'].values.length === 0"><localize key="changeovertime.manageVersions.no.versions.message"></localize> </p>
                      
                      <table class="table table-striped">
                        <thead style="font-size: 14px;">
                          <th style="width: 60%;"><localize key="changeovertime.manageVersions.tableHeader.label.value"></localize></th>
                          <th style="width: 20%;"><localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize></th>
                          <th style="width: 10%;"><localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize></th>
                          <th style="width: 10%;"><localize key="changeovertime.manageVersions.tableHeader.label.actions"></localize></th>
                        </thead>
                        <tbody style="text-align: center;">
                          <tr @fadeInOut [ngClass]="{'active' : i === editingGeometry}" *ngFor="let vAttribute of geoObjectOverTime.attributes['geometry'].values; let i = index;">
                            <td style="vertical-align: middle;">
                              <button *ngIf="this.editingGeometry != i" class="btn" (click)="editGeometry(i)" role="button">
                                <localize key="changeovertime.manageVersions.geometry.edit"></localize>
                              </button> 
                              <geoobject-editor-map *ngIf="this.editingGeometry === i" #geometryEditor [geometryType]="this.geoObjectType.geometryType" 
                                  (geometryChange)="this.geometryChange(vAttribute, $event);" [readOnly]="!geoObjectType.isGeometryEditable && readonly" [postGeometry]="vAttribute.value" 
                                  [bboxCode]="this.geoObjectOverTime.attributes.code" [bboxType]="this.geoObjectType.code" [bboxDate]="vAttribute.startDate">
                              </geoobject-editor-map>
                            </td>
                            <td style="vertical-align: middle;"><input type="date" name="startDate-{{i}}" [(ngModel)]="vAttribute.startDate" (blur)="onDateChange()" [disabled]="readonly" required></td>
                            <td style="vertical-align: middle;">

                              <p *ngIf="vAttribute.endDate === '5000-12-31'" style="font-size: 14px;"><localize key="changeovertime.manageVersions.infinity.endDate.label"></localize></p>
                              <input *ngIf="vAttribute.endDate !== '5000-12-31'" type="date" [name]="'endDate_' + i" [(ngModel)]="vAttribute.endDate" (blur)="onDateChange()" [disabled]="readonly" required>

                              <div style="width:100%;" class="form-input-validation-error-message-wrapper">
                                <p *ngIf="!vAttribute.endDate" class="error-message">
                                  <localize key="manage.versions.end.date.required.message"></localize>
                                </p>
                              </div>

                            </td>
                            <td style="vertical-align: middle;"><i class="fa fa-times delete-btn" [ngClass]="{'clickable' : !readonly, 'disabled' : readonly}" (click)="!readonly && remove(vAttribute)"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </li>

                  <li *ngIf="!readonly" class="list-group-item" style="text-align: left;">
                    <i class="fa fa-plus clickable" (click)="onAddNewVersion()"> 
                      <localize key="changeovertime.manageVersions.newVersion"></localize>
                    </i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row-holder">
        <!-- <div class="label-holder"></div> -->
        <div class="holder" style="border: none; width: 100%;">
          <div class="button-holder pull-right">
            <button type="button" (click)="onCancel()" class="btn btn-default" role="button">
              <localize key="modal.button.close"></localize>
            </button>
            <button *ngIf="!readonly" type="button" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="!versionsform.valid || hasConflict">
              <localize key="modal.button.submit"></localize>
            </button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>

