<div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="text-center">
        <h2 *ngIf="!readonly">
            <localize key="type.publish.title"></localize>
        </h2>
    </div>
    <!-- <div class="col-md-12 order-md-1"> -->
    <form #form="ngForm" class="modal-form">

        <fieldset>
            <div class="row-holder">

                <div class="label-holder"></div>
                <div class="holder">
                    <form *ngIf="geoObjectOverTime" #myForm="ngForm">
                        <table class="table"> 
                            <thead> 
                                <tr> 
                                    <th><localize key="changeovertime.manageVersions.tableHeader.label.value"></localize></th> 
                                    <th><localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize></th>
                                    <th><localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize></th>
                                    <th></th>
                                </tr> 
                            </thead> 
                            <tbody> 
                                <tr *ngFor="let version of geoObjectOverTime.attributes[attr.code].values; let i = index;"> 
                                    <td *ngIf="attr.type === 'local'">
                                        <div *ngFor="let loc of version.value.localeValues">
                                            <p *ngIf="loc.locale === 'defaultLocale'">{{loc.value}}</p>
                                        </div>
                                    </td> 
                                    <td *ngIf="attr.type !== 'local'">
                                        <p>{{version.value}}</p>
                                    </td> 

                                    <td>
                                        <input type="date" name="startDate-{{i}}" [ngModel]="version.startDate | date:'yyyy-MM-dd'" (ngModelChange)="version.startDate = $event">
                                    </td> 
                                    <td>{{version.endDate | date:'MM-dd-yyyy'}}</td>
                                    <td><i class="fa fa-times delete-btn" (click)="remove(version)" *ngIf="version.removable"></i></td>
                                </tr>  
                            </tbody> 
                        </table>

                        <div class="form-group">
                            <!-- <label for="value" style="display: block;margin-bottom:0;">Value</label> -->

                            <td *ngIf="attr.type === 'local'">
                                <div *ngFor="let loc of geoObject.properties[this.attr.code].localeValues"> 
                                    <input id="val" style="width:auto;" type="text" name="val" [(ngModel)]="loc.value" #val="ngModel" [disabled]="true">
                                    
                                    <button type="submit" style="margin-left: 15px;" (click)="onAddNewVersion()" class="btn btn-primary" role="button" [disabled]="val.invalid || !canAddVersion()">
                                        <localize key="changeovertime.manageVersions.button.label.addToHistory"></localize>
                                    </button>
                                </div>
                            </td>   
                            <td *ngIf="attr.type !== 'local'">
                                <input id="val" style="width:auto;" required type="text" name="val" [(ngModel)]="geoObject.properties[this.attr.code]" #val="ngModel" [disabled]="true">
                            </td>  

                            <!-- <button type="submit" style="margin-left: 15px;" (click)="onAddNewVersion()" class="btn btn-primary" role="button" [disabled]="val.invalid || valAdded || !canAddVersion()">
                                <localize key="changeovertime.manageVersions.button.label.addToHistory"></localize>
                            </button> -->
                        </div>
                    </form>
                </div>

            </div>

            <div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <div class="button-holder">
                        <button type="button" (click)="onCancel()" class="btn btn-default" role="button">
                            <localize [key]="readonly ? 'io.back' : 'io.cancel'"></localize>
                        </button>
                        <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="form.invalid">
                            <localize key="io.ok"></localize>
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <!-- </div> -->
</div>