<div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="text-center">
        <h2 *ngIf="!readonly">
            <localize key="changeovertime.manageVersions.widget.title"></localize>
        </h2>
    </div>
    <!-- <div class="col-md-12 order-md-1"> -->
    <form #form="ngForm" class="modal-form">

        <fieldset>
            <div class="row-holder">

                <!-- <div class="label-holder"></div> -->
                <div class="holder" style="width: 100%;border: none;">
                    <form *ngIf="geoObjectOverTime" #myForm="ngForm">

                        <div class="panel" style="box-shadow: none;">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <!-- <li class="list-group-item" style="text-align:left;" *ngFor="let vAttribute of geoObjectOverTime.attributes[attribute.code].values; let i = index;"> -->
                                    <li class="list-group-item" style="text-align:left;">
                                        
                                        <div *ngIf="attribute.type === 'local'">
                                                <table class="table table-striped"> 
                                                    <thead style="font-size: 14px;"> 
                                                        <tr> 
                                                            <th style="width: 35%;"><localize key="changeovertime.manageVersions.tableHeader.label.value"></localize></th> 
                                                            <th style="width: 35%;"><localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize></th>
                                                            <th style="width: 20%;"><localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize></th>
                                                            <th style="width: 10%; text-align: center;"><localize key="changeovertime.manageVersions.tableHeader.label.actions"></localize></th>
                                                        </tr> 
                                                    </thead> 
                                                    <tbody> 
                                                        <tr *ngFor="let vAttribute of geoObjectOverTime.attributes[attribute.code].values; let i = index;">
                                                            <td >
                                                                <table style="width: 100%;">
                                                                    <tr *ngFor="let loc of vAttribute.value.localeValues; let idx = index;" [@fadeInOut]> 
                                                                        <td style="vertical-align: bottom; width: 35%;padding: 5px;">
                                                                            <h5>{{loc.locale}}</h5>
                                                                            <input type="text" class="form-control" id="loc-val-{{i}}-{{idx}}" name="loc-val-{{i}}-{{idx}}" [(ngModel)]="loc.value" (ngModelChange)="loc.value = $event">
                                                                        </td> 
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td style="vertical-align: middle; width: 35%;padding: 5px;">
                                                                <input style="width: 100%;" type="date" name="startDate-{{i}}-{{idx}}" [ngModel]="vAttribute.startDate" (ngModelChange)="onDateChange($event, vAttribute)" required>
                                                            </td> 
                                                            <td style="vertical-align: middle; width: 20%;padding: 5px;">
                                                                <p style="font-size: 14px;"> {{vAttribute.endDate | date:'MM-dd-yyyy'}} </p>
                                                            </td>
                                                            <td style="vertical-align: middle; width: 10%;padding: 5px; text-align: center;">
                                                                <i class="fa fa-times delete-btn" (click)="remove(vAttribute)"></i>
                                                            </td>
                                                        </tr>  
                                                    </tbody> 
                                                </table>
                                        </div> 
                        
                                        <div *ngIf="attribute.type === 'term'">
                                                <table class="table table-striped"> 
                                                    <thead style="font-size: 14px;"> 
                                                        <tr> 
                                                            <th style="width: 35%;"><localize key="changeovertime.manageVersions.tableHeader.label.value"></localize></th> 
                                                            <th style="width: 35%;"><localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize></th>
                                                            <th style="width: 20%;"><localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize></th>
                                                            <th style="width: 10%; text-align: center;">Actions</th>
                                                        </tr> 
                                                    </thead> 
                                                    <tbody> 
                                                        <tr *ngFor="let vAttribute of geoObjectOverTime.attributes[this.attribute.code].values; let i = index;"> 
                                                            <td style="vertical-align: bottom;">
                                                                <!-- <h5>{{loc.locale}}</h5> -->
                                                                <!-- <input type="text" class="form-control" id="loc-val-{{i}}" name="loc-val-{{i}}" [(ngModel)]="version.value" (ngModelChange)="version.value = $event"> -->
                                                                <select id="mod-{{attribute.code}}" name="mod-term-{{attribute.code}}" class="select-area" style="float:none;" [(ngModel)]="vAttribute.value">
                                                                    <option *ngFor="let option of getGeoObjectTypeTermAttributeOptions(attribute.code)" [value]="option.code" >{{option.label.localizedValue}}</option>
                                                                </select>
                                                            
                                                            </td> 
                                                            <td style="vertical-align: bottom;">
                                                                <input style="width: 100%;" type="date" name="startDate-{{i}}" [ngModel]="vAttribute.startDate | date:'yyyy-MM-dd'" (ngModelChange)="vAttribute.startDate = $event">
                                                            </td> 
                                                            <td style="vertical-align: bottom;">
                                                                <p style="font-size: 14px;"> {{vAttribute.endDate | date:'MM-dd-yyyy'}} </p>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                <i class="fa fa-times delete-btn" (click)="remove(vAttribute)"></i>
                                                            </td>
                                                        </tr>  
                                                    </tbody> 
                                                </table>
                                        </div>

                                        <div *ngIf="attribute.type === 'character'">
                                            <h1>TODO</h1>
                                        </div>

                                        <div *ngIf="attribute.type === 'date'">
                                            <h1>TODO</h1>
                                        </div>

                                        <div *ngIf="attribute.type === 'boolean'">
                                            <h1>TODO</h1>
                                        </div>

                                        <div *ngIf="attribute.type === 'float'">
                                            <h1>TODO</h1>
                                        </div>

                                        <div *ngIf="attribute.type === 'integer'">
                                            <h1>TODO</h1>
                                        </div>
                                        
                                        <div *ngIf="attribute.type === 'geometry'">
                                            <tr *ngFor="let vAttribute of geoObjectOverTime.attributes['geometry'].values; let i = index;"> 
	                                              <table class="table table-striped">
	                                                <thead style="font-size: 14px;">
	                                                  <th><localize key="changeovertime.manageVersions.tableHeader.label.startDate"></localize></th>
	                                                  <th><localize key="changeovertime.manageVersions.tableHeader.label.endDate"></localize></th>
	                                                  <th><localize key="changeovertime.manageVersions.tableHeader.label.actions"></localize></th>
	                                                </thead>
	                                                <tbody style="text-align: center;">
	                                                  <tr>
	                                                    <td style="width:60%">
                                                          <input style="width: 100%;" type="date" name="startDate-{{i}}" [ngModel]="vAttribute.startDate | date:'yyyy-MM-dd'" (ngModelChange)="vAttribute.startDate = $event">
                                                        </td>
                                                        <td style="padding-top:10px; width:30%">
                                                          <p style="font-size: 14px;"> {{vAttribute.endDate | date:'MM-dd-yyyy'}} </p>
                                                        </td>
                                                        <td style="vertical-align: middle; width: 10%;padding: 5px; text-align: center;">
                                                          <i class="fa fa-times delete-btn" (click)="remove(vAttribute)"></i>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                          <button *ngIf="this.editingGeometry != i" (click)="editGeometry(i)" role="button"><localize key="changeovertime.manageVersions.geometry.edit"></localize></button>
	                                                      <geoobject-editor-map *ngIf="this.editingGeometry === i" #geometryEditor [postGeoObject]="this.geoObjectOverTime" [geoObjectType]="this.geoObjectType" [readOnly]="!geoObjectType.isGeometryEditable" [vAttribute]="this.vAttribute" (valid)="this.onValidChange($event)" [isNew]="this.isNewGeoObject"></geoobject-editor-map>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            </tr>
                                        </div>

                                    </li>

                                    <li class="list-group-item" style="text-align:left;">
                                        <i class="fa fa-plus clickable" (click)="onAddNewVersion()">  New version</i>
                                    </li>
                                </ul>
                            </div>
                        </div>



                        <!-- <div class="form-group">

                            <td *ngIf="attribute.type === 'local'">
                                <div *ngFor="let loc of geoObjectOverTime.attributes[this.attribute.code].localeValues"> 
                                    <input id="val" style="width:auto;" type="text" name="val" [(ngModel)]="loc.value" #val="ngModel" [disabled]="true">
                                    
                                    <button type="submit" style="margin-left: 15px;" (click)="onAddNewVersion()" class="btn btn-primary" role="button" [disabled]="val.invalid || !canAddVersion()">
                                        <localize key="changeovertime.manageVersions.button.label.addToHistory"></localize>
                                    </button>
                                </div>
                            </td>   
                            <td *ngIf="attribute.type !== 'local'">
                                <input id="val" style="width:auto;" required type="text" name="val" [(ngModel)]="geoObjectOverTime.attributes[this.attribute.code]" #val="ngModel" [disabled]="true">
                            </td>  

                        </div> -->
                    </form>
                </div>

            </div>

            <div class="row-holder">
                <!-- <div class="label-holder"></div> -->
                <div class="holder" style="border: none;width: 100%;">
                    <div class="button-holder pull-right">
                        <!-- <button type="button" (click)="onCancel()" class="btn btn-default" role="button">
                            <localize [key]="readonly ? 'io.back' : 'io.cancel'"></localize>
                        </button> -->
                        <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-primary" role="button" [disabled]="form.invalid">
                            <localize key="io.ok"></localize>
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <!-- </div> -->
</div>