<div style="height: 90px;">
    <localize key="manage.versions.stabilityPeriodsTitle"></localize>
    <span *ngIf="activeEntry" style="float: right">
      <localize key="manage.versions.viewingPeriod"></localize>
      [{{activeEntry.period.startDate}}
      -
      {{activeEntry.period.endDate}}]
    </span>
	  <div *ngFor="let timeline of timelines" style="position: relative;">
	      <a *ngFor="let entry of timeline" class="timeline-entry" [ngClass]="{'active-timeline-entry': (activeEntry != null && entry.period.startDate === activeEntry.period.startDate)}" (click)="onClickTimelineEntry(entry)" [ngStyle]="{'width': entry.width + '%', 'left': entry.x + '%'}">
	      </a>
	  </div>
</div>