<div *ngIf="periods.length > 1">
    <span>
      <localize key="manage.versions.historyTitle"></localize>
      <a *ngIf="this.activeEntry" (click)="setActiveTimelineEntry(null)" class="view-all"><localize key="manage.versions.history.viewAll"></localize></a>
      <span *ngIf="!this.activeEntry" class="viewing-all"><localize key="manage.versions.history.viewingAll"></localize></span>
    </span>
    <span style="float: right">
      <ng-container *ngIf="activeEntry">
		      {{activeEntry.period.startDate}}
		      -
		      {{dateService.formatDateForDisplay(activeEntry.period.endDate)}}
      </ng-container>
      <ng-container *ngIf="!activeEntry">
          {{dataTimeSpan.displayStartDate}}
          -
          {{dataTimeSpan.displayEndDate}}
      </ng-container>
    </span>
	  <div *ngFor="let timeline of timelines" class="timeline">
	      <a *ngFor="let entry of timeline" class="timeline-entry" [ngClass]="{'active-timeline-entry': this.activeEntry == null || (this.activeEntry != null && entry.period.startDate === this.activeEntry.period.startDate)}" (click)="setActiveTimelineEntry(entry)" [ngStyle]="{'width': entry.width + '%', 'left': entry.x + '%'}">
	      </a>
	  </div>

	  <div class="navigation-controls" style="padding-top:5px;">
	   <a (click)="navigateRelative(-1)" style="float:left;"><i class="fa fa-chevron-left"></i></a>
	    <a (click)="navigateRelative(1)" style="float:right;"><i class="fa fa-chevron-right"></i></a>
	  </div>
</div>