<div style="height:600px;" class="modal-body text-center">
  <div class="row-holder">
	   <div class="label-holder"></div>
	   <div class="holder">
	     <div class="btn-group geobject-editor-tab-holder">
	       <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 0}" (click)="this.tabIndex = 0">
	         <localize key="geoobject.editor.tabZero"></localize>
	       </label>
	       <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 1}" (click)="this.tabIndex = 1">
           <localize key="geoobject.editor.tabOne"></localize>
         </label>
	     </div>
	   </div>
   </div>

  <!-- Tab Zero -->
  <geoobject-shared-attribute-editor *ngIf="this.tabIndex === 0 && this.geoObjectType && this.preGeoObject && this.postGeoObject" #attributeEditor [isValid]="this.isValid" (valid)="this.onValidChange($event)" [geoObjectType]="this.geoObjectType" [preGeoObject]="this.preGeoObject" [(postGeoObject)]="this.postGeoObject"></geoobject-shared-attribute-editor>
  
  
  <!-- Tab One -->
  <div *ngIf="this.tabIndex === 1">
    <div style="padding-bottom:20px;" *ngFor="let ptn of this.parentTreeNode.parents">
      <label>{{ptn.hierarchyType}}</label>
      
      <input type="text" [(ngModel)]="ptn.geoObject.properties.displayLabel.localizedValue" name="ptn.geoObject.properties.code + '-input'"
                        [typeaheadAsync]="true" [typeahead]="getTypeAheadObservable(ptn.geoObject.properties.displayLabel.localizedValue, ptn.geoObject.properties.type)" (typeaheadOnSelect)="typeaheadOnSelect($event, ptn)"
                        [typeaheadOptionsLimit]="7" typeaheadOptionField="name" class="form-control" autocomplete="off"
                        required>
    </div>
  </div>
  
  
  <div class="holder">
    <div class="button-holder">
      <button type="button" class="btn btn-default" (click)="cancel()">
          <localize key="modal.button.cancel"></localize>
      </button>
      <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!this.isValid">
          <localize key="modal.button.submit"></localize>
      </button>
    </div>
	</div>
</div>