.modal-content {
    overflow-y: visible !important;
}

.modal-form .text input[type="text"]:disabled {
    background: #eee;
}

li.list-group-item {
    font-size: 18px;
}

.warning-text{
    color: orange;
}
