<div class="modal-body text-center">
    <form class="modal-form" style="overflow: visible;">
        <!-- <div class="col-md-12"> -->
            <div class="row-holder">
                <div class="label-holder"></div>
                <div class="holder">
                    <div class="btn-group geobject-editor-tab-holder">
                        <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 0}" (click)="this.changePage(0);">
                            <localize key="geoobject.editor.tabZero"></localize>
                        </label>
                        <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 1}" (click)="this.changePage(1);">
                            <localize key="geoobject.editor.tabOne"></localize>
                        </label>
                        <label class="btn full-width-radio-button" [ngClass]="{active: this.tabIndex === 2}" (click)="this.changePage(2);">
                            <localize key="geoobject.editor.tabTwo"></localize>
                        </label>
                    </div>
                </div>
            </div>
        <!-- </div> -->

        <!-- Attributes tab -->
        <geoobject-shared-attribute-editor *ngIf="this.tabIndex === 0 && this.geoObjectType && this.preGeoObject && this.postGeoObject"
            #attributeEditor [isValid]="this.isValid" (valid)="this.onValidChange($event)" [geoObjectType]="this.geoObjectType"
            [preGeoObject]="this.preGeoObject" [postGeoObject]="this.postGeoObject"></geoobject-shared-attribute-editor>


        <!-- Parents tab -->
        <div *ngIf="this.tabIndex === 1">
            <div *ngFor="let ptn of this.parentTreeNode.parents">
                <div class="label-holder">
                    <label>{{ptn.hierarchyType}}</label>
                </div>

                <div class="holder">
                    <input type="text" [(ngModel)]="ptn.geoObject.properties.displayLabel.localizedValue" name="ptn.geoObject.properties.code + '-input'"
                    [typeaheadAsync]="true" [typeahead]="getTypeAheadObservable(ptn.geoObject.properties.displayLabel.localizedValue, ptn.geoObject.properties.type)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event, ptn)" [typeaheadOptionsLimit]="7"
                    typeaheadOptionField="name" class="form-control" autocomplete="off" required>
                </div>
            </div>
        </div>

		<!-- Geometry tab -->
        <geoobject-editor-map #geometryEditor *ngIf="this.tabIndex === 2" [geoObject]="this.postGeoObject"></geoobject-editor-map>

        <div class="row-holder">
            <div class="label-holder"></div>
            <div class="holder">
                <div class="button-holder text-left">
                    <button type="button" class="btn btn-default" (click)="cancel()">
                        <localize key="modal.button.cancel"></localize>
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!this.isValid || !isMaintainer">
                        <localize key="modal.button.submit"></localize>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>