<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>

    <div id="app-container" class="container-fluid">

        <!-- <div class="heading text-center">
            <h2>
                <localize key="spreadsheet.title"></localize>
            </h2>
            <p class="lead">
                <localize key="spreadsheet.description"></localize>
            </p>
        </div> -->

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding-top: 30px;">

                <div class="heading">
                    <h2>
                        Import Business Data
                    </h2>
                </div>

                <div class="inner-col-content-wrapper" style="padding-top: 30px;margin-top: 10px;">
                    <div *ngIf="!showImportConfig">
                        <div>
                            <div class="row">

                                <div class="col-xs-1"></div>
                                <div class="col-xs-9 radio-btn-wrapper">

                                    <label class="radio">
                                        <input type="checkbox" [value]="true" [checked]="true"
                                            (change)="setImportSource($event, 'FILE')" name="import-source">
                                        <span [ngClass]="{'active' : true}">
                                            <localize key="importer.import.from-file.label"></localize>
                                        </span>
                                        <p class="radio-label-description">
                                            <localize key="importer.import.from-file.description"></localize>
                                        </p>
                                    </label>

                                    <div class="button-holder">
                                        <button type="submit" class="btn btn-primary" (click)="onNext()">
                                            <localize key="io.next"></localize>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-2"></div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showImportConfig">
                        <div>
                            <form #form="ngForm" autocomplete="off">
                                <div class="form-group row">
                                    <label class="col-md-2 text-right" for="businessTypeCode"> Business
                                        Type</label>
                                    <div class="col-md-8">
                                        <select id="businessTypeCode" name="businessTypeCode"
                                            class="select-area" [(ngModel)]="businessTypeCode" required>
                                            <option></option>
                                            <option *ngFor="let businessType of businessTypes"
                                                value={{businessType.code}}>{{businessType.displayLabel.localizedValue}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group row" *ngIf="filteredHierarchyViews">
                                    <label class="col-md-2 text-right" for="hierarchyCode">
                                        <localize key="io.modal.hierarchy"></localize>
                                    </label>
                                    <div class="col-md-8">
                                        <select id="hierarchyCode" name="hierarchyCode" class="select-area"
                                            [(ngModel)]="hierarchyCode" (change)="onSelectHierarchy()" required>
                                            <option></option>
                                            <option *ngFor="let view of filteredHierarchyViews" value={{view.code}}>
                                                {{view.label}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group row" *ngIf="filteredTypeViews">
                                    <label class="col-md-2 text-right" for="code">
                                        <localize key="io.geoObjectType"></localize>
                                    </label>
                                    <div class="col-md-8">
                                        <select id="code" name="code" class="select-area" [(ngModel)]="typeCode"
                                            (change)="onSelectType()" required>
                                            <option></option>
                                            <option *ngFor="let type of filteredTypeViews" value={{type.code}}>
                                                {{type.super ? type.super.label + " : " + type.label : type.label}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right" for="strategy">
                                        <localize *ngIf="this.format === 'EXCEL'"
                                            key="spreadsheet.import.import.strategy"></localize>
                                    </label>
                                    <div class="col-md-8">
                                        <select id="strategy" name="strategy" class="select-area"
                                            [(ngModel)]="importStrategy" required>
                                            <option *ngFor="let strategy of importStrategies"
                                                value={{strategy.strategy}}>{{strategy.label}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right" for="date">Date</label>
                                    <div class="col-md-8">
                                        <date-field #dateFieldComponents [(value)]="date" label="" [inputName]="'date'"
                                            [allowFutureDates]="false"></date-field>
                                    </div>

                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group row">

                                    <label class="col-md-2 text-right" for="copyBlank">
                                        <localize key="dataimporter.importblankcells"></localize>
                                    </label>
                                    <div class="col-md-8">
                                        <boolean-field [(value)]="copyBlank" label=""></boolean-field>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-right" for="file">
                                        <localize *ngIf="this.format === 'EXCEL'" key="io.spreadsheet"></localize>
                                    </label>
                                    <div class="col-md-8">
                                        <input *ngIf="this.format === 'EXCEL'" class="ghost-input" #myFile name="file"
                                            type="file" ng2FileSelect [uploader]="uploader" accept=".xls, .xlsx"
                                            required />
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-2"></div>
                                    <div class="button-holder col-md-8 text-right">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="form.invalid" (click)="onClick()">
                                            <localize key="io.submit"></localize>
                                        </button>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>