<div class="crtable-detail-container">
    <div class="heading text-center">
      <h1 class="action-detail-header">{{action.actionLabel}}</h1>
    </div>
    
    <div class="detail-content">

<!--         <label class="detail-label"><localize key="action.detail.childid.input"></localize> : </label> -->
<!--         <input class="detail-value" type="text" [(ngModel)]="action.childId" [disabled]="isEditing"> -->

<!--         <label class="detail-label"><localize key="action.detail.childtype.input"></localize> : </label> -->
<!--         <input class="detail-value" type="text" [(ngModel)]="action.childTypeCode" [disabled]="isEditing"> -->

<!--         <label class="detail-label"><localize key="action.detail.parentid.input"></localize> : </label> -->
<!--         <input class="detail-value" type="text" [(ngModel)]="action.parentId"  [disabled]="isEditing"> -->

<!--         <label class="detail-label"><localize key="action.detail.childtype.input"></localize> : </label> -->
<!--         <input class="detail-value" type="text" [(ngModel)]="action.parentTypeCode"  [disabled]="isEditing"> -->

<!--         <label class="detail-label"><localize key="action.detail.hierarchycode.input"></localize> : </label> -->
<!--         <input class="detail-value" type="text" [(ngModel)]="action.hierarchyTypeCode"  [disabled]="isEditing"> -->

        <label class="detail-label">
            <localize key="change.request.status"></localize> :
        </label>
        <select style="float:none;" [ngClass]="{'status-rejected': action.approvalStatus === 'REJECTED', 'status-accepted': action.approvalStatus === 'ACCEPTED', 'status-pending': action.approvalStatus === 'PENDING'}" [(ngModel)]=action.approvalStatus   [disabled]="isEditing">
            <option value="REJECTED">
                <localize key="change.request.status.rejected"></localize>
            </option>
            <option value="ACCEPTED">
                <localize key="change.request.status.accepted"></localize>
            </option>
            <option value="PENDING">
                <localize key="change.request.status.pending"></localize>
            </option>
        </select>

        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.contributorNotes"></localize> :
            </label>
            <textarea style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.contributorNotes"  disabled></textarea>
        </div>

        <div class="button-holder text-right" style="margin:40px 0 20px 0;">
          <button *ngIf="!readOnly && !isEditing" (click)="startEdit()" class="btn btn-primary detail-accept">
            <localize key="modal.button.edit"></localize>
          </button>
          <button *ngIf="!readOnly && isEditing" (click)="endEdit()" class="btn btn-default detail-reject">
            <localize key="modal.button.cancel"></localize>
          </button>
          <button *ngIf="!readOnly && isEditing" (click)="applyAction()" class="btn btn-primary detail-accept">
            <localize key="modal.button.submit"></localize>
          </button>
        </div>
        
    </div>
</div>