<div class="new-admin-design-main">
  <cgr-header></cgr-header>
  
  <div id="app-container" class="container">
  
  <!--   <h2> <localize key="hierarchy.management.title"></localize> </h2> -->
    
    <div class="row">
    
      <div class="col-md-4">
        <h3>Select Hierarchy</h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item" [ngClass]="{active: isActive(hierarchy)}" *ngFor="let hierarchy of hierarchies;" (click)="hierarchyOnClick($event,hierarchy)">
            <i class="fa fa-sitemap"></i> {{hierarchy.localizedLabel}} <i *ngIf="!excludeHierarchyTypeDeletes(hierarchy)" class="fa fa-times delete-btn pull-right" (click)="deleteHierarchyType(hierarchy)"></i> 
          </li>
        </ul>
        
        <div>
          <button type="submit" class="btn btn-primary" (click)="createHierarchy()">Create</button>
        </div>
      </div>
      
      <div class="col-md-4">
        <h3 *ngIf="currentHierarchy"> Manage the {{currentHierarchy.localizedLabel}} hierarchy</h3>
<!--         <h3> Manage </h3> -->
        <hr>
        <div *ngIf="nodes.length > 0" class="tree">
          <tree-root [nodes]="nodes" [options]="options"></tree-root>
        </div>
        <div *ngIf="nodes.length === 0" class="tree">
          <div>
            <button type="submit" class="btn btn-primary" (click)="addChildAndRootToHierarchy()">Add</button>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <h3>Available Types</h3>
        <hr>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let type of geoObjectTypes | geoobjecttype:nodes">
            {{type.localizedLabel}} <i *ngIf="type.isLeaf === 'true'" class="fa fa-leaf" aria-hidden="true"></i> 
            <i class="fa fa-pencil pull-right" (click)="addAttributesToGeoObjectType(type)"></i> 
            <i class="fa fa-times delete-btn pull-right" *ngIf="!excludeGeoObjectTypeDeletes(type)" (click)="deleteGeoObjectType(type)"></i> 
          </li>
        </ul>
        
        <div>
          <button type="submit" class="btn btn-primary" (click)="createGeoObjectType()">Create</button>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
  <context-menu #nodeMenu>
<!--     <ng-template contextMenuItem let-item (execute)="handleEdit($event.item)"> -->
<!--       Edit {{item?.data.name}} -->
<!--     </ng-template> -->
    <ng-template contextMenuItem let-item (execute)="addChildToHierarchy($event.item)">
      Add relationship to this type
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteTreeNode($event.item)">
      Delete this type
    </ng-template>
  </context-menu>
  
  <context-menu #leafMenu>
<!--     <ng-template contextMenuItem let-item (execute)="handleEdit($event.item)"> -->
<!--       Edit {{item?.data.name}} -->
<!--     </ng-template> -->
    <ng-template contextMenuItem let-item (execute)="deleteTreeNode($event.item)">
      Delete {{item?.data.label}}
    </ng-template>
  </context-menu>

</div>
