<div class="row-holder" >
    <div class="label-holder">
        <label><localize key="synchronization.config.units"></localize></label>
    </div>
    <div class="holder">
        <div class="list-table-wrapper">
            <table id="manage-systems-table" class="list-table table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 3%"><localize key="settings.external.synchronization.level.label"></localize></th>
                        <th style="width: 25%"><localize key="masterlist.field"></localize></th>
                        <th style="width: 25%"><localize key="masterlist.forDate"></localize></th>
                        <th style="width: 25%">Implementation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let level of config.configuration.levels; let i = index;" [style.background-color]="'#F7F7F7'">
                        <td style="width: 3%">
                            <label style="padding: 10px 0; margin: 0;"><localize key="sync.level.label"></localize> {{level.level + 1}}</label>
                        </td>
                        <td style="width: 20%">
                            <select [(ngModel)]="level.masterListId" (change)="onSelectMasterList(level)" [name]="'masterList' + level.level" required>
                                <option></option>
                                <option *ngFor="let list of lists" [value]="list.oid">{{list.label}}</option>
                            </select>
                        </td>
                        <td style="width: 20%">
                            <select *ngIf="versions[level.masterListId] != null" [(ngModel)]="level.versionId" [name]="'version' + level.level" required>
                                <option></option>
                                <option *ngFor="let version of versions[level.masterListId].versions" [value]="version.oid">{{version.forDate}}</option>
                            </select>
                        </td>
                        <td style="width: 20%">
                            <select [(ngModel)]="level.implementation" [name]="'implementation' + level.level" required>
                                <option></option>
                                <option *ngFor="let implementation of implementations" [value]="implementation.className">{{implementation.label}}</option>
                            </select>
                        </td>
                        <td style="width: 20%">
                            <div>
                                <a style="padding: 10px;" (click)="removeLevel(i)" [title]="'button.delete.helptext' | localize">
                                    <i class="fa fa-trash-o ico-remove"></i> <label style="cursor: pointer; margin-left: 9px;"><localize key="sync.level.delete"></localize></label>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="button-column"><a class="fa fa-plus" [title]="'sync.levels.add.tooltip' | localize" (click)="addLevel()"></a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
