<div class="new-admin-design-main">
  <cgr-header></cgr-header>
  <loading-bar></loading-bar>

  <div class="container-fluid">

    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="row">
      <div *ngIf="config != null" class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <h3>{{config.label.localizedValue}}</h3>
          </div>
        </div>

        <div class="inner-col-content-wrapper" style="padding-top: 30px; margin-top: 10px;">
          <div class="row">
            <div class="col-md-8">
              <label style="vertical-align: middle;">CGR</label> 
              <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: 23px;padding: 0 7px;vertical-align: middle; color: #bdbdbd;margin-bottom: 4px;"></i> 
              <label style="vertical-align: middle;">{{config.systemLabel}}</label>
            </div>
            <div class="col-md-4">
              <form #myForm="ngForm">
                <div class="form-group text-right" style="margin: 0;">
                  <button type="submit" style="margin-left: 15px;" (click)="onRun()" class="btn btn-primary" role="button" [disabled]="myForm.invalid" [title]="'synchronization.config.run' | localize">
                    <localize key="synchronization.config.run"></localize>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="config != null && config.type === 'DHIS2ExternalSystem'">
            <div class="col-md-12">

                <h4>
                    <localize key="synchronization.config.units"></localize>
                </h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <localize key="settings.external.synchronization.level.label"></localize>
                        </th>
                        <th>
                          <localize key="settings.external.synchronization.geoobjecttype.label"></localize>
                        </th>
                        <th style="text-align: right;">
                          <localize key="settings.external.synchronization.dhis2.synch.type.label"></localize>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let level of this.config.configuration['levels']; let i = index;" >
                        <td style="vertical-align: middle;">
                          <localize key="settings.external.synchronization.level.label"></localize> {{i + 1}}
                        </td>
                        <td style="">
                          {{level.geoObjectType}}
                        </td>
                        <td style="text-align: right;">
                          <localize *ngIf="level.type === 'ORG_UNITS'" key="synchronization.config.units"></localize>
                          <localize *ngIf="level.type === 'RELATIONSHIPS'" key="synchronization.config.relationships"></localize>
                          <localize *ngIf="level.type === 'ALL'" key="synchronization.config.all"></localize>
                        </td>
                      </tr>
                    </tbody>
                </table>

            </div>
          </div>


          <div class="row">
            <div class="col-md-12 order-md-1">
              <ul class="list-group">
                <div class="solid-table-wrapper">
                  <table class="table table-striped">
                    <thead>
                      <tr style="height: 56px;">
                        <th style="vertical-align: middle;"><localize key="masterlist.jobs"></localize></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let job of jobs; let i = index;">  -->
                      <tr *ngFor="let job of page.resultSet | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">
                        <td style="vertical-align: middle;">
                          <div class="wrapper">
                            <i style="position: absolute; font-size: 40px;" class="fa fa-file" aria-hidden="true"></i>
                            <p style="padding-left: 60px;">
                              <span style="display: block;"> {{job.fileName}} </span>
                              <span style="display: block;"> {{job.createDate}} </span>
                              <span style="display: block;"> {{formatJobStatus(job)}} </span>
                              <span *ngIf="job.exception != null && job.exception.type != 'java.lang.RuntimeException'" style="display: block;">
                                {{job.exception.message}}
                              </span>
                            </p>

                            <step-indicator [steps]="job.stepConfig"></step-indicator>

                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <div *ngIf="page.resultSet.length > 0" class="solid-table-footer">
                    <pagination-controls id="activeJobs" (pageChange)="onPageChange($event)"></pagination-controls>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>