<div class="modal-body">
  <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

  <div class="text-center">
    <h2>
      <localize key="synchronization.config.title"></localize>
    </h2>
  </div>
  <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && onSubmit()">

    <fieldset>
      <div class="row-holder" *ngFor="let localeValue of config.label.localeValues">
        <div class="label-holder">
          <label> <localize key="synchronization.config.label"></localize> (<convert-key-label [key]="localeValue.locale"></convert-key-label>)
          </label>
        </div>
        <div class="holder">
          <input [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="text" class="form-control" [required]="localeValue.locale === 'defaultLocale'" />
        </div>
      </div>
      <div class="row-holder">
        <div class="label-holder">
          <label><localize key="synchronization.config.organization"></localize></label>
        </div>
        <div class="holder">
          <span class="select">
            <select type="text" [(ngModel)]="config.organization" name="organization" (change)='onOrganizationSelected()' [disabled]="config.oid != null" required>
              <option></option>
              <option *ngFor="let org of organizations" [value]="org.code">{{org.label}}</option>
            </select>
          </span>
        </div>
      </div>
      
      <div *ngIf="cOrg != null" class="row-holder">
        <div class="label-holder">
          <label><localize key="synchronization.config.system"></localize></label>
        </div>
        <div class="holder">
          <span class="select">
            <select type="text" [(ngModel)]="config.system" name="system" (change)='onChangeExternalSystem()' [disabled]="config.oid != null" required>
              <option></option>
              <option *ngFor="let system of cOrg.systems" [value]="system.oid">{{system.label}}</option>
            </select>
          </span>
        </div>
      </div>

      <div *ngIf="cSystem != null && cSystem.type === 'DHIS2ExternalSystem'">
        <dhis2-synchronization-config [(config)]="config" [cOrg]="cOrg" [fieldChange]="fieldChange" (onError)="error($event)"></dhis2-synchronization-config>
      </div>
      <div *ngIf="cSystem != null && cSystem.type === 'FhirExternalSystem'">
        <div class="row-holder">
          <div class="label-holder">
            <label>Synchronization Type</label>
          </div>
          <div class="holder">
            <div class="col-md-3" style="display: flex; align-items: center;">
              <label class="radio-inline radio">
                <input class="inline-radio-input" style="height:auto;" type="radio" [(ngModel)]="config.isImport" [checked]="!config.isImport" name="isImport" [value]="false">
                <span>Export</span>
              </label>                
              <label class="radio-inline radio">
                <input class="inline-radio-input" style="height:auto;" type="radio" [(ngModel)]="config.isImport" [checked]="config.isImport" name="isImport" [value]="true">
                <span>Import</span>
              </label>                
            </div>          
          </div>
        </div>
      
        <fhir-export-synchronization-config *ngIf="config.isImport !== true" [(config)]="config" [fieldChange]="fieldChange" (onError)="error($event)"></fhir-export-synchronization-config>
        <fhir-import-synchronization-config *ngIf="config.isImport === true" [(config)]="config" [fieldChange]="fieldChange" (onError)="error($event)"></fhir-import-synchronization-config>
      </div>

      <div class="row-holder">
        <div class="label-holder"></div>
        <div class="holder">
          <div class="button-holder">
            <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />
            <input type="submit" [value]="'dataset.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>