<div class="modal-body">
  <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

  <div class="text-center">
    <h2>
      <localize key="synchronization.config.title"></localize>
    </h2>
  </div>
  <!-- <div class="col-md-12 order-md-1"> -->
  <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && onSubmit()">

    <fieldset>
      <div class="row-holder" *ngFor="let localeValue of config.label.localeValues">
        <div class="label-holder">
          <label> <localize key="synchronization.config.label"></localize> ({{localeValue.locale}})
          </label>
        </div>
        <div class="holder">
          <input [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="text" class="form-control" [required]="localeValue.locale === 'defaultLocale'" />
        </div>
      </div>
      <div class="row-holder">
        <div class="label-holder">
          <label><localize key="synchronization.config.organization"></localize></label>
        </div>
        <div class="holder">
          <span class="select">
            <select type="text" [(ngModel)]="config.organization" name="organization" (change)='onOrganizationSelected()' [disabled]="config.oid != null" required>
              <option></option>
              <option *ngFor="let org of organizations" [value]="org.code">{{org.label}}</option>
            </select>
          </span>
        </div>
      </div>
      <div *ngIf="cOrg != null" class="row-holder">
        <div class="label-holder">
          <label><localize key="synchronization.config.hierarchy"></localize></label>
        </div>
        <div class="holder">
          <span class="select">
            <select type="text" [(ngModel)]="config.hierarchy" name="hierarchy" [disabled]="config.oid != null" required>
              <option></option>
              <option *ngFor="let hierarchy of cOrg.hierarchies" [value]="hierarchy.code">{{hierarchy.label}}</option>
            </select>
          </span>
        </div>
      </div>

      <div *ngIf="config.hierarchy != null" class="row-holder">
        <div class="label-holder">
          <label><localize key="synchronization.config.system"></localize></label>
        </div>
        <div class="holder">
          <span class="select">
            <select type="text" [(ngModel)]="config.system" name="system" (change)='onChange()' [disabled]="config.oid != null" required>
              <option></option>
              <option *ngFor="let system of cOrg.systems" [value]="system.oid">{{system.label}}</option>
            </select>
          </span>
        </div>
      </div>

      <div class="row-holder" *ngIf="cSystem != null && cSystem.type === 'DHIS2ExternalSystem'">

        <div class="label-holder">
          <label><localize key="synchronization.config.units"></localize></label>
        </div>
        <div class="holder">
          <div class="list-table-wrapper">
            <table id="manage-systems-table" class="list-table table table-bordered">
              <thead>
                <tr>
                  <th style="width:20%">
                    <localize key="settings.external.synchronization.level.label"></localize>
                  </th>
                  <th style="width:30%">
                    <localize key="settings.external.synchronization.geoobjecttype.label"></localize>
                  </th>
                  <th style="width:30%">
                    <localize key="settings.external.synchronization.dhis2.synch.type.label"></localize>
                  </th>
                  <th style="width:20%; text-align: center;">
                    <localize key="settings.external.synchronization.actions.label"></localize>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let levelRow of levelRows; let i = index;">
                  <td style="width:20%" *ngIf="levelRow.isAttributeEditor === false">
                    <label style="padding: 10px 0; margin: 0;">Level {{levelRow.levelNum + 1}}</label>
                  </td>
                  <td style="width:30%" *ngIf="levelRow.isAttributeEditor === false">
                    <select type="text" [(ngModel)]="levelRow.level.geoObjectType" (change)="onSelectGeoObjectType(levelRow.level.geoObjectType, i)" [name]="'geoObjectType' + levelRow.levelNum" required>
                      <option></option>
                      <option *ngFor="let type of types" [value]="type.code">{{type.label.localizedValue}}</option>
                    </select>
                  </td>
                  <td style="width:30%" *ngIf="levelRow.isAttributeEditor === false">
                    <select type="text" [(ngModel)]="levelRow.level.type" [name]="'type' + levelRow.levelNum" required>
                      <option></option>
                      <option value="ORG_UNITS"><localize key="synchronization.config.units"></localize></option>
                      <option value="RELATIONSHIPS"><localize key="synchronization.config.relationships"></localize></option>
                      <option value="ALL"><localize key="synchronization.config.all"></localize></option>
                    </select>
                  </td>
                  <td style="width:20%" *ngIf="levelRow.isAttributeEditor === false">
									  <div>
									    <a style="padding: 10px;" (click)="removeLevel(levelRow.levelNum, i)" [title]="'button.delete.helptext' | localize">
									      <icon class="fa fa-trash-o ico-remove"></icon>
									      <label style="cursor:pointer; margin-left:9px;">Delete</label>
									    </a> 
									  </div>
									  <div>
                      <a *ngIf="levelRow.hasAttributes" style="padding: 10px;" (click)="configureAttributes(levelRow)" [title]="'sync.attr.configureAttributes.helptext' | localize">
                        <icon class="fa fa-edit"></icon>
                        <label style="cursor:pointer; margin-left:3px;"><localize key="sync.attr.configureAttributes"></localize></label>
                      </a> 
                    </div>
									</td>
                  <td colspan="4" *ngIf="levelRow.isAttributeEditor === true">
                    <h4>Attributes</h4>
	                  <table class="table">
	                    <thead>
	                      <tr>
	                        <th></th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                      <tr *ngFor="let attr of levelRow.attrCfg.attrs">
	                        <td class="row-holder">
	                          <table class="row" style="width:80%; margin-left:80px; margin-top:15px; margin-bottom: 10px;">
	                            <thead>
	                              <tr>
	                                <th style="width:25%">
	                                  <label><localize key="sync.attr.sourceAttribute"></localize></label>
	                                </th>
	                                <th style="width:25%">
                                    <label><localize key="sync.attr.type"></localize></label>
                                  </th>
                                  <th style="width:25%">
                                    <!-- To -->
                                  </th>
                                  <th style="width:25%">
                                    <label><localize key="sync.attr.targetAttribute"></localize></label>
                                  </th>
	                              </tr>
	                            </thead>
	                            <tbody>
	                              <tr>
	                                <td><label style="color:#999;">{{attr.label}}</label></td>
	                                <td><label style="color:#999;">{{attr.typeLabel}}</label></td>
	                                <td style="float:right; margin-right:20px;"><label style="color:#999;"><localize key="sync.attr.to"></localize></label></td>
	                                <td>
	                                  <select *ngIf="attr.dhis2Attrs.length > 0" [(ngModel)]="levelRows[i-1].level.attributes[attr.name].externalId" [ngModelOptions]="{standalone: true}">
	                                    <option></option>
	                                    <option [value]="dhis2Attr.dhis2Id" *ngFor="let dhis2Attr of attr.dhis2Attrs">
	                                      {{dhis2Attr.name}}
	                                    </option>
	                                  </select>
	                                  <label *ngIf="attr.dhis2Attrs.length == 0" style="color:#999;"><localize key="sync.noValid"></localize></label>
	                                </td>
	                              </tr>
	                            </tbody>
	                          </table>
	                          <div *ngIf="levelRows[i-1].level.attributes[attr.name].externalId != null && levelRows[i-1].level.attributes[attr.name].externalId.length > 0">
		                          <table *ngFor="let term of attr.terms" class="row" style="width:80%; margin-left:80px;">
	                              <thead>
	                                <tr>
	                                  <th style="width:25%">
	                                  </th>
	                                  <th style="width:25%">
	                                    <label><localize key="sync.attr.term.cgrTerm"></localize></label>
	                                  </th>
	                                  <th style="width:25%">
	                                    <!-- To -->
	                                  </th>
	                                  <th style="width:25%">
	                                    <label><localize key="sync.attr.term.dhis2Option"></localize></label>
	                                  </th>
	                                </tr>
	                              </thead>
	                              <tbody>
	                                <tr>
	                                  <td></td>
	                                  <td><label style="color:#999;">{{term.label}}</label></td>
	                                  <td style="float:right; margin-right:20px;"><label style="color:#999;"><localize key="sync.attr.to"></localize></label></td>
	                                  <td>
	                                    <select [(ngModel)]="levelRows[i-1].level.attributes[attr.name].terms[term.code]" [ngModelOptions]="{standalone: true}">
	                                      <option></option>
	                                      <option *ngFor="let option of getTermOptions(attr, levelRows[i-1].level.attributes[attr.name].externalId)" [value]="option.code">
	                                        {{option.name}}
	                                      </option>
	                                    </select>
	                                  </td>
	                                </tr>
	                              </tbody>
	                            </table>
                            </div>
	                        </td>
	                      </tr>
	                    </tbody>
	                  </table>
                  </td>
                </tr>
                <tr>
                  <td class="button-column">
                    <a class="fa fa-plus" (click)="addLevel()"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          
          </div>
      </div>


      </div>

      <div class="row-holder">
        <div class="label-holder"></div>
        <div class="holder">
          <div class="button-holder">
            <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />
            <input type="submit" [value]="'dataset.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
          </div>
        </div>
      </div>

    </fieldset>
  </form>
  <!-- </div> -->
</div>