<div class="new-admin-design-main">
  <cgr-header></cgr-header>
  <loading-bar></loading-bar>

  <div id="app-container" class="container-fluid">

    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="row">
      <div *ngIf="config != null" class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <h3>{{config.label.localizedValue}}</h3>
          </div>
        </div>

        <div class="inner-col-content-wrapper" style="padding-top: 30px; margin-top: 10px;">
          <div style="margin-bottom: 10px;" class="row">
            <div class="col-md-8">CGR -> {{config.systemLabel}}</div>
            <div class="col-md-4">
              <form #myForm="ngForm">
                <div class="form-group">
                  <button type="submit" style="margin-left: 15px;" (click)="onRun()" class="btn btn-primary" role="button" [disabled]="myForm.invalid" [title]="'synchronization.config.run' | localize">
                    <localize key="synchronization.config.run"></localize>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="config != null && config.type === 'DHIS2ExternalSystem'">
            <div class="col-md-12">
              <div class="label-holder">
                <label><localize key="synchronization.config.units"></localize></label>
              </div>
              <div class="holder">
                <div *ngFor="let level of this.config.configuration['levels']; let i = index;" class="row">
                  <div class="col-sm-2">Level {{i + 1}}</div>
                  <div class="col-sm-6">{{level.geoObjectType}}</div>
                  <div class="col-sm-4">
                    <localize *ngIf="level.type === 'ORG_UNITS'" key="synchronization.config.units"></localize>
                    <localize *ngIf="level.type === 'RELATIONSHIPS'" key="synchronization.config.relationships"></localize>
                    <localize *ngIf="level.type === 'ALL'" key="synchronization.config.all"></localize>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 order-md-1">
              <ul class="list-group">
                <div class="solid-table-wrapper">
                  <table class="table table-striped">
                    <thead>
                      <tr style="height: 56px;">
                        <th style="vertical-align: middle;"><localize key="masterlist.jobs"></localize></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let job of jobs; let i = index;">  -->
                      <tr *ngFor="let job of page.resultSet | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">
                        <td style="vertical-align: middle;">
                          <div class="wrapper">
                            <i style="position: absolute; font-size: 40px;" class="fa fa-file" aria-hidden="true"></i>
                            <p style="padding-left: 60px;">
                              <span style="display: block;"> {{job.fileName}} </span>
                              <span style="display: block;"> {{job.createDate}} </span>
                              <span style="display: block;"> {{formatJobStatus(job)}} </span>
                              <span *ngIf="job.exception != null && job.exception.type != 'java.lang.RuntimeException'" style="display: block;">
                                {{job.exception.message}}
                              </span>
                            </p>

                            <step-indicator *ngIf="job.status !== 'SUCCESS' && job.status !== 'FAILURE' && job.status !== 'CANCELED'" [steps]="job.stepConfig"></step-indicator>

                          </div>
                        </td>
                        <td style="text-align: right; vertical-align: middle;">
                          <div class="button-holder" style="float: right;">
                            <a *ngIf="job.status === 'FAILURE'" [routerLink]="'/registry/sync/details/' + job.historyId" routerLinkActive="active">
                              <button class="btn btn-primary" role="button">
                                <localize key="scheduledjobs.detail.button"></localize>
                              </button>
                            </a>
                           </div>
                         </td>
                      </tr>

                    </tbody>
                  </table>
                  <div *ngIf="page.resultSet.length > 0" class="solid-table-footer">
                    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>