<div>
  <!-- <admin-header></admin-header> -->
  
  <message></message>
<!-- <form class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons"> -->

  <form *ngIf="account" #form="ngForm" style="height:calc(100vh - 144px);padding-bottom: 20px;overflow-y: auto;" class="modal-form" (ngSubmit)="form.valid && onSubmit()">    
    <!-- <div class="modal-dialog" style="height: 100%;"> -->
      <!-- <div *ngIf="account" class="modal-content" style="height: 100%;overflow-y: auto;"> -->
        <fieldset>            
          <div class="heading">
            <h3><localize key="account.user.heading"></localize></h3>
          </div>      
          <hr>        
          <div class="row-holder">
            <div class="label-holder">
              <label><localize key="account.firstname"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="account.user.firstName" name="firstname" required>
              </span>
            </div>
          </div>          
          <div class="row-holder">
            <div class="label-holder">
              <label><localize key="account.lastname"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="account.user.lastName" name="lastname" required>
              </span>
            </div>
          </div>  
          <div class="row-holder">
            <div class="label-holder">
              <label><localize key="account.phonenumber"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="account.user.phoneNumber" name="phoneNumber" >
              </span>
<!--               <div *ngIf="aphone.errors?.phone" class="inline-error-message"> -->
<!--                 <localize key="account.phone.validation"></localize> -->
<!--               </div>                                           -->
            </div>
          </div>           
          <div class="row-holder">
            <div class="label-holder">
              <label><localize key="account.email"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="account.user.email" name="email" required #aemail="ngModel" email>
              </span>
              <div *ngIf="aemail.errors?.email && account.user.email && account.user.email.length > 0" class="inline-error-message">
                <localize key="account.email.validation"></localize>
              </div>                                          
            </div>
          </div>          
          <div class="heading">
            <h3><localize key="account.info.heading"></localize></h3>
          </div>      
          <hr>          
          <div class="row-holder">
            <div class="label-holder">
              <label><localize key="account.username"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [disabled]="!account.user.newInstance && account.user.username === 'admin'" [(ngModel)]="account.user.username" name="username" required>
              </span>
            </div>
          </div>
          <div *ngIf="!account.user.newInstance" class="row-holder">
            <div class="label-holder">
              <label><localize key="account.changePassword"></localize></label>
            </div>          
            <div class="holder" >
              <boolean-field [(value)]="account.changePassword"></boolean-field>
            </div>
          </div>                        
          <div *ngIf="account.changePassword || account.user.newInstance">
            <div class="row-holder">
              <div class="label-holder">
                <label><localize key="account.password"></localize></label>
              </div>          
              <div class="holder" >
                <span class="text">
                  <input type="password" [(ngModel)]="account.user.password" name="password" #password="ngModel" required minlength="5" maxlength="50" >
                  <ng2-password-strength-bar
                    [passwordToCheck]="account.user.password">
                  </ng2-password-strength-bar>                              
                </span>
              </div>
            </div>  
            <div class="row-holder">
              <div class="label-holder">
                <label><localize key="account.certainPassword"></localize></label>
              </div>          
              <div class="holder" >
                <span class="text">
                  <input type="password" ngModel name="certainPassword" #certainPassword="ngModel" [equalTo]="password"/>
                </span>
                <div *ngIf="certainPassword.errors?.equalTo" class="inline-error-message">
                  <localize key="account.certainPassword.validation"></localize>
                </div>                                                       
              </div>
            </div>  
          </div>
          <div *ngIf="!(!account.user.newInstance && account.user.username === 'admin')">
            <div class="row-holder">
              <div class="label-holder">
                <label><localize key="account.inactive"></localize></label>
              </div>
              <div class="holder">
                <boolean-field [(value)]="account.user.inactive"></boolean-field>
              </div>
            </div>
          </div>
          <div *ngFor="let group of account.groups">
            <div class="heading">
              <h3><localize [key]="'com.runwaysdk.ui.userstable.UsersTable.' + group.name"></localize></h3>
            </div>                          
            <hr>
            <div *ngFor="let role of group.roles" class="row-holder">
              <div class="label-holder">
                <label>{{role.displayLabel}}</label>
              </div>          
              <div class="holder" >
                <div class="check-block">
                  <input type="radio" [value]="role.roleId" [(ngModel)]="group.assigned" [name]="group.name">
                </div>              
              </div>
            </div>              
          </div>
          <div class="row-holder">
            <div class="label-holder">
            </div>                    
            <div class="holder">
              <div class="button-holder">
                <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />              
                <input type="submit" [value]="'dataset.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
              </div>
            </div>
          </div>
        </fieldset>
      <!-- </div> -->
    <!-- </div> -->
  </form>
</div>
