<ng-template #versionDetail let-version='version' let-entry="entry">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-9" style="vertical-align: middle;">

            <span class="clickable" (click)="version.collapsed = !version.collapsed"
                [attr.aria-expanded]="!version.collapsed"><i class="fa fa-minus"></i>
            </span>
            <a [routerLink]="'/registry/master-list/' + version.oid" routerLinkActive="active">
                Version {{version.versionNumber}}
            </a>
        </div>
        <div class="col-md-3" style="text-align: right;">
            <button type="submit" (click)="onEdit(entry, version)" class="btn btn-default" role="button">
                <localize key="masterlist.button.metadata"></localize>
            </button>
            <button *ngIf="list.write" type="submit" (click)="onDelete(entry, version)" class="btn btn-danger"
                role="button">
                <localize key="modal.button.delete"></localize>
            </button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px;" [collapse]="!version.collapsed">
        <ul>
            <li>Date Generated: {{version.createDate}}</li>
            <li>Last update: {{version.publishDate}}</li>
            <li>
                Visibility: List ({{version.listMetadata.visibility}})
                Geospatial ({{version.geospatialMetadata.visibility}})
            </li>
            <li>
                Authoritativeness: List ({{version.listMetadata.master ? 'Master' : 'Non-master'}})
                Geospatial ({{version.geospatialMetadata.master ? 'Master' : 'Non-master'}})
            </li>
        </ul>
    </div>
</ng-template>


<ng-container>

    <div class="heading">
        <h2>
            {{list.displayLabel.localizedValue}}
        </h2>
    </div>

    <div class="row" *ngIf="list.listType === 'single'">
        <div class="col-md-12">
            Valid On: {{list.validOn}}
        </div>
    </div>

    <div *ngFor="let entry of list.entries" class="row" style="margin-bottom: 5px;">
        <div class="col-md-10" style="background-color: #CFCAD6; padding: 3px;">
            <div class="row">
                <div class="col-md-9">
                    {{entry.period}}
                </div>
            </div>

            <ng-container *ngIf="list.write">
                <div style="margin-top: 30px; margin-bottom: 30px;" class="row">
                    <div class="col-md-6">
                        <div>
                            <button type="submit" (click)="onCreate(entry)" class="btn btn-primary" role="button">
                                New Version
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-9" style="vertical-align: middle;">
                        <a [routerLink]="'/registry/master-list/' + entry.working" routerLinkActive="active">
                            Working Version
                        </a>
                    </div>
                </div>                
            </ng-container>
            <ng-container *ngIf="entry.versions.length > 0">
                <ng-container *ngFor="let version of entry.versions; let j = index;">
                    <ng-container *ngIf="j === 0 || entry.showAll" [ngTemplateOutlet]="versionDetail"
                        [ngTemplateOutletContext]="{entry:entry, version:version}">
                    </ng-container>
                </ng-container>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-9" style="vertical-align: middle;">
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                        <button type="submit" (click)="toggleVersions(entry)" class="btn btn-primary" role="button">
                            {{!entry.showAll ? 'See' : 'Hide' }} previous versions
                        </button>
                    </div>
                </div>
            </ng-container>
            <div class="row" *ngIf="entry.versions.length === 0">
                <div class="col-md-12">
                    No Versions
                </div>
            </div>
        </div>
    </div>

</ng-container>