<ng-container>
    <div class="row-holder" *ngFor="let localeValue of metadata.label.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.label"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="localeValue.value" [name]="'metadata-displayLabel-' + localeValue.locale" type="text"
                class="form-control" [disabled]="readonly" [required]="false" />
        </div>
    </div>
    <div class="row-holder">
        <div class="label-holder">
            <label>
                Originator
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="metadata.originator" name="originator" type="text" class="form-control"
                [disabled]="readonly" />
        </div>
    </div>
    <div class="row-holder">
        <div class="label-holder">
            <label>
                Collection Date
            </label>
        </div>
        <div class="holder">
            <date-field [(value)]="metadata.collectionDate" [classNames]="['form-control']" label="" [inputName]="'collectionDate'"
                [allowFutureDates]="false" name="collectionDate" [disable]="readonly"></date-field>
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.description.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.listAbstract"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <textarea [(ngModel)]="localeValue.value" name="'description-' + localeValue.locale" class="form-control"
                [disabled]="readonly" [required]="false"></textarea>
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.process.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.process"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <textarea [(ngModel)]="localeValue.value" name="'process-' + localeValue.locale" class="form-control"
                [disabled]="readonly" [required]="false"></textarea>
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.progress.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.progress"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="localeValue.value" [name]="'progress-' + localeValue.locale" type="text"
                class="form-control" [disabled]="readonly" [required]="false" />
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.accessConstraints.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.accessConstraints"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="localeValue.value" [name]="'accessConstraints-' + localeValue.locale" type="text"
                class="form-control" [disabled]="readonly" [required]="false" />
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.useConstraints.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.useConstraints"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="localeValue.value" [name]="'useConstraints-' + localeValue.locale" type="text"
                class="form-control" [disabled]="readonly" [required]="false" />
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.acknowledgements.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.acknowledgements"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <textarea [(ngModel)]="localeValue.value" name="'acknowledgements-' + localeValue.locale"
                class="form-control" [disabled]="readonly" [required]="false"></textarea>
        </div>
    </div>
    <div class="row-holder" *ngFor="let localeValue of metadata.disclaimer.localeValues">
        <div class="label-holder">
            <label>
                <localize key="masterlist.disclaimer"></localize>
                <span style="color: #BABABA">&nbsp;(<convert-key-label [key]="localeValue.locale">
                    </convert-key-label>)</span>
            </label>
        </div>
        <div class="holder">
            <textarea [(ngModel)]="localeValue.value" name="'disclaimer-' + localeValue.locale" class="form-control"
                [disabled]="readonly" [required]="false"></textarea>
        </div>
    </div>

    <div class="row-holder">
        <div class="label-holder"></div>
        <div class="holder">
            <localize key="masterlist.contact"></localize>
        </div>
    </div>

    <div class="row-holder">
        <div class="label-holder">
            <label>
                <localize key="masterlist.contactName"></localize>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="metadata.contactName" name="contactName" type="text" class="form-control"
                [disabled]="readonly" />
        </div>
    </div>
    <div class="row-holder">
        <div class="label-holder">
            <label>
                <localize key="masterlist.telephoneNumber"></localize>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="metadata.telephoneNumber" name="telephoneNumber" type="text" class="form-control"
                [disabled]="readonly" />
        </div>
    </div>
    <div class="row-holder">
        <div class="label-holder">
            <label>
                <localize key="masterlist.email"></localize>
            </label>
        </div>
        <div class="holder">
            <input [(ngModel)]="metadata.email" name="email" type="email" class="form-control" [disabled]="readonly" />
        </div>
    </div>

</ng-container>