/* Accounting for the height of the header bar + a margin at the bottom */
/* .new-admin-design-main {
    height: calc(100% - 88px);
} */

.cr-sort-arrow {
	font-size: 14px;
}

.cr-filter-link-active,
.cr-filter-link-active:active {
	/* border: solid 1px #6BA542; */
    border-radius: 10px;
    background: #6BA542;
    color: white;
    font-weight: bold;
    padding: 3px 15px 3px 15px;
}
.cr-filter-link-active:hover,
.cr-filter-link-active:focus {
	color:white;
}
