<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>
    <progress-bar *ngIf="isRefreshing"></progress-bar>

    <div *ngIf="list != null" id="app-container" class="container-fluid">
        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

        <div class="row">
            <div *ngIf="list" class="col-md-12">
                <h2>
                    {{list.displayLabel}}
                </h2>
            </div>
        </div>
        <div *ngIf="list" class="row">

            <div class="col-md-4">

                <h4>
                    <span *ngIf="!list.working">
                        <localize *ngIf="!list.working" key="list.type.version"></localize>&nbsp;{{list.versionNumber}}
                    </span>
                    <span *ngIf="list.working">
                        <localize key="list.type.working.version"></localize>
                    </span>
                </h4>

                <h4>
                    <localize key="masterlist.list.visibility"></localize> :
                    <span class="date-string-display">
                        <localize *ngIf="list.listMetadata.visibility === 'PUBLIC'" key="masterlist.public"></localize>
                        <localize *ngIf="list.listMetadata.visibility !== 'PUBLIC'" key="masterlist.private"></localize>
                    </span>
                </h4>

                <h4>
                    <localize key="masterlists.list.authoritativeness"></localize> :
                    <span class="date-string-display">
                        <localize *ngIf="list.listMetadata.master" key="list.type.master"></localize>
                        <localize *ngIf="!list.listMetadata.master" key="list.type.non.master"></localize>
                    </span>
                </h4>
            </div>
            <div class="col-md-8">
                <h4>
                    <localize key="masterlist.generatedDate"></localize>
                    : <span class="date-string-display">
                        <date-text [date]="list.publishDate"></date-text>
                    </span>
                </h4>

                <h4>
                    <localize key="masterlist.forDate"></localize>
                    : <span class="date-string-display">
                        <ng-container *ngIf="list.period.type === 'text'">
                            {{list.period.value}}
                        </ng-container>
                        <ng-container *ngIf="list.period.type === 'date'">
                            <date-text [date]="list.period.value"></date-text>
                        </ng-container>
                        <ng-container *ngIf="list.period.type === 'range'">
                            <date-text [date]="list.period.value.startDate"></date-text>
                            -
                            <date-text [date]="list.period.value.endDate"></date-text>
                        </ng-container>
                    </span>
                </h4>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-4">
                <div *ngIf="list.working && (isRM || isRA || isSRA)" class="button-holder pull-left">
                    <button type="submit" class="btn btn-primary" role="button" (click)="onRunCuration()"
                        style="margin-left:0;">
                        <localize key="list.type.run.curation"></localize>
                    </button>
                    <span
                        style="vertical-align:middle;display:inline-block;font-style: italic;margin-left: 5px;color: grey;">
                        <span *ngIf="list.curation.lastRun == null" class="date-string-display">
                            <localize key="list.type.run.na"></localize>
                        </span>
                        <a *ngIf="list.curation.lastRun != null" [routerLink]="['/registry/curation-job', list.oid]"
                            routerLinkActive="active">
                            <localize key="list.type.last.validation.date"></localize>
                            <date-text [date]="list.curation.lastRun"></date-text>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="button-holder pull-right">

                    <span *ngIf="isWritable" class="clickable"
                        style="vertical-align:middle;display:inline-block;line-height:0;">
                        <boolean-field [(value)]="showInvalid" (change)="handleShowInvalidChange()"
                            [localizeLabelKey]="'masterlist.showInvalid'"></boolean-field>
                    </span>

                    <span *ngIf="list.working" class="clickable" (click)="onPublish()" style="padding: 10px;">
                        <i [ngClass]="{'fa fa-refresh clickable':true}"
                            style="font-size: 24px;vertical-align: middle;padding-right: 5px;" aria-hidden="true"></i>
                        <localize key="masterlist.publish"></localize>
                    </span>

                    <button *ngIf="list.isMember || list.geospatialMetadata.visibility === 'PUBLIC'" type="submit"
                        (click)="onGotoMap(null)" class="btn btn-primary" role="button">
                        <localize key="masterlist.viewOnMap"></localize>
                    </button>

                    <button *ngIf="list.working && isWritable && !list.isAbstract" type="submit"
                        (click)="onNewGeoObject()" class="btn btn-primary" role="button">
                        <localize key="masterlist.newGeoObject"></localize>
                    </button>

                    <span dropdown #dropdown="bs-dropdown" class="dropdown" *ngIf="list.working && isWritable && list.isAbstract">
                        <button dropdownToggle class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <localize key="masterlist.newGeoObject"></localize>
                            <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
<!--                             <li> -->
<!--                                 <localize style="padding-left:10px;" key="masterlist.newGeoObject.selectASubtype"> -->
<!--                                 </localize> -->
<!--                             </li> -->
<!--                             <li role="separator" class="divider"></li> -->
                            <li *ngFor="let subtype of list.subtypes"><a
                                    (click)="onNewGeoObject(subtype.code)">{{subtype.label}}</a></li>
                        </ul>
                    </span>

                    <button *ngIf="list.listMetadata.visibility === 'PUBLIC' || list.geospatialMetadata.visibility === 'PUBLIC' || isListInOrg() || isSRA"
                     type="submit" (click)="onExport()" class="btn btn-primary" role="button">
                        <localize *ngIf="filters == null" key="io.export.allrows"></localize>
                        <localize *ngIf="filters != null" key="io.export.filteredrows"></localize>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="list" class="col-md-12" style="max-height:calc(100vh - 460px); min-height:calc(100vh - 460px);">

                <ng-container *ngIf="setup != null && config != null">
                    <generic-table [setup]="setup" [config]="config" [refresh]="refresh"
                        [pageConfig]="{oid: list.oid, showInvalid: showInvalid}" (click)="onClick($event)"
                        (onLoadEvent)="onLoadEvent($event)" [initialState]="tableState"></generic-table>
                </ng-container>

            </div>
        </div>
    </div>
</div>