<ng-container>

    <div class="heading">
        <h2>
            {{list.displayLabel.localizedValue}}
        </h2>
    </div>

    <div class="row" *ngIf="list.listType === 'single'">
        <div class="col-md-12">
            Valid On: {{list.validOn}}
        </div>
    </div>

    <div *ngFor="let entry of list.entries" class="row" style="margin-bottom: 5px;">
        <div class="col-md-10" style="background-color: #CFCAD6; padding: 3px;">
            <div class="row">
                <div class="col-md-9">
                    {{entry.period}}
                </div>
            </div>

            <div *ngIf="list.write" style="margin-top: 30px; margin-bottom: 30px;" class="row">
                <div class="col-md-6">
                    <div>
                        <button type="submit" (click)="onCreate(entry)" class="btn btn-primary" role="button">
                            New Version
                        </button>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="entry.current != null">
                <ng-container *ngIf="entry.versions == null">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-9" style="vertical-align: middle;">

                            <span class="clickable" (click)="entry.collapsed = !entry.collapsed"
                                [attr.aria-expanded]="!entry.collapsed"><i class="fa fa-minus"></i>
                            </span>
                            <a [routerLink]="'/registry/master-list/' + entry.current.oid" routerLinkActive="active">
                                Version {{entry.current.versionNumber}}
                            </a>
                        </div>
                        <div class="col-md-3" style="text-align: right;">
                            <button type="submit" (click)="onEdit(entry, entry.current)" class="btn btn-default" role="button">
                                <localize key="masterlist.button.metadata"></localize>
                            </button>
                            <button *ngIf="list.write" type="submit" (click)="onDelete(entry, entry.current)"
                                class="btn btn-danger" role="button">
                                <localize key="modal.button.delete"></localize>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;" [collapse]="!entry.collapsed">
                        <ul>
                            <li>Date Generated: {{entry.current.createDate}}</li>
                            <li>Last update: {{entry.current.publishDate}}</li>
                            <li>Visibility: </li>
                            <li>Authoratativeness: </li>
                        </ul>
                    </div>
                </ng-container>
                <ng-container *ngIf="entry.versions != null">
                    <ng-container *ngFor="let version of entry.versions">

                        <div class="row">
                            <div class="col-md-9">
                                <span class="clickable" (click)="version.collapsed = !version.collapsed"
                                    [attr.aria-expanded]="!version.collapsed"><i class="fa fa-minus"></i>
                                </span>
                                <a [routerLink]="'/registry/master-list/' + version.oid" routerLinkActive="active">
                                    Version {{version.versionNumber}}
                                </a>
                            </div>
                            <div class="col-md-3" style="text-align: right;">
                                <button type="submit" (click)="onEdit(entry, version)" class="btn btn-default" role="button">
                                    <localize key="masterlist.button.metadata"></localize>
                                </button>
                                <button *ngIf="list.write" type="submit" (click)="onDelete(entry, version)"
                                    class="btn btn-danger" role="button">
                                    <localize key="modal.button.delete"></localize>
                                </button>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;" [collapse]="!version.collapsed">
                            <ul>
                                <li>Date Generated: {{entry.current.createDate}}</li>
                                <li>Last update: {{entry.current.publishDate}}</li>
                                <li>Visibility: </li>
                                <li>Authoratativeness: </li>
                            </ul>
                        </div>

                    </ng-container>
                </ng-container>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-9" style="vertical-align: middle;">
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                        <button type="submit" (click)="toggleVersions(entry)" class="btn btn-primary" role="button">
                            See/hide previous versions
                        </button>
                    </div>
                </div>

            </ng-container>
            <div class="row" *ngIf="entry.current == null">
                <div class="col-md-12">
                    No Versions
                </div>
            </div>
        </div>
    </div>

</ng-container>