.version-busy-overlay
{
	height:100%;
	width:100%;
	background-color: #CCCCCC;
  position: absolute;
  display: block;
  opacity: 0.8;
  z-index: 99999 !important;
}

:host::ng-deep input {
    width: 100%;
}

:host::ng-deep .p-corner-all {
    border-radius: 5px;
    border: 1px solid;
    border-color: #767676;
    border-color: var(--theme-input-text-border);
}

:host::ng-deep .p-inputtext:enabled:focus:not(.-state-error) {
    border-color: #6BA542;
    border-color: var(--theme-input-text-border-active);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(107 165 66 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(107 165 66 / 60%);
}

:host::ng-deep .p-datatable .p-sortable-column.p-highlight {
    background: #6BA542;
}

:host::ng-deep .p-datatable .p-sortable-column:focus {
    -webkit-box-shadow: inset 0 0 0 0.2em #6BA542;
    -moz-box-shadow: inset 0 0 0 0.2em #6BA542;
    box-shadow: inset 0 0 0 0.2em #6BA542;
}

:host::ng-deep .p-datatable {
    height: calc(100vh - 295px);
}

:host::ng-deep .p-datatable .p-datatable-wrapper {
	height: 100%;
}

:host::ng-deep .p-datatable-table .p-datatable-scrollable-wrapper {
	height: 100%;
}