<div class="modal-body">

    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && handleOnSubmit()">
        <div class="">
            <div class="">
                <div *ngIf="message" class="row-holder">
                    <div class="label-holder"></div>
                    <div class="holder" style="border-left: solid 1px #8c0000;">
                        <error-message [message]="message"></error-message>
                    </div>
                </div>
            
                <div class="heading">
                    <h1>
                        <localize key="hierarchy.management.edit.attribute.title"></localize>: {{attribute.label.localizedValue}}
                    </h1>
                </div>
                
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 20px;">
                    <h4 class="sub-title" *ngIf="attribute.type === 'character'"><localize key="hierarchy.management.edit.attribute.subtitle"></localize>: <localize key="data.type.label.text"></localize></h4>
                    <h4 class="sub-title" *ngIf="attribute.type === 'integer'"><localize key="hierarchy.management.edit.attribute.subtitle"></localize>: <localize key="data.type.label.integer"></localize></h4>
                    <h4 class="sub-title" *ngIf="attribute.type === 'float'"><localize key="hierarchy.management.edit.attribute.subtitle"></localize>: <localize key="data.type.label.float"></localize></h4>
                    <h4 class="sub-title" *ngIf="attribute.type === 'boolean'"><localize key="hierarchy.management.edit.attribute.subtitle"></localize>: <localize key="data.type.label.boolean"></localize></h4>
                    <h4 class="sub-title" *ngIf="attribute.type === 'date'"><localize key="hierarchy.management.edit.attribute.subtitle"></localize>: <localize key="data.type.label.date"></localize></h4>
                    <h4 class="sub-title" *ngIf="attribute.type === 'term'"><localize key="hierarchy.management.edit.attribute.subtitle"></localize>: <localize key="data.type.label.term"></localize></h4>
                    </div>
                </div>
                

                <fieldset>

                    <attribute-input [disableCodeField]="true" [excludeDescription]="attribute.type === 'term' ? true : false" [isDecimal]="attribute.type === 'float' ? true : false" [(attribute)]="attribute"></attribute-input>

                    <!-- *ngIf="attribute.type === 'term' && isFormValid()" -->
                    <term-option-widget *ngIf="attribute.type === 'term' && isFormValid()" [(attribute)]="attribute" [geoObjectType]="geoObjectType"></term-option-widget>

                    <div class="row">
                        <div class="col-md-12">
                        <!-- <div class="label-holder"> 
                        </div> -->
                        <!-- <div class="holder"> -->
                            <div class="button-holder">
                                <button type="button" class="btn btn-default" (click)="cancel()">
                                    <localize key="modal.button.cancel"></localize>
                                </button>
                                <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">
                                    <localize key="modal.button.submit"></localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    

</div>
