
<div class="modal-body" *ngIf="modalState.state === 'MANAGE-GEO-OBJECT-TYPE'">
    <error-message [message]="message"></error-message>

    <form #form="ngForm" *ngIf="editGeoObjectType" class="modal-form" (ngSubmit)="form.valid">
        <div class="heading">
            <h1>
                <localize key="hierarchy.management.manage.editGeoObjectType.title"></localize>
                {{editGeoObjectType.label.localizedValue}}
            </h1>
        </div>
        <fieldset>
            <div class="row-holder">
                <div class="label-holder">
                    <label><localize key="data.property.label.code"></localize></label>
                </div>
                <div class="holder">
                    <span class="text"> <input type="text" [(ngModel)]="editGeoObjectType.code" name="code" disabled required>
                    </span>
                </div>
            </div>

            <localized-input [(value)]="editGeoObjectType.label" key="data.property.label.label"></localized-input>
            <localized-text [(value)]="editGeoObjectType.description" key="data.property.label.description"></localized-text>

            <div class="row-holder">
                <div class="label-holder">
                    <label><localize key="data.property.label.geometryType"></localize></label>
                </div>
                <div class="holder">
                    <select name="geometryType" [(ngModel)]="editGeoObjectType.geometryType" disabled>
                        <option></option>
                        <option value="POINT"><localize key="georegistry.geometry.point"></localize></option>
                        <option value="LINE"><localize key="georegistry.geometry.line"></localize></option>
                        <option value="POLYGON"><localize key="georegistry.geometry.polygon"></localize></option>
                        <option value="MULTIPOINT"><localize key="georegistry.geometry.multipoint"></localize></option>
                        <option value="MULTILINE"><localize key="georegistry.geometry.multiline"></localize></option>
                        <option value="MULTIPOLYGON"><localize key="georegistry.geometry.multipolygon"></localize></option>
                    </select>
                </div>
            </div>


            <div class="row-holder">
                <div class="label-holder">
                    <label><localize key="hierarchy.management.option.label.isGeometryEditable"></localize></label>
                </div>
                <div class="holder">
                    <div (click)="toggleIsGeometryEditable()" [ngClass]="{'chk-checked' : editGeoObjectType.isGeometryEditable}" style="margin: 0;" class="jcf-unselectable chk-area">
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="row-holder">
                <div class="label-holder">
                    <label><localize key="hierarchy.management.manage.attributes.label.displayAttributes"></localize></label>
                </div>
                <div class="holder">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="list-group list-group-flush">
                                <li *ngFor="let attr of editGeoObjectType.attributes" class="list-group-item">{{attr.label.localizedValue}}</li>
                            </ul>

                            <button type="button" class="btn btn-primary full-width" (click)="manageAttributes()">
                                <localize key="modal.button.manageAttributes"></localize>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-holder">
                    <div class="button-holder">
                        <button type="button" class="btn btn-default" (click)="close()">
                            <localize key="modal.button.cancel"></localize>
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="update()">
                            <localize key="modal.button.submit"></localize>
                        </button>
                    </div>
                </div>
        </fieldset>
    </form>
</div>

<!-- </form> -->
