
<div *ngIf="!isLoading && !showImportConfig && externalSystems.length > 0">
  <div>
    <div class="row">

        <div class="col-xs-1"></div>
        <div class="col-xs-9 radio-btn-wrapper">

            <label class="radio">
                <input type="checkbox" [value]="true" [checked]="!isExternal" (change)="setImportSource($event, 'FILE')" name="import-source">
                <span [ngClass]="{'active' : !isExternal}">
                    <localize key="importer.import.from-file.label"></localize>
                </span>
                <p class="radio-label-description">
                    <localize key="importer.import.from-file.description"></localize>
                </p>
            </label>
            
            <label class="radio">
                <input type="checkbox" [value]="false" [checked]="isExternal" (change)="setImportSource($event, 'EXTERNAL')" name="import-source">
                <span [ngClass]="{'active' : isExternal}">
                    <localize key="importer.import.from-external.label"></localize>
                </span>
                <p class="radio-label-description">
                    <localize key="importer.import.from-external.description"></localize>
                </p>
            </label>

            <div class="button-holder">
                <button type="submit" class="btn btn-primary" (click)="onNext()">
                    <localize key="io.next"></localize>
                </button>
            </div>
        </div>
        <div class="col-xs-2"></div>
	  </div>
  </div>
</div>

<div *ngIf="!isLoading && isExternal !== null && showImportConfig">
    <div >
        <form #form="ngForm" autocomplete="off">
            <div *ngIf="isExternal" class="form-group row">
                <label class="col-md-2 text-right" for="externalSystem">
                    <localize key="io.import.externalSystems"></localize>
                </label>
                <div class="col-md-8">
                    <select id="externalSystem" name="externalSystem" class="select-area" [(ngModel)]="externalSystemId" required>
                        <option *ngFor="let externalSystem of externalSystems" value={{externalSystem.oid}}>{{externalSystem.label.localizedValue}}</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row" *ngIf="hierarchyViews">
                <label class="col-md-2 text-right" for="hierarchyCode"> <localize key="io.modal.hierarchy"></localize></label>
                <div class="col-md-8">
                    <select id="hierarchyCode" name="hierarchyCode" class="select-area" [(ngModel)]="hierarchyCode" (change)="onSelectHierarchy()" required>
                        <option></option>
                        <option *ngFor="let view of hierarchyViews" value={{view.code}}>{{view.label}}</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row" *ngIf="types">
                <label class="col-md-2 text-right" for="code"> <localize key="io.geoObjectType"></localize></label>
                <div class="col-md-8">
                    <select id="code" name="code" class="select-area" [(ngModel)]="code" (change)="checkDates()" required>
                        <option></option>
                        <option *ngFor="let type of types" value={{type.code}}>{{type.label}}</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 text-right" for="strategy">
                    <localize *ngIf="this.format === 'EXCEL'" key="spreadsheet.import.import.strategy"></localize>
                    <localize *ngIf="this.format === 'SHAPEFILE'" key="shapefile.import.import.strategy"></localize>
                </label>
                <div class="col-md-8">
                    <select id="strategy" name="strategy" class="select-area" [(ngModel)]="importStrategy" (change)="checkDates()" required>
                        <option *ngFor="let strategy of importStrategies" value={{strategy.strategy}}>{{strategy.label}}</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 text-right" for="startDate"><localize key="io.startDate"></localize></label>
                <div class="col-md-8">
                  <date-field #dateFieldComponents [(value)]="startDate" label="" [inputName]="'startDate'" (change)="checkDates()" [allowFutureDates]="false"></date-field>
                </div>
                
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 text-right" for="endDate"><localize key="io.endDate"></localize></label>
                <div class="col-md-8">
                  <date-field #dateFieldComponents [(value)]="endDate" label="" [inputName]="'endDate'" (change)="checkDates()" [allowInfinity]="true" [allowFutureDates]="true" [required]="true" ></date-field>
                </div>
                                      
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                
                <label class="col-md-2 text-right" for="copyBlank"><localize key="dataimporter.importblankcells"></localize></label>
                <div class="col-md-8">
                   <boolean-field [(value)]="copyBlank" label=""></boolean-field>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 text-right" for="file">
                    <localize *ngIf="this.format === 'EXCEL'" key="io.spreadsheet"></localize>
                    <localize *ngIf="this.format === 'SHAPEFILE'" key="io.shapefile"></localize>
                </label>
                <div class="col-md-8">
                    <input *ngIf="this.format === 'EXCEL'" class="ghost-input" #myFile name="file" type="file" ng2FileSelect
                        [uploader]="uploader" accept=".xls, .xlsx" required />
                    <input *ngIf="this.format === 'SHAPEFILE'" class="ghost-input" #myFile name="file" type="file" ng2FileSelect
                        [uploader]="uploader" accept=".zip" required />
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="button-holder col-md-8 text-right">
<!--                     <button type="submit" class="btn btn-default" (click)="onBack()"> -->
<!--                         <localize key="io.back"></localize> -->
<!--                     </button> -->
                    <button type="submit" class="btn btn-primary" [disabled]="!isValid || form.invalid" (click)="onClick()">
                        <localize key="io.submit"></localize>
                    </button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>
    </div>
</div>
