<div class="crtable-detail-container">
    <div class="heading text-center">
      <h1 class="action-detail-header">{{action.actionLabel}}</h1>
    </div>
    
    <div class="detail-content">
        <div>
          <localize key="changeOverTime.forDate"></localize>
          <input type="date" [(ngModel)]="dateStr" (change)="handleDateChange()" name="dateStr" />
        </div>    
        
        <tree-geo-selector *ngFor="let hierarchy of hierarchies" [forDate]="forDate" [hierarchy]="hierarchy" [readOnly]="true" (onManageVersion)="onManageVersions($event)"> </tree-geo-selector>
            
        <div>
            <label class="detail-label">
                <localize key="change.request.status"></localize> :
            </label>
            <select [disabled]="readOnly" style="float:none;" [ngClass]="{'status-rejected': action.approvalStatus === 'REJECTED', 'status-accepted': action.approvalStatus === 'ACCEPTED', 'status-pending': action.approvalStatus === 'PENDING'}" [(ngModel)]="action.approvalStatus">
                <option value="REJECTED">
                    <localize key="change.request.status.rejected"></localize>
                </option>
                <option value="ACCEPTED">
                    <localize key="change.request.status.accepted"></localize>
                </option>
                <option value="PENDING">
                    <localize key="change.request.status.pending"></localize>
                </option>
            </select>
        </div>

        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.contributorNotes"></localize> :
            </label>
            <textarea [disabled]="readOnly" style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.contributorNotes"></textarea>
        </div>

        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.maintainerNotes"></localize> :
            </label>
            <textarea [disabled]="readOnly" style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.maintainerNotes"></textarea>
        </div>

        <div class="button-holder">
          <button *ngIf="readOnly" (click)="startEdit()" class="btn btn-primary detail-accept">
            <localize key="modal.button.edit"></localize>
          </button>
          <button *ngIf="!readOnly" (click)="applyAction()" class="btn btn-primary detail-accept">
            <localize key="modal.button.submit"></localize>
          </button>
          <button *ngIf="!readOnly" (click)="endEdit()" class="btn btn-default detail-reject">
            <localize key="modal.button.cancel"></localize>
          </button>
        </div>
    </div>
</div>