<div class="crtable-detail-container">
    <div class="heading text-center">
      <h1 class="action-detail-header">{{action.actionLabel}}</h1>
    </div>
    
    <div class="detail-content">
        <tree-geo-selector *ngFor="let hierarchy of hierarchies" [forDate]="forDate" [hierarchy]="hierarchy" [readOnly]="!isEditing" (onManageVersion)="onManageVersions($event)"> </tree-geo-selector>
            
        <div>
            <label class="detail-label">
                <localize key="change.request.action.detail.contributorNotes"></localize> :
            </label>
            <textarea style="width: 100%;border-radius: 8px;height: 70px;" class="detail-value" [(ngModel)]="action.contributorNotes" [disabled]="readOnly || !isEditing"></textarea>
        </div>

        <div class="button-holder text-right" style="margin:40px 0 20px 0;">
          <button *ngIf="!readOnly && !isEditing" (click)="startEdit()" class="btn btn-primary detail-accept">
            <localize key="modal.button.edit"></localize>
          </button>
          <button *ngIf="!readOnly && isEditing" (click)="endEdit()" class="btn btn-default detail-reject">
            <localize key="modal.button.cancel"></localize>
          </button>
          <button *ngIf="!readOnly && isEditing" (click)="applyAction()" class="btn btn-primary detail-accept">
            <localize key="modal.button.submit"></localize>
          </button>
        </div>
    </div>
</div>