
<div>
  <div *ngIf="message" class="message-container">
    <div class="label-holder">
      <strong><localize key='dashboard.messagesLabel'></localize></strong>
    </div>
    <div class="holder">
      <div>
        <p class="message">{{message}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="error-container">
    <div class="label-holder">
      <strong><localize key='dashboard.errorsLabel'></localize></strong>
    </div>
    <div class="holder">
      <div>
        <p class="error-message" *ngIf="error.localizedMessage">{{error.localizedMessage}}</p>
        <p class="error-message" *ngIf="!error.localizedMessage"><localize key='error.generic'></localize></p>
      </div>
    </div>
  </div>
</div>
