<div *ngIf="request != null" class="row text-center">
  <h1>{{request.createDate}}</h1>
</div>
<div class="row">
  <!-- <div class="col-sm-1"></div> -->
  <div class="col-sm-7 col-md-6">
    <div class="row">
      <ngx-datatable class="crtable-ngx bootstrap"
        [rows]="rows | async"
        [columns]="columns"
        [columnMode]="'standard'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="40"
        [limit]="5"
        [selected]="selected"
        [loadingIndicator]="loading"
        [selectionType]="'single'"
        (select)='onSelect($event)'>
      </ngx-datatable>        
    </div>
    <div class="row">
      <button type="submit" (click)="onBack()" class="btn btn-primary" role="button">
        <localize key="change.request.back"></localize>
      </button>
    </div>    
  </div>
  <!-- <div class="col-sm-5"></div> -->
  <div class="col-sm-5 col-md-6">
    <crtable-detail-create-geo-object #cuDetail *ngIf="action != null && (action.actionType.endsWith('CreateGeoObjectAction') || action.actionType.endsWith('UpdateGeoObjectAction'))" [(action)]="action" [crtable]="this"> </crtable-detail-create-geo-object>
    <crtable-detail-add-remove-child #arDetail *ngIf="action != null && (action.actionType.endsWith('AddChildAction') || action.actionType.endsWith('RemoveChildAction'))" [(action)]="action" [crtable]="this"> </crtable-detail-add-remove-child>
  </div>
</div>
