<div class="row text-center">
  <h1><localize key="change.request.title"></localize></h1>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="row">
      <ngx-datatable class="crtable-ngx bootstrap" [rows]="rows | async" [columns]="columns" [columnMode]="'standard'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="40" [limit]="5" [loadingIndicator]="loading" [selectionType]="'single'" (select)='onSelect($event)'> </ngx-datatable>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div *ngIf="request != null" class="col-sm-4">
    <div class="form-group row">
      <h3>{{request.createDate}}</h3>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">
        <localize key="change.request.user"></localize>
      </label>
      <div class="col-sm-10">{{request.createdBy}}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">
        <localize key="change.request.status"></localize>
      </label>
      <div class="col-sm-10">{{request.approvalStatus}}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">
        <localize key="change.request.total"></localize>
      </label>
      <div class="col-sm-10">{{request.total}}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">
        <localize key="change.request.pending"></localize>
      </label>
      <div class="col-sm-2">{{request.pending}}</div>
      <div class="col-sm-6 text-left">
        <a (click)="onClick($event)"><localize key="change.request.link"></localize></a>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-10">
        <button type="submit" (click)="onExecute()" class="btn btn-primary" role="button" [disabled]="request.pending > 0">
          <localize key="change.request.execute"></localize>
        </button>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-10">
        <button type="submit" (click)="onApproveAll()" class="btn btn-primary" role="button">
          <localize key="change.request.approveAll"></localize>
        </button>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-10">
        <button type="submit" (click)="onRejectAll()" class="btn btn-primary" role="button">
          <localize key="change.request.rejectAll"></localize>
        </button>
      </div>
    </div>
  </div>
</div>
