<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>

    <div id="app-container" class="container" style="overflow: auto; max-height: 80vh;">

        <div class="py-5 text-center">
            <h2>
                <localize key="change.request.page.title"></localize>
            </h2>
            <p class="lead">
                <localize key="change.request.page.description"></localize>
            </p>
        </div>
        
        <div class="modal-body">
            <change-request></change-request>
        </div>

    </div>
</div>
