<div class="new-admin-design-main" style="overflow-y:hidden;">

	<div id="app-container" style="height:100%; width:100%;" class="container-fluid">

		<h2> <localize key="relationshipVisualizer.title"></localize> </h2>
		<div *ngIf="relationships" style="height:100%; width:100%;" class="row">

      <div style="padding-top:10px;" class="form-group row">
          <label style="padding-top:8px;" class="col-md-2 text-right" for="relationshipId"> <localize key="io.modal.hierarchy"></localize></label>
          
          <div class="col-md-8">
              <select id="relationshipId" name="relationshipId" class="select-area" [(ngModel)]="mdEdgeOid" (change)="onSelectRelationship()" required>
                  <option *ngFor="let relationship of relationships" value={{relationship.oid}}>{{relationship.label.localizedValue}}</option>
              </select>
          </div>
          <div class="col-md-2"></div>
      </div>

			<div class="hierarchy-content" style="height:100%; width:100%;">
				<div id="graph-container" style="height:100%; width:100%;">
          <ngx-graph *ngIf="data"
            class="chart-container"
            [view]="[width, height]"
            [links]="data.edges"
            [nodes]="data.verticies"
            [layout]="layout"
            [layoutSettings]="{orientation: 'TB'}"
            [curve]="curve"
            [draggingEnabled]="false"
            [panToNode$]="panToNode$"
            [update$]="update$"
          >
            <ng-template #defsTemplate>
					    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
					      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
					    </svg:marker>
					  </ng-template>
            <ng-template #nodeTemplate let-node>
					    <svg:g (click)="onClickNode(node)" class="node">
					      <svg:rect
					        [attr.width]="node.dimension.width"
					        [attr.height]="node.dimension.height"
					        [attr.fill]="geoObject == null ? node.data.color : (('g-' + geoObject.properties.uid) === node.id ? '#4287f5' : 'gray')"
					      />
					      
					      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                  {{node.label}}
                </svg:text>
					    </svg:g>
					  </ng-template>
					  <ng-template #linkTemplate let-link>
					    <svg:g class="edge">
					      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
					    </svg:g>
					  </ng-template>
          </ngx-graph>
				</div>
			</div>
		</div>
	</div>

</div>
