#relationship-visualizer-root-node {
	border-radius:4px;
/* 	position: absolute; */
}

.visualize-mode-hierarchy {
  color: black;
}

.legend {
	  position: absolute;
	  padding: 10px;
      bottom: 0;
}

.legend .legend-item {
	  display: table;
}

.legend .square {
	  width: 25px;
	  height: 25px;
	  margin-right: 5px;
	  float: left;
}

.legend label {
	  float: left;
	  line-height: 25px;
	  height: 25px;
}

.map-button {
    background-color: white;
    margin-top:150px;
    z-index:1001;
    border-radius: 4px;
    padding: 8px;
    width: 46px; /* IE fallback */
    width: fit-content;
}
.map-button-icon {
    font-size:23px;
    text-align: center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.map-button-icon > span.glyphicon {
    line-height: 30px;
}

:host::ng-deep .graph .panning-rect {
	cursor: grab;
}

