

.submit-form input[type="reset"],
.submit-form input[type="submit"]{
	float:left;
	width:77px;
	height:28px;
	margin:0 10px 0 0;
	padding:2px 10px;
	text-align:center;
}
.submit-form input[type="reset"]:hover,
.submit-form input[type="submit"]:hover{cursor:pointer;}
.bottom-bar .brand{
	float:right;
	margin:15px 0 0 10px;
}

/*
* Standard list table input
*/
.list-table input[readonly] {
	float: left;
    height: 32px;
    margin: 0 11px 0 0;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #7b7b7b;
    border: 1px solid #ddd;
    background: #eeeeee;
    outline: none;
}



/* 
 *
 * Inputs 
 *
 */
input,
form input.form-control {
  height:40px;
/*      margin:0 11px 0 0; */
  padding:6px 10px;
  font-size:14px;
  line-height:18px;
  color:#333;
  border:1px solid;
  border-color: #767676; /* IE fallback */
  border-color: var(--theme-input-text-border);
  border-radius: 5px;
  background:white;
  background-color: white;
  outline:none;
  box-shadow:none;
}
textarea.form-control {
  border:1px solid;
  border-color: #767676; /* IE fallback */
  border-color: var(--theme-input-text-border);
  border-radius: 5px;
}

input:focus,
input.form-control:focus,
textarea:focus,
textarea.form-control:focus,
input:active,
textarea:active
input.form-control:active{
    border-color: #6BA542; /* IE fallback */
    border-color: var(--theme-input-text-border-active);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(107, 165, 66,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(107, 165, 66,.6); 
}

input[disabled]:focus,
input.form-control:focus,
textarea:focus,
textarea.form-control:focus,
input:active,
textarea:active
input.form-control:active{
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}



input.ng-invalid:focus,
textarea.ng-invalid:focus,
input.form-control.ng-invalid:focus,
input.ng-invalid:active,
textarea.ng-invalid:active
input.form-control.ng-invalid:active{
    border-color: #6BA542; /* IE fallback */
    border-color: var(--theme-input-text-border-active);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(165, 66, 66,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(165, 66, 66,.6); 
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    color:#969696;
    cursor: not-allowed;
}

input[type="text"] {
	width:100%;
	margin:0;
    color:#969696;
}

input[readonly],
input[disabled].form-control,
input[readonly].form-control,
input[type="text"][disabled],
input[type="text"][readonly],
input[type="textarea"][disabled],
input[type="number"][disabled],
input[type="number"][readonly],
input[type="email"][disabled],
select[disabled],
input[disabled]:focus,
input[readonly]:focus,
input[type="text"]:-ms-input-placeholder,
input[type="textarea"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
select[disabled]:-ms-input-placeholder {
    color:#333;
    background-color: white;
}

input[type="text"]::-webkit-input-placeholder,
input[type="textarea"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
select[disabled]::-webkit-input-placeholder,
input[type="text"]:-moz-placeholder,
input[type="textarea"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
select[disabled]:-moz-placeholder {
    color:#333;
}

input[type="text"]:-moz-placeholder,
input[type="textarea"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
select[disabled]:-moz-placeholder {
    color:#333;
}

input[type="text"]:disabled,
input[type="textarea"]:disabled,
input[type="number"]:disabled,
input[type="number"]:readonly,
input[type="date"]:disabled,
input[type="email"]:disabled,
select[disabled]:disabled,
input[type="text"]:disabled:-webkit-autofill,
input[type="text"]:disabled:-webkit-autofill:hover, 
input[type="text"]:disabled:-webkit-autofill:focus {
    color: #999 !important;
	-webkit-text-fill-color: #999;
    box-shadow: none;
    border-color: #ccc;
    border-color: var(--theme-input-text-border-disabled);
    background-color: white;
}
input[disabled]:hover,
select[disabled]:hover {
	cursor: not-allowed;
}

//input[type="date"]:hover {
//	cursor: pointer;
//}

input[type=search] {
	background-color: white !important;
}
input[type=search][disabled]:disabled {
	color: #999 !important;
}


input[type="textarea"]{
	width:100%;
	padding:5px 10px;
	float:left;
	word-wrap: break-word;
    word-break: break-word;
    height: 150px;
    overflow-y: scroll;
    resize: none;
    max-height: 150px;
    border-radius: 5px;
}
.modal-form .text input[type="textarea"]::-moz-placeholder{
	color:#333;
	opacity:1;
}
.modal-form .text input[type="textarea"]:-ms-input-placeholder{color:#333;}
.modal-form .text input[type="textarea"]::-webkit-input-placeholder{color:#333;}
.modal-form .text input[type="textarea"]:-moz-placeholder{color:#333;}
.modal-form .text input[type="textarea"]:focus{border-color:#6BA542;}
.modal-form .text input[type="textarea"]:disabled {
    color: #999;
}

textarea:focus {
	border-color: #6BA542; /* IE fallback */
    border-color: var(--theme-input-text-border-active);
    outline: 0;
}




.modal-body .form-group select {
  float: none !important;
}


// used for file upload input buttons
input.ghost-input,
input.ghost-input:hover,
input.ghost-input:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

input.ng-invalid:required,
select.ng-invalid:required,
textarea.ng-invalid:required {
    border-color: #ac2925;
    /*
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(172,41,37,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(172,41,37,.6); 
    */
}

.error-container{
    text-align: center;
}

.error-message {
    color: #e30000; /* IE fallback */
    color: var(--theme-alert-color);
    font-size: 14px;
    margin: 5px 0 0 0;
}
.warning-message {
    color: orange;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.error-border {
    border-color: #e30000;
    border-style: solid;
    border-width: 2px;
}
.warning-border {
    border-color: orange;
    border-style: solid;
    border-width: 2px;
}

input.inline-loading {    
    background-color: #ffffff;
	background-image: url('../images/loading_spinner_splitring.gif');
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}
