@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

// *{
//   font-family: var(--font-family-default);
// }
// h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
//   font-family: var(--font-family-default);
// }

.node-content-wrapper, .tree-children {
  position: relative;
  font-size: 18px;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}

.node-content-wrapper{
  //background-color: lightgrey;
}
.node-content-wrapper:hover {
    background: #f2f2f2;
}
.node-content-wrapper-focused {
    background: lightgrey;
}

.tree-children {
    padding-left: 29px !important;
}

tree-node-expander{
  display: none !important;
}

tree-loading-component {
  display:none; // hack to remove loading html
  }
