@import '~angular-tree-component/dist/angular-tree-component.css';

.node-content-wrapper, .tree-children {
  position: relative;
  font-size: 18px;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}




.node-content-wrapper{
  //background-color: lightgrey;
}
.node-content-wrapper:hover {
    background: #f2f2f2;
}
.node-content-wrapper-focused {
    background: lightgrey;
}

.tree-children {
    padding-left: 29px !important;
}

tree-node-expander{
  display: none !important;
}

tree-loading-component {
  display:none; // hack to remove loading html
  }


.dropdown-menu {
  font-size: 18px;
}


li.list-group-item.draggable:hover{
  cursor: grab;
}
li.list-group-item {
  font-size: 18px;
}
li.list-group-item:hover {
  background: #f2f2f2; 
  cursor: pointer;
}
li.list-group-item.active {
  background: #f2f2f2; 
}

i.fa.fa-sitemap{
  font-size: 20px;
  margin-right: 10px;
}
i.fa.fa-sitemap:hover{
  color:  #bababa;
}