@import '~angular-tree-component/dist/angular-tree-component.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.ngx-datatable.bootstrap .datatable-footer .datatable-pager li:not(.disabled) a {
	color: black;
}


.node-content-wrapper, .tree-children {
  position: relative;
  font-size: 18px;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}




.node-content-wrapper{
  //background-color: lightgrey;
}
.node-content-wrapper:hover {
    background: #f2f2f2;
}
.node-content-wrapper-focused {
    background: lightgrey;
}

.tree-children {
    padding-left: 29px !important;
}

tree-node-expander{
  display: none !important;
}

tree-loading-component {
  display:none; // hack to remove loading html
  }


.dropdown-menu {
  font-size: 18px;
}


li.list-group-item.draggable:hover{
  cursor: grab;
}
li.list-group-item {
  font-size: 18px;
}
li.list-group-item.clickable:hover {
  background: #f2f2f2; 
  cursor: pointer;
}
li.list-group-item.active {
  background: #f2f2f2; 
}

i.fa.fa-sitemap{
  font-size: 20px;
  margin-right: 10px;
}
i.fa.fa-sitemap:hover{
  color:  #bababa;
}

.delete-btn{
  font-size: 20px;
}
.delete-btn:hover {
  color:red !important;
}

.modal-body .form-group select {
  float: none !important;
}

.modal-content {
    padding: 0;
}

.submit-form input[type="text"][disabled] {
    color: #999;
}


.btn-group.define-attribute-btns {
    // width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
}
.btn-group.define-attribute-btns .btn.full-width-radio-button {
    width: 16%;
}
.btn-group.define-attribute-btns .btn.full-width-radio-button:active{
    background: #009edc !important;
}
.btn-group.define-attribute-btns .btn.full-width-radio-button:focus{
  background: #009edc !important;
}
.btn-group.define-attribute-btns .btn.full-width-radio-button.active{
    background: #009edc !important;
}



.cdk-overlay-container{
        z-index: 5000 !important;
}

