<div class="row-holder" [@toggleInputs]="state" (@toggleInputs.done)="onAnimationDone($event)">
    <div class="label-holder">
        <label>
            <localize key="hierarchy.management.define.attribute.label.addTermTypeOptions"></localize>
        </label>
    </div>
    <div class="holder">
        <span class="text">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid">
                        <label>
                            <localize key="data.property.label.code"></localize>
                        </label>
                        <input type="text" [(ngModel)]="termOptionCode" name="termOptionCode" [required]="termOptionLabel ? true : null ">

                        <label>
                            <localize key="data.property.label.label"></localize>
                        </label>
                        <input type="text" [(ngModel)]="termOptionLabel" name="termOptionLabel" [required]="termOptionCode ? true : null ">

                        <label>
                            <localize key="data.property.label.description"></localize>
                        </label>
                        <input type="text" [(ngModel)]="termOptionDescription" name="termOptionDescription">

                        <button type="button" class="btn btn-primary" [disabled]="!isValid()" (click)="addTermOption()">
                            <localize key="modal.button.add"></localize>
                        </button>
                    </form>
                </div>
            </div>
        </span>
    </div>

    <div *ngIf="attribute.termOptions && attribute.termOptions.length > 0" [@openClose]>
        <div class="label-holder">
            <label>
                <localize key="term.option.input.label.existingTypes"></localize>
            </label>
        </div>
        <div class="holder">
            <span class="text">
                <!-- <ul class="list-group" style="display: inline-block;width: 100%;">
                <li class="list-group-item" *ngFor="let option of attribute.termOptions">{{option.localizedLabel}}</li>
            </ul> -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <localize key="data.property.label.code"></localize>
                            </th>
                            <th>
                                <localize key="data.property.label.label"></localize>
                            </th>
                            <th>
                                <localize key="data.property.label.description"></localize>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let option of attribute.termOptions">
                            <td>{{option.code}}</td>
                            <td>{{option.localizedLabel}}</td>
                            <td>{{option.localizedDescription}}</td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </div>
    </div>

</div>
