<div class="modal-body" tabindex="-1" role="dialog">
    <!-- <div class="heading">
        <h2>
            <localize key="export-modal.title"></localize>
        </h2>
	</div> -->

    <div class="row">
        <div class="col-md-12">
            <crtable-detail-create-geo-object #cuDetail *ngIf="action && (action.actionType.endsWith('CreateGeoObjectAction') || action.actionType.endsWith('UpdateGeoObjectAction'))" [(action)]="action" [readOnly]="readonly"> </crtable-detail-create-geo-object>
            <crtable-detail-add-remove-child #arDetail *ngIf="action && (action.actionType.endsWith('AddChildAction') || action.actionType.endsWith('RemoveChildAction'))" [(action)]="action" [readOnly]="readonly"> </crtable-detail-add-remove-child>
            <set-parent-detail #spDetail *ngIf="action && (action.actionType.endsWith('SetParentAction'))" [(action)]="action" [readOnly]="readonly"> </set-parent-detail>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="button-holder text-right">
                <button type="button" (click)="cancel();" class="btn btn-default" role="button" aria-disabled="false">
                    <span> <localize key="modal.button.close"></localize>
                    </span>
                </button>
            </div>
        </div>
    </div>

</div>
