<form #form="ngForm" (ngSubmit)="form.valid && handleOnSubmit()" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons">
  
  <div *ngIf="hierarchyType != null" class="modal-body">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong><localize key="error.title"></localize></strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>
    
    
    <div class="form-group">
      <div>
         <label for="codeInput"><localize key="data.property.label.code"></localize></label>
         <input  [(ngModel)]="geoObjectType.code" name="code" type="input" class="form-control" id="codeInput" required>
      </div>
    </div>
    <div class="form-group">
      <div>
         <label for="localizedLabelInput">Label</label>
        <input  [(ngModel)]="geoObjectType.localizedLabel" name="localizedLabel" type="input" class="form-control" id="localizedLabelInput" required>
      </div>
    </div>
    <div class="form-group">
      <div >
         <label for="localizedDescriptionInput">Description</label>
        <input  [(ngModel)]="geoObjectType.localizedDescription" name="localizedDescription" type="input" class="form-control" id="localizedDescriptionInput" >
       </div>
    </div>
    
    <div class="form-group">
      <div >
        <div class="check-block" style="display: inline-block;">
         <div (click)="toggleIsLeaf()" [ngClass]="{'chk-checked' : geoObjectType.isLeaf}" style="margin:0;" class="jcf-unselectable chk-area">
          <span></span>
         </div>
    
         <label class="checkbox-label"> <localize key="hierarchy.management.option.label.isLeafNode"></localize></label>
        </div>
       </div>
    </div>
    
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="ui-dialog-buttonset">
        <button type="button" (click)="bsModalRef.hide()" class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.cancel"></localize></span>
        </button>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.ok"></localize></span>
        </button>
      </div>
    </div>
    
  </div>
</form>
