<form class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons">
  
  <div *ngIf="parent != null" class="modal-body">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong><localize key="error.title"></localize></strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>
    
    
    <div class="form-group">
    
      <select class="form-control" *ngIf="allGeoObjectTypes" (change)="onSelect($event.target.value)">
          <option disabled hidden [value]="selectUndefinedOptionValue">-- <localize key="hierarchy.management.create.child.option.label.selectType"></localize> --</option>
        <option *ngFor="let geoObjType of allGeoObjectTypes | geoobjecttype:nodes" value={{geoObjType.code}}>
          {{geoObjType.localizedLabel}}
        </option>
      </select>
    
    </div>
    
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="ui-dialog-buttonset">
        <button type="button" (click)="bsModalRef.hide()" class="btn btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.cancel"></localize></span>
        </button>
        <button type="submit" (click)="handleOnSubmit()" class="btn btn-primary btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.ok"></localize></span>
        </button>
      </div>
    </div>
  
  </div>
</form>
