<form class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons">
  
  <div class="modal-body">
    
    <error-message [message]="message"></error-message>

    <div class="form-group">
      <label for="codeInput"><localize key="data.property.label.code"></localize></label>
      <input  [(ngModel)]="hierarchyType.code" name="code" type="input" class="form-control" id="codeInput" [disabled]="edit" required>
    </div>
    <div class="form-group" *ngFor="let localeValue of hierarchyType.label.localeValues">
      <label for="labelInput"><localize key="data.property.label.label"></localize> ({{localeValue.locale}})</label>
      <input  [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="input" class="form-control" required>
    </div>
    <div class="form-group"  *ngFor="let localeValue of hierarchyType.description.localeValues">
      <label for="descriptionInput"><localize key="data.property.label.description"></localize> ({{localeValue.locale}})</label>
      <input  [(ngModel)]="localeValue.value" [name]="'description-' + localeValue.locale" type="input" class="form-control"  >
    </div>
    
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="ui-dialog-buttonset">
        <button type="button" (click)="bsModalRef.hide()" class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.cancel"></localize></span>
        </button>
        <button type="submit" [disabled]="hierarchyType.code.length < 1" (click)="handleOnSubmit()" class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.ok"></localize></span>
        </button>
      </div>
    </div>
    
  </div>
</form>
