<form #form="ngForm" (ngSubmit)="form.valid && handleOnSubmit()" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons">
  
  <div class="modal-body">
    <error-message [message]="message"></error-message>
    
    <div class="form-group">
      <div>
         <label for="codeInput"><localize key="data.property.label.code"></localize></label>
         <input  [(ngModel)]="geoObjectType.code" name="code" type="text" class="form-control" id="codeInput" required>
      </div>
    </div>
    <div class="form-group" *ngFor="let localeValue of geoObjectType.label.localeValues">
      <label><localize key="data.property.label.label"></localize> ({{localeValue.locale}})</label>
      <input  [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="input" class="form-control" required>
    </div>
    <div class="form-group" *ngFor="let localeValue of geoObjectType.description.localeValues">
      <div >
         <label><localize key="data.property.label.description"></localize> ({{localeValue.locale}})</label>
        <input  [(ngModel)]="localeValue.value" [name]="'description-' + localeValue.locale" type="input" class="form-control" >
       </div>
    </div>
    <div class="form-group">   
      <label for="geometryType"><localize key="data.property.label.geometryType"></localize></label>
      <select  class="select-area" name="geometryType" [(ngModel)]="geoObjectType.geometryType" required>
        <option></option>
        <option value="POINT"><localize key="georegistry.geometry.point"></localize></option>
        <option value="LINE"><localize key="georegistry.geometry.line"></localize></option>
        <option value="POLYGON"><localize key="georegistry.geometry.polygon"></localize></option>
        <option value="MULTIPOINT"><localize key="georegistry.geometry.multipoint"></localize></option>
        <option value="MULTILINE"><localize key="georegistry.geometry.multiline"></localize></option>
        <option value="MULTIPOLYGON"><localize key="georegistry.geometry.multipolygon"></localize></option>
      </select>
    </div>
    
    <div class="form-group">
      <div >
        <div class="check-block" style="display:inline-block;">
         <div (click)="toggleIsLeaf()" [ngClass]="{'chk-checked' : geoObjectType.isLeaf}" style="margin:0;" class="jcf-unselectable chk-area">
          <span></span>
         </div>
    
         <label class="checkbox-label" style="line-height: normal;"> <localize key="hierarchy.management.option.label.isLeafNode"></localize></label>
        </div>
       </div>
    </div>
    
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="ui-dialog-buttonset">
        <button type="button" (click)="bsModalRef.hide()" class="btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.cancel"></localize></span>
        </button>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" style="padding: 4px 18px;">
          <span class="ui-button-text"><localize key="modal.button.ok"></localize></span>
        </button>
      </div>
    </div>
    
  </div>
</form>
