  
  <div class="modal-body">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong><localize key="error.title"></localize></strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && handleOnSubmit()">    
    <div class="">
      <div class="">
        <div class="heading">
          <h1><localize key="hierarchy.management.define.attribute.title"></localize> </h1>
        </div>   
        
        <div class="row-holder">
            <div class="label-holder"></div>
            <div class="holder" >
                <div class="btn-group define-attribute-btns">
                    <label class="btn full-width-radio-button" [ngClass]="{active: newAttribute.type === 'character'}" (click)="setAttribute('character')"  ><localize key="data.type.label.text"></localize></label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: newAttribute.type === 'integer'}" (click)="setAttribute('integer')" ><localize key="data.type.label.integer"></localize></label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: newAttribute.type === 'float'}" (click)="setAttribute('float')" ><localize key="data.type.label.float"></localize></label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: newAttribute.type === 'date'}" (click)="setAttribute('date')" ><localize key="data.type.label.date"></localize></label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: newAttribute.type === 'boolean'}" (click)="setAttribute('boolean')" ><localize key="data.type.label.boolean"></localize></label>
                    <label class="btn full-width-radio-button" [ngClass]="{active: newAttribute.type === 'term'}" (click)="setAttribute('term')" ><localize key="data.type.label.term"></localize></label>
                </div>
            </div>
        </div>
        
        <fieldset>         

          <div *ngIf="newAttribute.type === 'character'" [@openClose]="newAttribute.type === 'character' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="newAttribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'character'" [@openClose]="newAttribute.type === 'character' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newAttribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="newAttribute.type === 'integer'" [@openClose]="newAttribute.type === 'integer' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="newAttribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'integer'" [@openClose]="newAttribute.type === 'integer' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newAttribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="newAttribute.type === 'float'" [@openClose]="newAttribute.type === 'float' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="newAttribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'float'" [@openClose]="newAttribute.type === 'float' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newAttribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>

          <div *ngIf="newAttribute.type === 'boolean'" [@openClose]="newAttribute.type === 'boolean' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="newAttribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'boolean'" [@openClose]="newAttribute.type === 'boolean' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newAttribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="newAttribute.type === 'date'" [@openClose]="newAttribute.type === 'date' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="newAttribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'date'" [@openClose]="newAttribute.type === 'date' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newAttribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="newAttribute.type === 'term'" [@openClose]="newAttribute.type === 'term' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="hierarchy.management.define.attribute.term.label"></localize></label>
            </div>          
            <div class="holder" >
              <!-- <span class="text">
                <input type="text" name="label" >
              </span> -->

              <div *ngIf="terms.length > 0" class="tree">
                <tree-root [nodes]="terms" [options]="options"></tree-root>
              </div>
              <input type="hidden" [ngModel]="newAttribute.rootTerm" [disabled]="false" name="root" #rootin="ngModel" required>
              
            </div>
            
            <div class="label-holder">
              <label><localize key="hierarchy.management.define.attribute.select.root.label"></localize></label>
            </div>          
            <div class="holder" >
              <h4 *ngIf="newAttribute.rootTerm" >{{newAttribute.rootTerm}}</h4>
              <h4 *ngIf="!newAttribute.rootTerm" ><localize key="hierarchy.management.define.attribute.no.root.selected.message"></localize></h4>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'term'" [@openClose]="newAttribute.type === 'term' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="newAttribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="newAttribute.type === 'term'" [@openClose]="newAttribute.type === 'term' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="newAttribute.localizedLabel" name="label" required >
              </span>
            </div>
          </div>
          
          <term-option-input *ngIf="newAttribute.type === 'term' && newAttribute.name.length > 0 && newAttribute.localizedLabel.length > 0" [@openClose]="newAttribute.type === 'term' && newAttribute.name.length > 0 && newAttribute.localizedLabel.length > 0 ? 'open' : 'closed'" [(attribute)]="newAttribute" ></term-option-input>

          <div class="row-holder">
            <div class="label-holder">
            </div>                    
            <div class="holder">
              <div class="button-holder">
                <button type="button" class="btn btn-default" (click)="cancel()"><localize key="modal.button.cancel"></localize></button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"><localize key="modal.button.submit"></localize></button>
              </div>
            </div>
          </div> 
        </fieldset>
      </div>
    </div>
  </form>
  
   <context-menu #selectRootMenu style="z-index:9999;">
    <ng-template contextMenuItem let-item (execute)="selectAsRoot($event.item)">
      <localize key="hierarchy.management.define.attribute.button.selectAsRoot"></localize>
    </ng-template>
  </context-menu>
    
  </div>
