  
  <div class="modal-body">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong><localize key="error.title"></localize></strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

    <form #form="ngForm" class="modal-form" (ngSubmit)="form.valid && handleOnSubmit()">    
    <div class="">
      <div class="">
        <div class="heading">
          <h1><localize key="hierarchy.management.edit.attribute.title"></localize></h1>
        </div>   
        
        <fieldset>         

          <div *ngIf="attribute && attribute.type === 'character'" [@openClose]="attribute.type === 'character' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="attribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="attribute && attribute.type === 'character'" [@openClose]="attribute.type === 'character' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="attribute && attribute.type === 'integer'" [@openClose]="attribute.type === 'integer' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="attribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="attribute && attribute.type === 'integer'" [@openClose]="attribute.type === 'integer' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="attribute && attribute.type === 'float'" [@openClose]="attribute.type === 'float' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="attribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="attribute && attribute.type === 'float'" [@openClose]="attribute.type === 'float' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>

          <div *ngIf="attribute && attribute.type === 'boolean'" [@openClose]="attribute.type === 'boolean' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="attribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="attribute && attribute.type === 'boolean'" [@openClose]="attribute.type === 'boolean' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


          <div *ngIf="attribute && attribute.type === 'date'" [@openClose]="attribute.type === 'date' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="attribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="attribute && attribute.type === 'date'" [@openClose]="attribute.type === 'date' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required>
              </span>
            </div>
          </div>


           <div *ngIf="attribute.type === 'term'" [@openClose]="attribute.type === 'term' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="hierarchy.management.define.attribute.term.label"></localize></label>
            </div>          
            <div class="holder" >
              <!-- <span class="text">
                <input type="text" name="label" >
              </span> -->

              <div *ngIf="terms.length > 0" class="tree">
                <tree-root [nodes]="terms" [options]="options"></tree-root>
              </div>
              <input type="hidden" [ngModel]="attribute.rootTerm" [disabled]="false" name="root" #rootin="ngModel" required>
              
            </div>
            
            <div class="label-holder">
              <label><localize key="hierarchy.management.define.attribute.select.root.label"></localize></label>
            </div>          
            <div class="holder" >
              <h4 *ngIf="attribute.rootTerm" >{{attribute.rootTerm}}</h4>
              <h4 *ngIf="!attribute.rootTerm" ><localize key="hierarchy.management.define.attribute.no.root.selected.message"></localize></h4>
            </div>
          </div>
          <div *ngIf="attribute.type === 'term'" [@openClose]="attribute.type === 'term' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.code"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input autofocus type="text" [(ngModel)]="attribute.name" name="code" required geoObjectAttributeCode>
              </span>
            </div>
          </div>
          <div *ngIf="attribute.type === 'term'" [@openClose]="attribute.type === 'term' ? 'open' : 'closed'" class="row-holder">
            <div class="label-holder">
              <label><localize key="data.property.label.label"></localize></label>
            </div>          
            <div class="holder" >
              <span class="text">
                <input type="text" [(ngModel)]="attribute.localizedLabel" name="label" required >
              </span>
            </div>
          </div>
          
          <term-option-input *ngIf="attribute.type === 'term' && attribute.name.length > 0 && attribute.localizedLabel.length > 0" [@openClose]="attribute.type === 'term' && attribute.name.length > 0 && attribute.localizedLabel.length > 0 ? 'open' : 'closed'" [(attribute)]="attribute" ></term-option-input>



         
          <div class="row-holder">
            <div class="label-holder">
            </div>                    
            <div class="holder">
              <div class="button-holder">
                <button type="button" class="btn btn-default" (click)="cancel()"><localize key="modal.button.cancel"></localize></button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"><localize key="modal.button.submit"></localize></button>
              </div>
            </div>
          </div> 
        </fieldset>
      </div>
    </div>
  </form>
  
   <context-menu #selectRootMenu style="z-index:9999;">
    <ng-template contextMenuItem let-item (execute)="selectAsRoot($event.item)">
      <localize key="hierarchy.management.define.attribute.button.selectAsRoot"></localize>
    </ng-template>
  </context-menu>
    
  </div>
