<form class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons">
  
  <div class="modal-body" *ngIf="modalState.state === 'MANAGE-ATTRIBUTES'">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong><localize key="error.title"></localize></strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

        <form #form="ngForm" *ngIf="geoObjectType" class="modal-form" (ngSubmit)="form.valid">    
            <div class="heading">
              <h1><localize key="hierarchy.management.manage.attributes.title"></localize></h1>
            </div>      
            <fieldset>   
                <div class="row-holder">
                    <div class="label-holder">
                    <label><localize key="data.property.label.label"></localize></label>
                    </div>          
                    <div class="holder" >
                    <span class="text">                  
                        <textarea [(ngModel)]="geoObjectType.localizedLabel" name="label" [disabled]="true"></textarea>
                    </span>
                    </div>
                </div>
                
                <div class="row-holder">
                    <div class="label-holder">
                    <label><localize key="data.property.label.description"></localize></label>
                    </div>          
                    <div class="holder" >
                    <span class="text">                  
                        <textarea [(ngModel)]="geoObjectType.localizedDescription" name="description" [disabled]="true"></textarea>
                    </span>
                    </div>
                </div> 
                    
                <div>
                    <div class="label-holder">
                    <label><localize key="hierarchy.management.manage.attributes.label.displayAttributes"></localize></label>
                    </div>          
                    <div class="holder dataset-attr-holder" >
                    <table class="list-table table table-bordered table-striped">
                        <tbody>
                        <tr *ngFor="let attr of geoObjectType.attributes" class="fade-ngRepeat-item">
                            <td class="button-column">
                            <a *ngIf="!attr.isDefault && attr.name !== 'keyName'" class="fa fa-pencil ico-edit" [routerLink]="" (click)="editAttribute(attr, $event)" title="<localize key='modal.button.edit'></localize>"></a>                             
                            <a *ngIf="!attr.isDefault && attr.name !== 'keyName'" class="fa fa-trash-o ico-remove" [routerLink]="" (click)="removeAttributeType(attr, $event)" title="<localize key='modal.button.remove'></localize>"></a>
                            </td>                  
                            <td class="submit-form">
                            <dl>
                                <dd>
                                <h4 class="disabled" >{{attr.localizedLabel}}</h4>
                                </dd>
                            </dl>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>      
                <div class="row-holder">
                    <div class="label-holder">
                    </div>                    
                    <div class="holder">
                    <i class="fa fa-plus" style="font-size:20px;margin:10px 0 10px 0;" aria-hidden="true" (click)="defineAttributeModal()"><localize key="modal.button.add"></localize></i>
                    </div>
                </div>          
                <div class="row-holder">
                    <div class="label-holder">
                    </div>                    
                    <div class="holder">
                    <div class="button-holder">
                        <button type="button" class="btn btn-default" (click)="close()"><localize key="modal.button.close"></localize></button>              
                    </div>
                    </div>
                </div> 
            </fieldset>
    </form>

  </div>

  <define-attribute-modal-content *ngIf="modalState.state === 'DEFINE-ATTRIBUTE'" (modalStateChange)="onModalStateChange($event)" [geoObjectType]="geoObjectType" ></define-attribute-modal-content>

  <edit-attribute-modal-content *ngIf="modalState.state === 'EDIT-ATTRIBUTE'" (modalStateChange)="onModalStateChange($event)" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute" ></edit-attribute-modal-content>

</form>
