
<form class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable com-runwaysdk-ui-factory-jquery-Dialog com-runwaysdk-ui-factory-runway-Widget ui-dialog-buttons">
     
  <modal-step-indicator></modal-step-indicator>

  <geoobjecttype-input *ngIf="modalState.state === 'MANAGE-GEO-OBJECT-TYPE'" (geoObjectTypeChange)="onGeoObjectTypeChange($event)" [geoObjectType]="geoObjectType" [setGeoObjectType]="geoObjectType"></geoobjecttype-input>
  
  <manage-attributes-modal *ngIf="modalState.state === 'MANAGE-ATTRIBUTES'" [geoObjectType]="geoObjectType"></manage-attributes-modal>
  
  <define-attribute-modal-content *ngIf="modalState.state === 'DEFINE-ATTRIBUTE'" [geoObjectType]="geoObjectType" ></define-attribute-modal-content>

  <edit-attribute-modal-content *ngIf="modalState.state === 'EDIT-ATTRIBUTE'" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute" ></edit-attribute-modal-content>

  <manage-term-options *ngIf="modalState.state === 'MANAGE-TERM-OPTION'" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute"></manage-term-options>
 
  <edit-term-option-input *ngIf="modalState.state === 'EDIT-TERM-OPTION'" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute" [termOption]="modalState.termOption" ></edit-term-option-input>
 
</form>