<div class="new-admin-design-main">
    <cgr-header></cgr-header>
    <loading-bar></loading-bar>

    <div id="app-container" class="container-fluid">
        <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

            <div class="py-5">
                <h2>
                    <localize key="scheduledjobs.details.title"></localize>
                </h2>
            </div>
            <div *ngIf="job" class="row" style="background: #F4F4F4;
                                border-radius: 15px;
                                margin-bottom: 20px;
                                margin-top: 20px;
                                padding: 10px;">
                <div class="col-md-4 order-md-1">
                    <div class="wrapper">

                        <i style="position: absolute;font-size: 55px;" class="fa fa-file" aria-hidden="true"></i>
                        <p style="padding-left: 60px;">
                            <span style="display: block;">
                                <strong>{{job.fileName}}</strong>
                            </span>
                            <span style="display: block;">
                                Uploaded by: {{job.author}}
                            </span>
                            <span style="display: block;">
                                Started: {{job.createDate}}
                            </span>
                        </p>

                    </div>
                </div>
                <div class="col-md-3 order-md-1">
                    <div>

                        <h5><b>{{job.importedRecords}} imported out of {{job.workTotal}} total</b></h5>
                        <h5>{{job.workTotal - job.importedRecords}} remaining</h5>

                    </div>
                </div>
                <div class="col-md-5 order-md-1"></div>
            </div>
            <div *ngIf="page && page.results.length > 0" class="row">
                <div class="col-md-12 order-md-1">
                    
                    <ul class="list-group">
            
                        <table class="list-table table table-bordered table-striped">
                            <thead *ngIf="job.stage === 'IMPORT_RESOLVE'">
                                <tr>
	                                <th class="label-column">
	                                  <div class="check-block">
	                                   <div (click)="toggleAll()" [ngClass]="{'chk-checked' : allSelected}" ng-style="chkstyle" class="jcf-unselectable chk-area">
	                                     <span></span>
	                                   </div>
	                                  </div>
	                                </th>
	                                <th class="label-column">
	                                    Problem Type
	                                </th>
	                                <th class="label-column">
	                                    Message
	                                </th>
	                                <th class="label-column">
	                                    
	                                </th>
                                </tr>
                            </thead>
                            <thead *ngIf="job.stage === 'VALIDATION_RESOLVE'">
                              <tr>
                                <th class="label-column">
                                  <div class="check-block">
                                   <div (click)="toggleAll()" [ngClass]="{'chk-checked' : allSelected}" ng-style="chkstyle" class="jcf-unselectable chk-area">
                                     <span></span>
                                   </div>
                                  </div>
                                </th>
                                <th class="label-column">
                                  TODO
                                </th>
                                <th class="label-column">
                                  
                                </th>
                              </tr>
                            </thead>

                            <tbody *ngIf="job.stage === 'IMPORT_RESOLVE'">
                                <tr *ngFor="let row of page.results | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">
                                <!-- <tr *ngFor="let row of job.errors.page; let i = index;"> -->
                                    <td class="label-column">
                                        <boolean-field [(value)]="row.selected"></boolean-field>
                                    </td>
                                    <td class="label-column" style="vertical-align: middle;">
                                        <p>{{getFriendlyProblemType(row.exception.type)}}</p>
                                    </td>
                                    <td class="label-column" style="vertical-align: middle;">
                                        <p>{{row.exception.message}}</p>
                                    </td>
                                    <td class="label-column" *ngIf="isAdmin || isMaintainer" style="text-align: right;">
                                        <button type="submit" (click)="onEdit(row)" class="btn btn-link" role="button">
                                            <localize key="scheduledjobs.detail.button"></localize>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody *ngIf="job.stage === 'VALIDATION_RESOLVE'">
	                            <tr *ngFor="let row of page.results | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }">
	                             <td class="label-column">
	                               <boolean-field [(value)]="row.selected"></boolean-field>
	                             </td>
	                             <td class="label-column" style="vertical-align: middle;">
	                               <p>{{formatValidationResolve(row)}}</p>
	                             </td>
	                             <td class="label-column" *ngIf="isAdmin || isMaintainer" style="text-align: right;">
	                              <button type="submit" (click)="onEdit(row)" class="btn btn-link" role="button">
	                                  <localize key="scheduledjobs.detail.button"></localize>
	                              </button>
	                             </td>
	                            </tr>
                            </tbody>
                        </table>
                        <div class="solid-table-footer">
                            <div *ngIf="page.results.length > 0" class="solid-table-footer">
                                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            
            <div *ngIf="page.results.length == 0 && job.stage === 'VALIDATION_RESOLVE'" style="width: 50%; margin: 0 auto;">
              <span style="display:block;">Congratulations! All validation problems have been resolved.</span> <!-- TODO : Localize -->
              <button type="submit" (click)="onResolveScheduledJob(job.historyId)" class="btn btn-primary" role="button">Reimport</button> <!-- TODO : Localize -->
            </div>
            
            <div *ngIf="page.results.length == 0 && job.stage === 'IMPORT_RESOLVE'" style="width: 50%; margin: 0 auto;">
              <span style="display:block;">Congratulations! All import problems have been resolved.</span> <!-- TODO : Localize -->
              <button type="submit" (click)="onResolveScheduledJob(job.historyId)" class="btn btn-primary" role="button">Complete Import</button> <!-- TODO : Localize -->
            </div>

            <div *ngIf="page && page.results != null && page.results.length > 0 && !hasRowValidationProblem" class="button-holder" style="float: right;">
                <button type="submit" (click)="onResolveScheduledJob(job.historyId)" class="btn btn-primary" role="button">
                  <localize *ngIf="job && job.stage === 'VALIDATION_RESOLVE'" key="etl.import.resume.openModal"></localize>
                  <!--  <localize *ngIf="job && job.stage === 'IMPORT_RESOLVE'" key="etl.import.complete.openModal"></localize> --> <!-- TODO : Localize -->
                  <span *ngIf="job && job.stage === 'IMPORT_RESOLVE'">Complete Import</span> <!-- TODO : Localize -->
                </button>
            </div>
            
            <div *ngIf="hasRowValidationProblem"class="button-holder" style="float: right;">
              <button type="submit" (click)="onReuploadAndResume(job.historyId)" class="btn btn-primary" role="button">
                  <span>Re-Upload and Resume Import</span> <!-- TODO : Localize -->
                </button>
            </div>
            
            <div *ngIf="page && page.results != null && page.results.length > 0 && job.stage === 'VALIDATION_RESOLVE'" class="button-holder" style="float: right;">
                <button type="button" (click)="onCancelScheduledJob(job.historyId)" class="btn btn-primary" role="button"><localize key="etl.import.cancel.openModal"></localize></button>
            </div>
    </div>
</div>