.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.collapsed-sidebar {
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.collapsed-main {
    width: calc(100% - 55px);
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    background-color: #27232CFF;
    color: #BABABAFF; 
    height: 100vh;
}