<div class="row-holder" *ngFor="let localeValue of value.localeValues">
  <div class="label-holder">
    <label>
      <localize [key]="key"></localize>
      <span style="color: #BABABA">(<convert-key-label [key]="localeValue.locale"></convert-key-label>)</span>
    </label>
  </div>
  <div class="holder">
    <span class="text">
      <textarea class="form-control" [(ngModel)]="localeValue.value" [disabled]="disabled" [name]="'description-' + localeValue.locale"></textarea>
    </span>
  </div>
</div>
