<div class="modal-body">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="text-center">
        <h2>
            <localize key="scheduledjobs.problemdetail.modal.title"></localize>
        </h2>
    </div>
    <!-- <div class="col-md-12 order-md-1"> -->
    <form #form="ngForm" class="modal-form">

        <fieldset>
            <!-- <div class="row-holder" *ngFor="let localeValue of master.displayLabel.localeValues">
                <div class="label-holder">
                    <label> <localize key="masterlist.label"></localize> ({{localeValue.locale}})
                    </label>
                </div>
                <div class="holder">
                    <input [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="text" class="form-control" [disabled]="readonly" [required]="localeValue.locale === 'defaultLocale'" />
                </div>
            </div> -->

            
            <!-- <div *ngIf="problem && problem.exception.type === 'net.geoprism.registry.io.ParentCodeException'">
                <relationship-problem-widget [problem]="problem" [job]="job"></relationship-problem-widget>
            </div>
            <div *ngIf="problem && problem.exception.type === 'REQUIREDVALUE'">
                <relationship-problem-widget [problem]="problem" ></relationship-problem-widget>
            </div>
            <div *ngIf="problem && problem.exception.type === 'SPATIALREFERENCE'">
                <relationship-problem-widget [problem]="problem"></relationship-problem-widget>
            </div>
            <div *ngIf="problem && problem.exception.type === 'DUPLICATE'">
                <relationship-problem-widget [problem]="problem"></relationship-problem-widget>
            </div> -->
            
            <div *ngIf="problem && job && job.stage === 'IMPORT_RESOLVE'">
                <import-problem-widget [problem]="problem" [job]="job"></import-problem-widget>
            </div>
            <div *ngIf="problem && job && job.stage === 'VALIDATION_RESOLVE'">
              <parent-reference-problem-widget *ngIf="problem.type === 'ParentReferenceProblem'" (onProblemResolved)="onProblemResolvedListener($event, problem)" [problem]="problem" [job]="job" ></parent-reference-problem-widget>
              <term-reference-problem-widget *ngIf="problem.type === 'TermReferenceProblem'" (onProblemResolved)="onProblemResolvedListener($event, problem)" [problem]="problem" [job]="job" ></term-reference-problem-widget>
              <row-validation-problem-widget *ngIf="problem.type === 'RowValidationProblem'" (onProblemResolved)="onProblemResolvedListener($event, problem)" [problem]="problem" [job]="job" ></row-validation-problem-widget>
            </div>
            
            <div class="row-holder">
                <!-- <div class="label-holder"></div> -->
                <div class="">
                    <div class="button-holder">
                        <button type="button" (click)="onCancel()" class="btn btn-default" role="button">
                            <localize key="io.back"></localize>
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <!-- </div> -->
</div>