<div class="container">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>


    <!-- <div class="col-md-12 order-md-1"> -->

    <!-- <div class="row">

        <h2>
            Review: {{job.fileName}} problem
        </h2>
    </div> -->
    <div *ngIf="problem && job" class="row" style="background: #F4F4F4;
                                        border-radius: 10px;
                                        margin-bottom: 20px;
                                        margin-top: 20px;
                                        padding: 10px;">
        <div class="col-md-6">
            <div class="wrapper">

                <i style="position: absolute;font-size: 55px;" class="fa fa-file" aria-hidden="true"></i>
                <p style="padding-left: 60px;">
                    <span style="display: block;">
                        <strong>{{job.fileName}}</strong>
                    </span>
                    <span style="display: block;">
                        <localize key="importproblem.uploaded.by.label"></localize>: {{job.author}}
                    </span>
                    <span style="display: block;">
                        <localize key="importproblem.started.date.label"></localize>: 
                        <span class="date-string-display" style="margin-left:5px;">
                              {{formatDate(job.createDate)}}
                        </span>
                    </span>
                </p>

            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row" style="background: #F4F4F4;
                            border-radius: 10px;
                            margin-bottom: 20px;
                            margin-top: 20px;
                            padding: 10px;">
        <div class="col-md-12">

            <div *ngIf="problem" class="row">
                <div class="col-md-6" style="background: white;border-radius: 10px; width: 41%; margin-right:7px;">
                    <h4><strong><localize key="etl.problem.header.problem"></localize></strong></h4>
                    <p style="font-style: italic;">{{getValidationProblemDisplayLabel(problem)}}</p>

                    <h4><strong><localize key="etl.problem.header.message"></localize></strong></h4>
                    <p style="font-style: italic;">
                      <localize key="etl.problem.termReference.message"></localize>
                    </p>

                    <h4><strong><localize key="etl.problem.header.toResolve"></localize></strong></h4>
                    <p><localize key="etl.problem.termReference.toResolve"></localize></p>
                </div>
                <div class="com-md-6" style="background: white; border-radius: 10px; width:41%; float:left; height:250px;">
	                <div class="row-holder">
                    <div class="label-holder" style="width:100px;">
                      <label>
                        <span class="text"><localize key="etl.problem.termReference.attributeLabel"></localize></span>
                      </label>
                    </div>
                    <div class="holder" style="width:300px;">
                      <span class="text" style="margin-top:10px;">{{problem.attributeLabel}}</span>
                    </div>
                  </div>
	                <div class="row-holder">
	                  <div class="label-holder" style="width:100px;">
	                    <label>
	                      <span class="text"><localize key="etl.problem.termReference.label"></localize></span>
	                    </label>
	                  </div>
	                  <div class="holder" style="width:300px;">
	                    <span class="text" style="margin-top:10px;">{{problem.label}}</span>
	                  </div>
	                </div>
	                <div class="row-holder" style="overflow:visible;">
                    <div class="label-holder" style="width:100px;">
                      <label>
                        <span class="text"><localize key="etl.problem.termReference.synonym"></localize></span>
                      </label>
                    </div>
                    <div class="holder" style="width:300px;">
                      <input  style="width:150px;" type="text" class="form-control" autocomplete="off"
	                      name="termSearch"
	                      [(ngModel)]="searchLabel"
	                      [typeaheadAsync]="true"
	                      [typeahead]="getTypeAheadObservable(problem)"
	                      (typeaheadOnSelect)="typeaheadOnSelect($event, problem)"
	                      [typeaheadOptionsLimit]="7"
	                      typeaheadOptionField="label"
	                      [typeaheadMinLength]="0"
	                      [typeaheadWaitMs]="300">
                    </div>
                  </div>
                  <div class="row-holder">
                    <div class="label-holder" style="width:100px;">
                      <label>
                        <span class="text"><localize key="etl.problem.termReference.actions"></localize></span>
                      </label>
                    </div>
                    <div class="holder" style="width:300px;">
                      <button type="submit" [disabled]="termId == null" (click)="onCreateSynonym()" class="btn btn-primary" role="button">
                        <localize key="etl.problem.reference.createSynonym"></localize>
                      </button>
                      <button type="submit" (click)="onIgnore()" class="btn btn-primary" role="button">
                        <localize key="etl.problem.reference.ignore"></localize>
                      </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>