<div class="container">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>


    <!-- <div class="col-md-12 order-md-1"> -->

    <!-- <div class="row">

        <h2>
            Review: {{job.fileName}} problem
        </h2>
    </div> -->
    <div *ngIf="problem && job" class="row" style="background: #F4F4F4;
                                        border-radius: 10px;
                                        margin-bottom: 20px;
                                        margin-top: 20px;
                                        padding: 10px;">
        <div class="col-md-6">
            <div class="wrapper">

                <i style="position: absolute;font-size: 55px;" class="fa fa-file" aria-hidden="true"></i>
                <p style="padding-left: 60px;">
                    <span style="display: block;">
                        <strong>{{job.fileName}}</strong>
                    </span>
                    <span style="display: block;">
                        Uploaded by: {{job.author}}
                    </span>
                    <span style="display: block;">
                        Started: {{job.createDate}}
                    </span>
                </p>

            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="row" style="background: #F4F4F4;
                            border-radius: 10px;
                            margin-bottom: 20px;
                            margin-top: 20px;
                            padding: 10px;">
        <div class="col-md-12">

            <div *ngIf="problem" class="row">
                <div class="col-md-6" style="background: white;border-radius: 10px; width: 41%; margin-right:7px;">
                    <h4><strong>Problem</strong></h4>
                    <p style="font-style: italic;">{{getValidationProblemDisplayLabel(problem)}}</p>

                    <h4><strong>Message</strong></h4>
                    <p style="font-style: italic;">Your data contains references to a term which cannot be found.</p> <!-- TODO : Localize -->

                    <h4><strong>To Resolve</strong></h4>
                    <!-- TODO : Localize -->
                    <p>You may create a synonym or ignore all rows which contain this term label. These synonyms are system-wide and will apply to term labels for all future imports.</p>
                </div>
                <div class="com-md-6" style="background: white; border-radius: 10px; width:41%; float:left; height:250px;">
	                <div class="row-holder">
                    <div class="label-holder" style="width:100px;">
                      <label>
                        <span class="text">Attribute Label</span> <!-- TODO : Localize -->
                      </label>
                    </div>
                    <div class="holder" style="width:300px;">
                      <span class="text" style="margin-top:10px;">{{problem.attributeLabel}}</span>
                    </div>
                  </div>
	                <div class="row-holder">
	                  <div class="label-holder" style="width:100px;">
	                    <label>
	                      <span class="text">Label</span> <!-- TODO : Localize -->
	                    </label>
	                  </div>
	                  <div class="holder" style="width:300px;">
	                    <span class="text" style="margin-top:10px;">{{problem.label}}</span>
	                  </div>
	                </div>
	                <div class="row-holder" style="overflow:visible;">
                    <div class="label-holder" style="width:100px;">
                      <label>
                        <span class="text">Synonym</span> <!-- TODO : Localize -->
                      </label>
                    </div>
                    <div class="holder" style="width:300px;">
                      <input  style="width:150px;" type="text" class="form-control" autocomplete="off"
	                      name="termSearch"
	                      [(ngModel)]="searchLabel"
	                      [typeaheadAsync]="true"
	                      [typeahead]="getTypeAheadObservable(problem)"
	                      (typeaheadOnSelect)="typeaheadOnSelect($event, problem)"
	                      [typeaheadOptionsLimit]="7"
	                      typeaheadOptionField="label"
	                      [typeaheadMinLength]="0"
	                      [typeaheadWaitMs]="300">
                    </div>
                  </div>
                  <div class="row-holder">
                    <div class="label-holder" style="width:100px;">
                      <label>
                        <span class="text">Actions</span> <!-- TODO : Localize -->
                      </label>
                    </div>
                    <div class="holder" style="width:300px;">
                      <button type="submit" [disabled]="termId == null" (click)="onCreateSynonym()" class="btn btn-primary" role="button">
                        Create Synonym
                      </button>
                      <button type="submit" (click)="onIgnore()" class="btn btn-primary" role="button">
                        Ignore
                      </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>