<div class="row text-center">
  <cgr-header></cgr-header>
  <loading-bar></loading-bar>
  
  <h2><localize key="localization-manager.title"></localize></h2>
  
  <label><a href="https://terraframe.atlassian.net/wiki/spaces/GGR/pages/816021527/Localization"><localize key="localization-manager.viewDoc1"></localize></a><localize key="localization-manager.viewDoc2"></localize></label>
  
  <div id="app-container" class="container">
  
    <div class="row" style="margin:25px;">
      <div style="margin-bottom: 5px;">
	      <button type="submit" class="btn btn-primary" (click)="exportLocalization()"><localize key="localization-manager.exportButton"></localize></button>
	    </div>
	    
	    
    </div>
    
    <div class="row" style="margin:25px;">
      <div>
        <!-- <button type="submit" class="btn btn-primary" (click)="importLocalization()"><localize key="localization-manager.importButton"></localize></button> -->
        <label><localize key="localization-manager.importButton"></localize></label>
        <input style="display: inline;" type="file" (change)="importLocalization($event)" placeholder="<localize key='localization.manager.input.placeholder.uploadFile'></localize>" accept=".xlsx,"/>
      </div>
    </div>
    
    <div class="row">
      <button type="submit" class="btn btn-primary" (click)="showNewLocaleModal()"><localize key="localization-manager.installLocale"></localize></button>
    </div>
    
  </div>
</div>
