
<label for="{{inputName}}" *ngIf="label.length > 0" [ngClass]="{'disabled': disable}">{{label}}</label>
<label for="{{inputName}}" *ngIf="localizeLabelKey.length > 0" [ngClass]="{'disabled': disable}"><localize key="{{localizeLabelKey}}"></localize></label>

<!-- <input id="date-input" [class]="classNames" name="{{inputName}}" [(ngModel)]="value" (change)="toggle($event)" type="date" max="{{today|date:'yyyy-MM-dd'}}" [disabled]="disable" [required]="required"/> -->

<div [hidden]="valueIsPresent">
  <span class="wrapper">
      <input [class]="classNames ? classNames + ' ' + 'date-input-element' : 'date-input-element'" 
           [style]="customStyles ? customStyles : ''"
           name="{{inputName}}"
           type="text"
           placeholder="YYYY-MM-DD"
           [bsValue]="_value"
           [value]="_value | date: 'yyyy-MM-dd'"
           (bsValueChange)="toggle($event)"
           [bsConfig]="{
              dateInputFormat: 'YYYY-MM-DD', 
              containerClass: 'theme-default', 
              returnFocusToInput: returnFocusToInput,
              adaptivePosition: true
              }"
           [outsideClick]="true"
           placement="{{placement}}"
           [maxDate]="allowFutureDates ? null : today"
           [isDisabled]="disable"
           [disabled]="disable"
           bsDatepicker
           #dp="bsDatepicker"
           title="{{title}}"
           >
  </span>
  
  <div class="form-input-validation-error-message-wrapper">
    <p *ngIf="message" class="error-message">{{message}}</p>
  </div>
</div>

<div *ngIf="oldDate">
  <p class="warning-text display-current-value">
    <localize key="change.request.changed.value.prefix"></localize>
    {{ oldDate }}
  </p>
</div>

<p [hidden]="!valueIsPresent" style="font-size:14px;margin:0;"><localize key="changeovertime.manageVersions.infinity.endDate.label"></localize></p>

<div *ngIf="allowInfinity && !disable" class="text-right" style="padding: 10px 0;">
  <button class="btn btn-default" style="margin:0;" *ngIf="valueIsPresent" (click)="toggleInfinity()"><localize key="manage.versions.enddate.set.date.button"></localize></button> 
  <button class="btn btn-default" style="margin:0;" *ngIf="!valueIsPresent" (click)="toggleInfinity()"><localize key="manage.versions.enddate.set.current.button"></localize></button>
</div>

