<form class="modal-form">

  <div *ngIf="parent != null" class="modal-body">

    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

    <div class="heading">
      <h1>
        <localize key="hierarchy.management.button.addRelationship"></localize>
      </h1>
    </div>
    <fieldset>

      <div class="form-group">

        <select *ngIf="allGeoObjectTypes" (change)="onSelect($event.target.value)">
          <option disabled hidden [value]="selectUndefinedOptionValue">-- <localize
              key="hierarchy.management.create.child.option.label.selectType"></localize> --</option>
          <!-- to filter out all geoobjecttypes that are already in hierarchies use this pip in the iterator > | geoobjecttype:nodes -->
          <option></option>
          <option *ngFor="let geoObjType of allGeoObjectTypes" value={{geoObjType.code}}>
            {{geoObjType.label.localizedValue}}
          </option>
        </select>

      </div>

      <div class="button-holder">
        <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" role="button" aria-disabled="false">
          <span>
            <localize key="modal.button.cancel"></localize>
          </span>
        </button>
        <button type="submit" (click)="handleOnSubmit()" class="btn btn-primary" role="button" aria-disabled="false">
          <span>
            <localize key="modal.button.ok"></localize>
          </span>
        </button>
      </div>
    </fieldset>
  </div>
</form>
