<form>

  <div class="modal-body">
    <form #form="ngForm" class="modal-form">

      <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>

        <div class="heading text-center">
          <h1>
            <localize key="hierarchy.management.create.hierarchy.title"></localize> 
          </h1>
        </div> 
        
      <div class="form-group">
        <label for="codeInput">
          <localize key="data.property.label.code"></localize>
        </label>
        <input [(ngModel)]="hierarchyType.code" name="code" type="input" class="form-control" id="codeInput"
          [disabled]="edit || readOnly" required>
      </div>
      <div class="form-group" *ngFor="let localeValue of hierarchyType.label.localeValues">
        <label for="labelInput">
          <localize key="data.property.label.label"></localize> ({{localeValue.locale}})
        </label>
        <input [disabled]="readOnly" [(ngModel)]="localeValue.value" [name]="'label-' + localeValue.locale" type="input" class="form-control"
          required>
      </div>
      <div class="form-group" *ngFor="let localeValue of hierarchyType.description.localeValues">
        <label for="descriptionInput">
          <localize key="data.property.label.description"></localize> ({{localeValue.locale}})
        </label>
        <textarea [disabled]="readOnly" [(ngModel)]="localeValue.value" [name]="'description-' + localeValue.locale" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="organization">
          <localize key="attribute.organization.label"></localize>
        </label>
        <select *ngIf="!edit && organizations.length > 1" [disabled]="edit || readOnly" class="select-area" name="organization"
          [(ngModel)]="hierarchyType.organizationCode" required>
          <option></option>
          <option *ngFor="let org of organizations" [value]="org.code">{{org.label.localizedValue}}</option>
        </select>
        <span *ngIf="!edit && organizations.length == 1" class="text"><input type="text" [(ngModel)]="organizationLabel" name="organization" disabled required></span>
        <span *ngIf="edit" class="text"><input type="text" [(ngModel)]="organizationLabel" name="organization" disabled required></span>
      </div>
      
      <div class="form-group">
        <label><localize key="data.property.label.progress"></localize></label>
        <input [(ngModel)]="hierarchyType.progress" name="progress" type="text" class="form-control" [disabled]="readOnly">
      </div>

      <div class="form-group">
        <label><localize key="data.property.label.acknowledgement"></localize></label>
        <input [(ngModel)]="hierarchyType.acknowledgement" name="acknowledgement" type="text" class="form-control" [disabled]="readOnly">
      </div>
      <div class="form-group">
        <label><localize key="data.property.label.disclaimer"></localize></label>
        <input [(ngModel)]="hierarchyType.disclaimer" name="disclaimer" type="text" class="form-control" [disabled]="readOnly">
      </div>

      <div class="form-group">
        <label><localize key="data.property.label.accessConstraints"></localize></label>
        <input [(ngModel)]="hierarchyType.accessConstraints" name="accessConstraints" type="text" class="form-control" [disabled]="readOnly">
      </div>

      <div class="form-group">
        <label><localize key="data.property.label.useConstraints"></localize></label>
        <input [(ngModel)]="hierarchyType.useConstraints" name="useConstraints" type="text" class="form-control" [disabled]="readOnly">
      </div>
      
      <hr/>
      
      <div class="form-group">
        <h4>
          <localize key="masterlist.contact"></localize>
        </h4>
      </div>
      
      <div class="form-group">
        <label><localize key="data.property.label.contact"></localize></label>
        <input [(ngModel)]="hierarchyType.contact" name="contact" type="text" class="form-control" [disabled]="readOnly">
      </div>

      <div class="form-group">
        <label><localize key="data.property.label.phoneNumber"></localize></label>
        <input [(ngModel)]="hierarchyType.phoneNumber" name="phoneNumber" type="text" class="form-control" [disabled]="readOnly">
      </div>

      <div class="form-group">
        <label><localize key="data.property.label.email"></localize></label>
        <input [(ngModel)]="hierarchyType.email" name="email" type="email" class="form-control" [disabled]="readOnly">
      </div>      

      <div class="row">
        <div class="col-md-12">
          <div class="button-holder">
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" style="padding: 4px 18px;">
              <localize key="modal.button.cancel"></localize>
            </button>
            <button *ngIf="!readOnly" type="submit" [disabled]="hierarchyType.code.length < 1 || form.invalid" class="btn btn-primary"
              (click)="handleOnSubmit()" style="padding: 4px 18px;">
              <localize key="modal.button.ok"></localize>
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</form>
