
<form>

  <modal-step-indicator></modal-step-indicator>

  <geoobjecttype-input *ngIf="modalState.state === 'MANAGE-GEO-OBJECT-TYPE'" [readOnly]="readOnly" (geoObjectTypeChange)="onGeoObjectTypeChange($event)" [geoObjectType]="geoObjectType" [setGeoObjectType]="geoObjectType"></geoobjecttype-input>

<!--   @Deprecate -->
<!--   <manage-attributes-modal *ngIf="modalState.state === 'MANAGE-ATTRIBUTES'" [geoObjectType]="geoObjectType" (geoObjectTypeChange)="onGeoObjectTypeChange($event)"></manage-attributes-modal> -->

  <define-attribute-modal-content *ngIf="modalState.state === 'DEFINE-ATTRIBUTE'" [geoObjectType]="geoObjectType" (geoObjectTypeChange)="onGeoObjectTypeChange($event)"></define-attribute-modal-content>

  <edit-attribute-modal-content *ngIf="modalState.state === 'EDIT-ATTRIBUTE'" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute" (geoObjectTypeChange)="onGeoObjectTypeChange($event)"></edit-attribute-modal-content>

  <manage-term-options *ngIf="modalState.state === 'MANAGE-TERM-OPTION'" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute"></manage-term-options>

  <edit-term-option-input *ngIf="modalState.state === 'EDIT-TERM-OPTION'" [geoObjectType]="geoObjectType" [attribute]="modalState.attribute" [termOption]="modalState.termOption"></edit-term-option-input>

</form>